- content_for :breadcrumbs do
  = link_to "Characters", user_characters_path(current_user)
  - if @character.template
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  = link_to @character.name, @character
  &raquo;
  = link_to 'Edit', edit_character_path(@character)
  &raquo;
  %b New Alias

= form_for @alias, url: character_aliases_path(@character), method: :post do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2}= "New Alias"
    %tbody
      %tr
        %th.sub= f.label :name
        %td.even= f.text_field :name, placeholder: "Alias", class: 'text'
    %tfoot
      %tr
        %th.form-table-ender{colspan: 2}= submit_tag "Save", class: 'button'
