- content_for :breadcrumbs do
  = link_to "Characters", user_characters_path(current_user)
  - if @character.template
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  = link_to @character.name, @character
  &raquo;
  = link_to 'Edit', edit_character_path(@character)
  &raquo;
  %b New Alias

= form_for @alias, url: character_aliases_path(@character), method: :post do |f|
  .form-table.alias-editor
    .editor-title= "New Alias"
    %div
      .sub= f.label :name
      .even= f.text_field :name, placeholder: "Alias"
    .form-table-ender= submit_tag "Save", class: 'button'
