-# locals: ()

= form_with model: @message, html: { id: 'message_form' } do |f|
  = f.hidden_field :parent_id, value: @message.parent_id
  .form-table
    .editor-title
      - if @message.thread_id.present?
        Reply to Thread
      - else
        Compose New Message
    %div
      .sub.padding-10.width-150= f.label :recipient_id
      .even.padding-10
        - if @message.parent
          = user_link(@message.recipient) if @message.recipient
        - else
          = f.select :recipient_id, @select_items, prompt: true
    - unless @message.thread_id.present?
      %div
        .sub.padding-10= f.label :subject
        .odd.padding-10= f.text_field :subject, placeholder: 'Subject'
    #message-row
      .sub.padding-10.vtop= f.label :message
      .even.padding-10= f.text_area :message
    .form-table-ender
      = f.submit "Send", class: 'button'
      = f.submit "Preview", class: 'button', name: 'button_preview'
