- col_klass = exp_klass = cycle('even', 'odd')
- if local_assigns[:expanded] || local_assigns[:message_counter] >= @messages.length - 1
  - col_klass += ' hidden'
- else
  - exp_klass += ' hidden'

.post-container.message-collapse{class: col_klass, id: "collapsed-#{message.id}", data: {id: message.id}}
  .padding-10
    .author= link_to(message.sender.username, user_path(message.sender))
    .message= sanitize_written_content(message.short_message).html_safe
    .float-right
      - if message.created_at
        Sent #{pretty_time(message.created_at)}

.post-container.message-expand{class: exp_klass, id: "expanded-#{message.id}", data: {id: message.id}}
  .padding-10
    .post-info-box
      .post-icon= icon_tag message.sender.avatar
      .post-info-text
        .post-character
          %b From:
          = link_to(message.sender.username, user_path(message.sender))
        .post-screenname
          %b To:
          = link_to(message.recipient.username, user_path(message.recipient))
    = sanitize_written_content(message.message).html_safe
  .post-footer
    .right-align> 
      .padding-5>
        - if message.created_at
          Sent #{pretty_time(message.created_at)}
