
= form_for @message, url: messages_path, method: :post, html: { id: 'message_form' } do |f|
  = hidden_field_tag :parent_id, @message.parent_id
  %table.form-table
    %tr
      %th{colspan: 2} Compose New Message
    %tr
      %th.sub.padding-10.width-150 Recipient
      %td.even.padding-10
        - if @message.parent
          = link_to @message.parent.sender.username, user_path(@message.parent.sender)
        - else
          = f.select :recipient_id, options_from_collection_for_select(User.all - [current_user], :id, :username, @message.recipient_id)
    %tr
      %th.sub.padding-10 Subject
      %td.odd.padding-10= f.text_field :subject, placeholder: 'Subject'
    %tr
      %th.sub.padding-10.vtop Message
      %td.even.padding-10= f.text_area :message
    %tr
      %th.subber.centered{colspan: 2}= f.submit "Send", class: 'button'
