- content_for :breadcrumbs do
  = link_to @box.capitalize, messages_path(view: @box)
  &raquo;
  %b= @page_title

.content-header
  %span= @page_title

= render @messages
%br
- unless @message.parent.site_message?
  = render 'editor'
