- content_for :breadcrumbs do
  = link_to @box.capitalize, messages_path(view: @box)
  &raquo;
  %b= @page_title

.post-header
  .padding-15
    %span= @page_title

= render partial: 'single', collection: @messages, as: :message
%br
- unless @message.site_message?
  = render partial: 'editor'
