-# locals: ( f: )

%div
  .sub= f.label :name
  .even= f.text_field :name, placeholder: "Index Name"
%div
  .sub Owner
  .odd= @index.user.deleted? ? '(deleted user)' : @index.user.username
%div
  .sub= f.label :privacy
  .even
    = f.select :privacy, options_from_collection_for_select(index_privacy_settings.to_a, :second, :first, @index.privacy)
%div
  .sub.vtop Editors
  .odd
    = f.radio_button :authors_locked, true, class: 'checkbox'
    = f.label :authors_locked, 'Just me', value: true
    %br
    = f.radio_button :authors_locked, false, class: 'checkbox'
    = f.label :authors_locked, 'Any Constellation user', value: false
%div
  .sub.vtop= f.label :description
  .even= f.text_area :description
.form-table-ender= submit_tag "Save", class: 'button'
