%tr
  %th.sub Name
  %td.even= f.text_field :name, placeholder: "Index Name", class: 'text'
%tr
  %th.sub Owner
  %td.odd= @index.user.username
%tr
  %th.sub Privacy
  %td.even
    = f.select :privacy, options_from_collection_for_select(index_privacy_settings.to_a, :second, :first, @index.privacy)
%tr
  %th.sub.vtop Editors
  %td.odd
    = f.radio_button :open_to_anyone, false, class: 'checkbox'
    = f.label :open_to_anyone, 'Just me', value: false
    %br
    = f.radio_button :open_to_anyone, true, class: 'checkbox'
    = f.label :open_to_anyone, 'Any Constellation user', value: true
%tr
  %th.sub.vtop Description
  %td.even= f.text_area :description
%tr
  %th.form-table-ender{colspan: 2}= submit_tag "Save", class: 'button'
