%table
  %thead
    %tr
      %th.table-title{colspan: 3}
        = Index.model_name.human(count: 2)
        - if logged_in? && current_user.admin?
          = link_to new_index_path do
            .link-box.action-new + New Index
    %tr
      %th.sub= Index.human_attribute_name(:name)
      %th.sub= Post.model_name.human(count: 2)
      %th.sub
  %tbody
    - @indexes.each do |index|
      - klass = cycle('even', 'odd')
      %tr
        %td{class: klass}= link_to index.name, index_path(index)
        %td{class: klass}= index.posts.count
        %td.width-70.right-align{class: klass}
          - if index.editable_by?(current_user)
            = link_to edit_index_path(index) do
              = image_tag "icons/pencil.png", alt: t('alt.edit')
            = link_to index_path(index), method: :delete, confirm: t('indexes.destroy.confirm.name', name: index.name) do
              = image_tag "icons/cross.png", alt: t('alt.delete')
            &nbsp;
  - if @indexes.total_pages > 1
    %tfoot
      %tr
        %td{colspan: 6}= render 'posts/paginator', paginated: @indexes
