Welcome to the Glowfic Constellation. Admire the tiny, tiny words.

%p
  There is a (work in progress) community
  = link_to 'guide to Glowfic.', 'https://docs.google.com/document/d/1_4Z2zdRKaSwZPm3S0X14DYoo7w46U_MZ4En6oOediNQ/edit'

%p
  Join our community on:
  %ul
    %li= link_to "Alicorn's forum", 'http://alicorn.elcenia.com/board/index.php', target: '_blank'
    %li= link_to "IRC", 'https://client00.chat.mibbit.com/?channel=%23glowfic&server=irc.psigenix.net', target: '_blank'
    %li= link_to "Discord", 'https://discord.gg/Ss6fRFj', target: '_blank'
    %li= link_to "Tumblr", 'http://alicorn.elcenia.com/board/viewtopic.php?f=10&t=615', target: '_blank'
