= form_with url: login_path, method: :post do |f|
  %table.form-table
    %thead
      %tr
        %th.table-title{colspan: 2} Sign In
    %tbody
      %tr#username-row
        %th.sub.vtop= f.label :username
        %td.even= f.text_field :username, value: params[:username], placeholder: "Username"
      %tr#password-row
        %th.sub.vtop= f.label :password
        %td.odd
          = f.password_field :password, value: params[:password], placeholder: "Password"
          #remember-link= link_to "Forgot Password?", new_password_reset_path
      %tr#remember-me
        %th.sub.vtop= f.label :remember_me
        %td.even= f.check_box :remember_me
    %tr
      %th.form-table-ender{colspan: 2}= f.submit "Sign In", class: 'button'
