= form_with url: login_path, method: :post do |f|
  .form-table
    .editor-title Sign In
    #username-row
      .sub.vtop= f.label :username
      .even= f.text_field :username, value: params[:username], placeholder: "Username", autocomplete: 'username'
    #password-row
      .sub.vtop= f.label :password
      .odd
        = f.password_field :password, value: params[:password], placeholder: "Password", autocomplete: 'current-password'
        #remember-link= link_to "Forgot Password?", new_password_reset_path
    #remember-me
      .sub.vtop= f.label :remember_me
      .even= f.check_box :remember_me
    .form-table-ender= f.submit "Sign In", class: 'button'
