= form_tag login_path, method: :post do
  %table.form-table
    %thead
      %tr
        %th.table-title{colspan: 2} Sign In
    %tbody
      %tr#username-row
        %th.sub.vtop= label_tag :username
        %td.even= text_field_tag :username, params[:username], placeholder: "Username"
      %tr#password-row
        %th.sub.vtop= f.label :password
        %td.odd
          = password_field_tag :password, params[:password], placeholder: "Password"
          #remember-link= link_to "Forgot Password?", new_password_reset_path
      %tr#remember-me
        %th.sub.vtop= label_tag :remember_me
        %td.even= check_box_tag :remember_me
    %tr
      %th.form-table-ender{colspan: 2}= submit_tag "Sign In", class: 'button'
