= render "devise/shared/error_messages", resource: resource

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  .form-table
    .editor-title Resend confirmation instructions
    %div
      .sub= f.label :email
      .even= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    .form-table-ender.vertical-grid
      %div= f.submit "Resend confirmation instructions"
      = render "devise/shared/links"
