-# locals: ( reply:, post:, split_ui: false )

- if split_ui
  - if reply.is_a?(Reply)
    -# Show the Split button when Split UI is enabled, the reply is a Reply, and the current user is an author of the thread
    -# But don't show any buttons on a post when the Split UI is enabled
    = link_to split_post_path(post, reply_id: reply.id) do
      = image_tag "icons/cut_red.png".freeze, title: 'Split Post Here'.freeze, alt: 'Split Post Here'.freeze
- else
  = link_to post_or_reply_link(reply), rel: 'alternate'.freeze do
    = image_tag "icons/link.png".freeze, title: 'Permalink'.freeze, alt: 'Permalink'.freeze
  - if show_update_buttons
    - if show_edit_button
      = link_to path_for(reply, 'edit_%s') do
        = image_tag "icons/pencil.png".freeze, title: 'Edit'.freeze, alt: 'Edit'.freeze
    - if reply.deletable_by?(current_user)
      = link_to path_for(reply, '%s'), method: :delete, data: { confirm: "Are you sure you wish to delete this #{reply.class.to_s.downcase}?" } do
        = image_tag "icons/cross.png".freeze, title: 'Delete'.freeze, alt: 'Delete'.freeze
  - if show_bookmark_button
    - if (bookmark = reply.bookmark_by(current_user))
      = link_to bookmark_path(bookmark), method: :delete do
        = image_tag "icons/bookmark_delete.png".freeze, title: 'Remove Bookmark'.freeze, alt: 'Remove Bookmark'.freeze
    - else
      = link_to bookmarks_path(at_id: reply.id), method: :post do
        = image_tag "icons/bookmark.png".freeze, title: 'Add Bookmark'.freeze, alt: 'Add Bookmark'.freeze
  - if reply.is_a?(Reply) && logged_in?
    = link_to post_path(post, unread: true, at_id: reply.id), method: :put do
      = image_tag "icons/eye.png".freeze, title: 'Mark Unread Here'.freeze, alt: 'Mark Unread Here'.freeze
