-# locals: ( reply:, post: )

.permalink-read-notice.flash.success
  = link_to '#' do
    = image_tag 'icons/cross.png'.freeze, class: 'float-right flash-dismiss'.freeze, alt: 'Dismiss'
  .permalink-read-notice-message
    = image_tag 'icons/eye.png'.freeze, class: 'vmid'.freeze, alt: ''
    Your reading position on this thread is earlier than this page, so it has not been updated.
  .permalink-read-notice-actions
    = link_to unread_path(post) do
      .link-box.action-edit Go to previous position
    = link_to post_path(post, unread: true, at_id: reply.id), method: :put, data: { confirm: 'Are you sure you want to mark your reading position here?' } do
      .link-box.action-new Mark read here
