%tr
  %td.menu.beige{rowspan: 2}
    .green.icon-holder
      - if reply.is_a? Reply
        <a name="reply-#{reply.id}"></a>
      .relative
        - if reply.icon
          = link_to icon_path(reply.icon) do
            = icon_tag reply.icon
    .dark.label.centered
      - if reply.character
        = link_to reply.character.name, character_path(reply.character)
      - else
        = link_to reply.user.username, user_path(reply.user)
    .beige.expander
      .padding-10
        = link_to reply.user.username, user_path(reply.user)
        %br
        = post_time(reply.created_at)
        %br
        - if reply.is_a?(Reply)
          = link_to 'Link', post_path(reply.post, reply_id: reply.id)
        - else
          = link_to 'Link', post_path(reply)
        - if reply.user == current_user && reply.id.present?
          |
          = link_to 'Edit', path_for(reply, 'edit_%s')
          |
          = link_to 'Delete', path_for(reply, '%s'), method: :delete, confirm: 'Are you sure? This will delete this post AND any post that follows it!'
    - klass = cycle('even', 'odd')
  %td.post.even{class: klass}= reply.content.gsub("\n","<br>").html_safe
%tr
  %td.footer{class: klass}
    - if reply.audits.count > 1
      Last updated:
      = pretty_time reply.updated_at
      |
      = link_to 'See History', path_for(reply, 'history_%s')
    - if @threaded && reply.is_a?(Reply) && params[:thread_id].blank?
      = link_to post_path(reply.post_id, thread_id: reply.thread_id) do
        .character-new-select View Thread &raquo;&nbsp;
%tr
  %td.dark.spacer
  %td.spacer{class: klass}
%tr
  %td.bg.spacer{ :colspan => 2 }
