- if @unseen_replies.present?
  .content-header
    .padding-15
      Unseen Replies
      = link_to unread_path(@post) do
        .view-button.float-left Unread &raquo;

  = render partial: 'replies/single', collection: @unseen_replies, as: :reply
  - if @unseen_replies.total_pages > 1
    .post-ender ... and #{@unseen_replies.total_entries - @unseen_replies.per_page} more ...
  %br

.content-header= @post.subject
- if @post.description.present?
  .post-subheader
    .padding-15= sanitize_post_description(@post.description).html_safe
= render partial: 'replies/single', locals: {reply: @written, show_edit: false}
= render partial: 'write', locals: { reply: @written }
