= form_tag password_resets_path, method: :post do
  .form-table
    .editor-title Request Password Reset
    %div
      .sub= label_tag :username
      .even= text_field_tag :username, params[:username], placeholder: "Username", id: 'user_username', autocomplete: 'username'
    %div
      .sub= label_tag :email
      .odd= text_field_tag :email, params[:email], placeholder: "Email address", id: 'user_email', autocomplete: 'email'
    .form-table-ender= submit_tag "Reset Password", class: 'button'
