= form_with url: password_resets_path, method: :post do |f|
  %table.form-table
    %tr
      %th.editor-title{colspan: 2} Request Password Reset
    %tr
      %th.sub= f.label :username
      %td.even= f.text_field :username, value: params[:username], placeholder: "Username", class: 'text', id: 'user_username'
    %tr
      %th.sub= f.label :email
      %td.odd= f.text_field :email, value: params[:email], placeholder: "Email address", class: 'text', id: 'user_email'
    %tr
      %th.form-table-ender{colspan: 2}= f.submit "Reset Password", class: 'button'
