= form_with model: @password_reset, url: password_reset_path(id: @password_reset.auth_token), scope: '', method: :put do |f|
  %table.form-table
    %tr
      %th.editor-title{colspan: 2} Change Password
    %tr
      %th.sub= f.label :password, 'New'
      %td.odd= f.password_field :password, value: params[:password], placeholder: "New Password", class: 'text'
    %tr
      %th.sub= f.label :password_confirmation, 'Confirm'
      %td.even= f.password_field :password_confirmation, value: params[:password_confirmation], placeholder: "Confirm Password", class: 'text'
    %tr
      %th.form-table-ender{colspan: 2}= f.submit "Save", class: 'button'
