= render "devise/shared/error_messages", resource: resource

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'change_password_form' }) do |f|
  %table.form-table#change-password
    %thead
      %tr
        %th.editor-title{colspan: 2} Change Email or Password
    %tbody
      %tr
        %th.sub= f.label :email, 'Email'
        %td{class: cycle('even', 'odd')}
          = f.text_field :email, required: true, autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %span.details Currently waiting for email confirmation for: #{resource.unconfirmed_email}
      %tr
        %th.sub= f.label :current_password, 'Old'
        %td{class: cycle('even', 'odd')}= f.password_field :current_password, placeholder: "Current Password", autocomplete: 'current-password'
      %tr
        %th.sub= f.label :password, 'New'
        %td{class: cycle('even', 'odd')}
          = f.password_field :password, placeholder: "New Password", autocomplete: 'new-password', minlength: User::MIN_PASSWORD_LEN
          %span.details (Leave these fields blank to only change your email)
      %tr
        %th.sub= f.label :password_confirmation, 'Confirm'
        %td{class: cycle('even', 'odd')}= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: 'new-password', minlength: User::MIN_PASSWORD_LEN
    %tfoot
      %tr
        %th.form-table-ender{colspan: 2}= f.submit "Save", class: 'button'
