- content_for :posts_title do
  Your Favorites
  = link_to favorites_path(view: 'bucket'), class: 'view-button-link' do
    .view-button
      Grouped &raquo;

- if params[:view] == 'bucket'
  %table
    %thead
      %tr
        %th.table-title{colspan: 2}
          Your Favorites
          = link_to favorites_path, class: 'view-button-link' do
            .view-button
              Ungrouped &raquo;
      %tr
        %th.sub Favorite
        %th.sub Favorite Type
    %tbody
      - current_user.favorites.includes(:favorite).order(:favorite_type).each do |favorite_rec|
        %tr
          - klass = cycle('even', 'odd')
          %td{class: klass}
            - if favorite_rec.favorite.is_a? User
              = user_link(favorite_rec.favorite)
            - elsif favorite_rec.favorite.is_a? Board
              = link_to favorite_rec.favorite.name, continuity_path(favorite_rec.favorite)
            - else
              = link_to favorite_rec.favorite.subject, post_path(favorite_rec.favorite)
          %td{class: klass}= favorite_rec.favorite_type == 'Board' ? 'Continuity' : favorite_rec.favorite_type
      - if current_user.favorites.empty?
        %tr
          %td.centered.no-posts.odd{colspan: 2} — No favorites yet —

- else
  = form_tag mark_posts_path, :method => :post do
    = render 'posts/list', posts: @posts, show_unread_count: true, check_box_name: 'marked_ids[]'
    - unless @posts.empty?
      %table
        %tr
          %td.right-align.padding-5{colspan: 8, class: cycle('even', 'odd')}
            = submit_tag "Mark Read", class: 'button'
            = submit_tag "Mark Unread", class: 'button'
