%tr
  %th.sub Name
  %td.even= f.text_field :name, placeholder: "Template Name", class: 'text'
%tr
  %th.sub.vtop Description
  %td.odd= f.text_area :description
%tr
  %th.sub.vtop Characters
  %td.even
    - unless @template.new_record?
      - @template.characters.order('LOWER(name)').each do |char|
        = check_box_tag "template[character_ids][]", char.id, true, id: "template_character_ids_#{char.id}"
        = label_tag "template_character_ids_#{char.id}", char.name
        %br
    - current_user.characters.where(template_id: nil).order('LOWER(name)').each do |char|
      = check_box_tag "template[character_ids][]", char.id, false, id: "template_character_ids_#{char.id}"
      = label_tag "template_character_ids_#{char.id}", char.name
      %br
    =# collection_check_boxes :template, :characters, @template.characters + current_user.characters.where(template_id: nil), :id, :name
%tr
  %th.subber{colspan: 2}= submit_tag "Save", class: 'button'
