- # Template name
%tr
  %td.beige.padding-10{colspan: 6}
    - if template.present?
      %b
        Template:
        = link_to template.name, template_path(template)
      - if current_user.try(:id) == template.user_id
        = link_to new_character_path(template_id: template.id) do
          .link-box.green{style: 'font-size: 14px'} + New Instance
        = link_to edit_template_path(template) do
          .link-box.blue{style: 'font-size: 14px'}
            = image_tag '/images/pencil.png', class: 'vmid'
            Edit
        = link_to template_path(template), method: :delete, confirm: 'Are you sure you want to delete this template?' do
          .link-box.red{style: 'font-size: 14px'} x Delete
    - else
      %b No Template

- # Template description
- if template && template.description.present?
  %tr
    %td.beige.padding-5{colspan: 6}= template.description

- # Empty templates
- if characters.empty?
  %tr
    %td.centered.padding-10{class: cycle('even', 'odd'), colspan: 6} — No characters yet —
- else

  - # Column subtitles
  %tr
    - klass = cycle('even', 'odd')
    %td.padding-5{class: klass}
      %b Name
    %td.padding-5{class: klass}
      %b Nickname
    %td.padding-5{class: klass}
      %b Screenname
    %td.padding-5{class: klass}
      %b Facecast
    %td.padding-5{class: klass}
      %b Setting
    %td.padding-5{class: klass}

  - # Actual character list
  - characters.each do |character|
    - klass = cycle('even', 'odd')
    %tr
      %td.padding-5{class: klass}
        = link_to character.name, character_path(character)
      %td.padding-5{class: klass, style:'width:15%'}= character.template_name
      %td.padding-5{class: klass, style:'width:15%'}= character.screenname
      %td.padding-5{class: klass, style:'width:20%'}= character.pb
      %td.padding-5{class: klass, style:'width:15%'}= character.setting

      %td.width-70.right-align{class: klass}
        - if @user.id == current_user.try(:id)
          = link_to edit_character_path(character) do
            = image_tag "/images/pencil.png"
          = link_to character_path(character), :method => :delete, confirm: 'Are you sure you want to delete '+character.name+'?' do
            = image_tag "/images/cross.png"
          &nbsp;