%table
  %tr
    %th.subber.padding-10
      = title
      - if template.user_id == current_user.try(:id)
        = link_to new_character_path(template_id: template.id) do
          .link-box.green + New Instance
        = link_to edit_template_path(template) do
          .link-box.blue
            = image_tag '/images/pencil.png'
            Edit Template
        = link_to template_path(template), :method => :delete, confirm: 'Are you sure you want to delete this template?' do
          .link-box.red x Delete Template
        - @characters = template.characters
        = render partial: 'characters/icon_view'