= render "devise/shared/error_messages", resource: resource

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  %table.form-table
    %thead
      %tr
        %th.table-title{colspan: 2} Resend unlock instructions
    %tbody
      %tr
        %th.sub= f.label :email
        %td.even= f.email_field :email, autofocus: true, autocomplete: "email"
    %tfoot
      %tr
        %th.form-table-ender{colspan: 2}
          = f.submit "Resend unlock instructions"
          %br
          = render "devise/shared/links"
