-# locals: ( f: )

%div
  .sub= f.label :name
  .even= f.text_field :name, placeholder: "Section Name"
%div
  .sub Index
  .odd
    = @section.index.name
    = f.hidden_field :index_id
%div
  .sub.vtop= f.label :description
  .even= f.text_area :description
.form-table-ender= f.submit "Save", class: 'button'
