- in_collection = local_assigns[:section_counter].present?
- if in_collection
  %tr
    %td.continuity-spacer{colspan: 6}
%tr
  %th{colspan: 6, class: ('sub continuity-header' if in_collection)}
    = link_to section.name, index_section_path(section)
    - if section.index.editable_by?(current_user)
      = link_to new_index_post_path params: {index_id: section.index.id, index_section_id: section.id} do
        .link-box.action-new + Add Post to Section
      = link_to edit_index_section_path(section) do
        .link-box.action-edit
          = image_tag "icons/pencil.png"
          Edit
      = link_to index_section_path(section), method: :delete, data: { confirm: 'Are you sure you want to delete this section?' } do # TODO do I nilify or destroy here?
        .link-box.action-delete x Delete
- if section.description.present?
  %tr
    %th.subber.index-description{colspan: 6}= sanitize_written_content(section.description).html_safe
- section_posts = posts_from_relation(section.posts.order('index_posts.section_order asc'), true, !in_collection, ', index_posts.description as index_description').select { |post| post.visible_to? (current_user) }
- if section_posts.present?
  = render partial: 'posts/list_item', collection: section_posts, as: :post
- else
  %tr
    %td.centered.padding-10.no-posts{ class: cycle('even','odd'), colspan: 6 } — No posts yet —
