- content_for :breadcrumbs do
  = link_to "Indexes", indexes_path
  &raquo;
  = link_to @section.index.name, @section.index
  &raquo;
  %b New Section


= form_for @section, url: index_sections_path, method: :post do |f|
  .form-table
    .editor-title Create #{@index.try(:name)} Section
    = render 'editor', f: f
