-# locals: ( f: )

%div
  .sub= f.label :board_id, 'Continuity'
  .odd
    - if @board_section.posts.present?
      = @board_section.board.name
    - else
      = f.select :board_id, options_from_collection_for_select(allowed_boards(@board_section, current_user), :id, :name, @board_section.board_id), {}, class: 'chosen-select'
%div
  .sub= f.label :name
  .even= f.text_field :name, placeholder: "Section Name"
%div
  .sub.vtop= f.label :description
  .odd= f.text_area :description
.form-table-ender= f.submit "Save", class: 'button'
