- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @board_section.board.name, board_path(@board_section.board)
  &raquo;
  = link_to @board_section.name, board_section_path(@board_section)
  &raquo;
  %b Edit

= form_for @board_section, url: board_section_path(@board_section), method: :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2}= "Edit #{@board_section.name}"
    = render partial: 'editor', locals: {f: f}

- if @board_section.posts.present?
  %br
  %br
  .post-header
    .padding-15 
      Posts
      #saveconf.float-right.hidden
        = image_tag '/images/accept.png', title: 'Saved', class: 'vmid', alt: ''
        Saved
  %table#section-table
    - @board_section.posts.order('section_order asc').each do |post|
      %tr{id: "section-#{post.section_order}", data: {section: post.id, type: post.class.to_s}}
        %td.padding-5{class: cycle('even', 'odd')}
          = link_to post.subject, post_path(post)
          .float-right
            = image_tag "/images/arrow_up.png", class: "section-up pointer", data: {order: post.section_order}
            = image_tag "/images/arrow_down.png", class: "section-down pointer", data: {order: post.section_order}
