- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @board_section.board.name, board_path(@board_section.board)
  &raquo;
  = link_to @board_section.name, board_section_path(@board_section)
  &raquo;
  %b Edit

= form_for @board_section, url: board_section_path(@board_section), method: :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2}= "Edit #{@board_section.name}"
    = render partial: 'editor', locals: {f: f}

- if @board_section.posts.present?
  %br
  %br
  - reset_cycle
  #reorder-posts-table
    .content-header
      Organize Section Posts
      #loading.float-right.hidden= loading_tag
      #saveerror.float-right.hidden
        = image_tag "icons/exclamation.png", title: 'Error', class: 'vmid', alt: '!'
        Error, please refresh
      #saveconf.float-right.hidden
        = image_tag "icons/accept.png", title: 'Saved', class: 'vmid', alt: ''
        Saved
    %ul.sortable.table-list
      - @board_section.posts.ordered_in_section.each do |post|
        %li.section-ordered{class: cycle('even', 'odd'), data: {id: post.id, type: post.class.to_s, order: post.section_order}}
          .section-ordered-handle
            = image_tag "icons/arrow_double.png", title: 'Reorder', class: 'disabled-arrow', alt: '↕'
          = link_to post.subject, post_path(post)
          .float-right
            = image_tag "icons/arrow_up.png", class: "section-up disabled-arrow"
            = image_tag "icons/arrow_down.png", class: "section-down disabled-arrow"
