-# locals: ( writable:, multi_replies_params: nil )

- character_galleries = writable.character.galleries.ordered if writable.character && current_user.icon_picker_grouping? && writable.character.galleries.count > 1
#post-editor.padding-10
  .post-info-box
    #current-icon-holder.post-icon
      - if writable.icon
        = icon_tag writable.icon, id: 'current-icon', pointer: writable.has_icons?, data: { icon_id: writable.icon_id }
      - elsif writable.character.nil? && current_user.avatar
        = icon_tag current_user.avatar, id: 'current-icon', pointer: writable.user.avatar_id?, data: { icon_id: current_user.avatar_id }
      - else
        = no_icon_tag id: 'current-icon', pointer: writable.has_icons?, data: { icon_id: '' }
      #icon-overlay
    #current-icon-dropdown= dropdown_icons(writable, character_galleries)
    .post-info-text
      .post-character{class: ('hidden' unless writable.character), data: { character_id: writable.character_id || '', alias_id: writable.character_alias_id || '' }}
        %span#name= writable.name
        - klass = ['selector-popup-button']
        - klass << 'hidden' unless writable.character.try(:aliases).present?
        - if current_user.layout_auto?
          = auto_image_tag 'icons/swap.png', 'icons/swapgray.png', id: 'swap-alias', alt: 'Choose Alias', title: 'Choose Alias', class: klass
        - else
          = image_tag swap_icon_url, id: 'swap-alias', alt: 'Choose Alias', title: 'Choose Alias', class: klass
        #alias-selector.selector-popup
          %h4 Choose Alias
          = select_tag :character_alias, options_from_collection_for_select(writable.character.try(:aliases).to_a, :id, :name, writable.character_alias_id), prompt: writable.character.try(:name), class: 'chosen-select'
      .post-screenname{class: ('hidden' unless writable.character.try(:screenname))}= writable.character.try(:screenname)
      #post-author-spacer.spacer-alt{class: ('hidden' if writable.character)}
      .post-author
        = writable.user.username
        - if current_user.characters.present?
          - if current_user.layout_auto?
            = auto_image_tag 'icons/swap.png', 'icons/swapgray.png', id: 'swap-character', alt: 'Choose Character', title: 'Choose Character', class: 'selector-popup-button'
          - else
            = image_tag swap_icon_url, id: 'swap-character', alt: 'Choose Character', title: 'Choose Character', class: 'selector-popup-button'
          #character-selector.selector-popup
            #swap-character-character
              %h4 Choose Character
              = select_tag :active_character,
              option_groups_from_collection_for_select(@templates, :plucked_characters, :name, :first, :last, writable.character_id),
              { prompt: current_user.username, class: 'chosen-select' }
            #swap-character-npc
              %h4 Choose NPC
              = select_tag :active_npc,
              option_groups_from_collection_for_select(@npcs, :plucked_npcs, :name, :first, :last, writable.character_id),
              { prompt: "Select NPC or type to create" }
            %button.view-button#select-character{type: 'button'} Character
            %button.view-button#select-npc{type: 'button'} NPC
      - if writable.is_a?(Reply)
        .post-char-access
          - char_count = 10
          - char_count -= 1 if current_user.show_user_in_switcher?
          - recent_characters = writable.post.try(:recent_characters_for, current_user, char_count, multi_replies_params: multi_replies_params)
          - if current_user.show_user_in_switcher?
            = user_icon_tag(current_user)
          - if recent_characters.present?
            - recent_characters.each do |character|
              = character_icon_tag character
  #reply-icon-selector
    - if character_galleries.present?
      - character_galleries.each do |gallery|
        .gallery-group
          .gallery-name= gallery.name
          - gallery.icons.each do |icon|
            .gallery-icon
              = icon_tag icon, data: { icon_id: icon.id }, pointer: true, class: "img-#{icon.id}"
              %br>
              = icon.keyword

      - all_ids = writable.character.icons.pluck(:id) # handle edge cases
      - if writable.character.default_icon && all_ids.exclude?(writable.character.default_icon_id)
        .gallery-icon
          = icon_tag writable.character.default_icon, pointer: true, data: { icon_id: writable.character.default_icon_id }, class: "img-#{writable.character.default_icon_id}"
          %br>
          = writable.character.default_icon.keyword
      - if writable.icon && all_ids.exclude?(writable.icon_id)
        .gallery-icon
          = icon_tag writable.icon, pointer: true, data: { icon_id: writable.icon_id }, class: "img-#{writable.icon_id}"
          %br>
          = writable.icon.keyword
    - else
      - icons = writable.character.try(:icons) || []
      - icons |= [writable.character.default_icon] if writable.character.try(:default_icon)
      - icons |= [writable.icon] if writable.icon
      - icons |= [current_user.avatar] if !writable.character && current_user.avatar
      - icons.each do |icon|
        .gallery-icon
          = icon_tag icon, data: { icon_id: icon.id }, pointer: true, class: "img-#{icon.id}"
          %br>
          = icon.keyword
    .gallery-icon
      = no_icon_tag pointer: true
      %br>
      No Icon
  = yield :form
  .clear &nbsp;
- if writable.is_a?(Post)
  .subber.centered= yield :buttons
