%table.alternating
  %thead
    %tr
      %th.table-title{colspan: 3} Users
    %tr
      %th.subber.padding-10{colspan: 3}
        = form_tag search_users_path, method: :get do
          = label_tag :search_username, 'Search by username:'
          = text_field_tag :username, params[:username], style: 'margin: 0px 5px;', id: :search_username
          = submit_tag "Search", class: 'button'
    %tr
      %th.sub Name
      %th.width-70.sub.centered Moiety
      %th.sub Date Joined
  %tbody
    - @users.each do |user|
      %tr.user-row
        %td.padding-10.username= link_to user.username, user_path(user)
        %td.padding-10.user-moiety.centered.width-70= color_block(user)
        %td.padding-10.user-date= pretty_time(user.created_at)
  - if @users.total_pages > 1
    %tfoot
      %tr
        %td{colspan: 3}= render 'posts/paginator', paginated: @users
