%table
  %thead
    %tr
      %th.table-title{colspan: 3} Users
    %tr
      %th.subber.padding-10{colspan: 3}
        = form_with url: search_users_path, method: :get do |f|
          = f.label :search_username, 'Search by username:'
          = f.text_field :username, value: params[:username], style: 'margin: 0px 5px;', id: :search_username
          = f.submit "Search", class: 'button'
    %tr
      %th.sub Name
      %th.width-70.sub.centered Moiety
      %th.sub Date Joined
  = render 'list', users: @users
