= form_for @user, url: users_path, method: :post do |f|
  %table#signup.form-table
    %thead
      %tr
        %th{colspan: 2} Sign Up
    %tbody
      %tr#username
        %th.sub.vtop Username
        %td.even
          = f.text_field :username, placeholder: "Username"
          .alert.hidden{style: 'margin: 2px 0px;'}
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#email
        %th.sub.vtop Email
        %td.odd
          = f.text_field :email, placeholder: "Email address"
          .alert.hidden{style: 'margin: 2px 0px;'}
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#password
        %th.sub.vtop Password
        %td.even
          = f.password_field :password, placeholder: "Password"
          .alert.hidden{style: 'margin: 2px 0px;'}
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#conf
        %th.sub.vtop Confirm
        %td.odd
          = f.password_field :password_confirmation, placeholder: "Confirm Password"
          .alert.hidden{style: 'margin: 2px 0px;'}
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#secret
        %th.sub.vtop Secret
        %td.even
          = text_field_tag :secret, params[:secret], placeholder: "Secret"
      %tr#terms
        %th.sub.vtop Terms
        %td.odd
          = check_box_tag :tos, true, params[:tos].present?
          = label_tag :tos do
            I have read and agree to the
            = link_to 'Terms of Service', tos_path
            and the
            = link_to 'Privacy Policy', privacy_path
          .alert.hidden{style: 'margin: 2px 0px;'}
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
    %tr
      %th.form-table-ender{colspan: 2}= submit_tag "Sign Up", class: 'button'
