= form_for @user, url: users_path, method: :post do |f|
  %table#signup.form-table
    %thead
      %tr
        %th.table-title{colspan: 2} Sign Up
    %tbody
      %tr#signup-username
        %th.sub.vtop= f.label :username
        %td.even
          = f.text_field :username, placeholder: "Username"
          .user-alert.hidden
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#signup-email
        %th.sub.vtop= f.label :email
        %td.odd
          = f.text_field :email, placeholder: "Email address"
          .user-alert.hidden
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#signup-password
        %th.sub.vtop= f.label :password
        %td.even
          = f.password_field :password, placeholder: "Password"
          .user-alert.hidden
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#signup-password-confirmation
        %th.sub.vtop= f.label :password_confirmation, 'Confirm'
        %td.odd
          = f.password_field :password_confirmation, placeholder: "Confirm Password"
          .user-alert.hidden
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
      %tr#signup-secret
        %th.sub.vtop= f.label :secret
        %td.even
          = text_field_tag :secret, params[:secret], placeholder: "Secret"
      %tr#signup-captcha
        %th.sub.vtop Captcha
        %td.odd
          = text_field_tag :addition, params[:addition], placeholder: "Please enter five times two plus four as a number (e.g. 3 not three)"
      %tr#signup-terms
        %th.sub.vtop Terms
        %td.odd
          = check_box_tag :tos, true, params[:tos].present?
          = label_tag :tos do
            I have read and agree to the
            = link_to 'Terms of Service', tos_path
            and the
            = link_to 'Privacy Policy', privacy_path
          .user-alert.hidden
            = image_tag 'icons/exclamation.png', alt: '!', title: '', class: 'vmid'
            %span.msg
    %tr
      %th.form-table-ender{colspan: 2}= submit_tag "Sign Up", class: 'button'
