= render 'search/breadcrumbs'

.search-collapsible
  .search-params-header
    Search Users
    - if @search_results
      = "- #{@search_results.total_entries} results"
  .search-results-header
    - if @search_results
      = render 'posts/paginator', paginated: @search_results, no_per: true
  .search-box
    = form_tag search_users_path, method: :get do
      .search-form#users-search
        .label= label_tag :search_username, 'Username'
        .select= text_field_tag :username, params[:username], id: :search_username
        .search-form-ender= submit_tag "Search", class: 'button'
  .vtop
    - if @search_results.present?
      %table
        %thead
          %tr
            %th.sub Name
            %th.width-70.sub.centered Moiety
            %th.sub Date Joined
        %tbody
          - @search_results.each do |user|
            %tr.user-row
              - klass = cycle('even', 'odd')
              %td.padding-10.username{class: klass}= user_link(user)
              %td.padding-10.user-moiety.centered.width-70{class: klass}= color_block(user)
              %td.padding-10.user-date{class: klass}= pretty_time(user.created_at)
  - if @search_results && @search_results.total_pages > 1
    .search-params-header.empty
    .search-results-header= render 'posts/paginator', paginated: @search_results, no_per: true
