%table{style: 'width:200px; float: left;'}
  %thead
    %tr
      %th.centered.username= @user.username
  %tbody
    - if @user.avatar
      %tr
        %td.green.centered.user-avatar
          = link_to icon_path(@user.avatar) do
            = icon_tag @user.avatar
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to new_message_path(recipient_id: @user.id) do
          = image_tag '/images/email.png', class: 'vmid'
          Send Message
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to user_characters_path(@user), class: 'user-characters' do
          = image_tag '/images/group.png', class: 'vmid'
          Characters
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to user_galleries_path(@user), class: 'user-galleries' do
          = image_tag '/images/photos.png', class: 'vmid'
          Galleries
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to search_posts_path(author_id: @user.id, commit: 'Search') do
          = image_tag '/images/book_open.png', class: 'vmid'
          All Posts
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to search_posts_path(author_id: @user.id, commit: 'Search', completed: true) do
          = image_tag '/images/book.png', class: 'vmid'
          Completed Posts
    - unless @user.id == current_user.try(:id)
      %tr
        %td.centered{class: cycle('even', 'odd')}
          - if fav = Favorite.between(current_user, @user)
            = link_to favorite_path(fav), method: :delete do
              = image_tag '/images/star_delete.png', class: 'vmid'
              Unfavorite
          - else
            = link_to favorites_path(user_id: @user.id), method: :post do
              = image_tag '/images/star_add.png', class: 'vmid'
              Favorite


- content_for :posts_title do
  #{@user.username}'s Recent Posts
= render partial: 'posts/list', locals: {posts: @posts, path: :user_path, style: 'width: calc(100% - 200px); float:left;'}
