= render "devise/shared/error_messages", resource: resource

%h2 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token
  .form-table
    .editor-title Change your password
    %div
      .sub= f.label :password, 'New'
      %div{class: cycle('even', 'odd')}= f.password_field :password, autofocus: true, placeholder: "New Password", autocomplete: 'new-password', minlength: User::MIN_PASSWORD_LEN, required: true
    %div
      .sub= f.label :password_confirmation, 'Confirm'
      %div{class: cycle('even', 'odd')}= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: 'new-password', minlength: User::MIN_PASSWORD_LEN, required: true
    .form-table-ender.vertical-grid
      %div= f.submit "Change my password"
      = render "devise/shared/links"
