= render "devise/shared/error_messages", resource: resource

%h2 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.hidden_field :reset_password_token
  %table.form-table
    %thead
      %tr
        %th.table-title{colspan: 2} Change your password
    %tbody
      %tr
        %th.sub= f.label :password, 'New'
        %td{class: cycle('even', 'odd')}= f.password_field :password, autofocus: true, placeholder: "New Password", autocomplete: 'new-password', minlength: User::MIN_PASSWORD_LEN, required: true
      %tr
        %th.sub= f.label :password_confirmation, 'Confirm'
        %td{class: cycle('even', 'odd')}= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: 'new-password', minlength: User::MIN_PASSWORD_LEN, required: true
    %tfoot
      %tr
        %th.form-table-ender{colspan: 2}
          = f.submit "Change my password"
          %br
          = render "devise/shared/links"
