- content_for :breadcrumbs do
  = link_to Block.model_name.pluralize, blocks_path
  &raquo;
  = t('.block_on', name: @block.blocked_user.username)
  &raquo;
  %b= t(:edit)

= form_for @block, url: block_path(@block), method: :put do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2}= t('.form_title')
    = render 'editor', f: f, blocked_user: @block.blocked_user
