%span.time-loaded= pretty_time(DateTime.now.in_time_zone)

- content_for :flashes do
  .flash.error
    = image_tag "icons/exclamation.png".freeze, class: 'vmid'.freeze
    = t('.status')

%table
  %thead
    %tr
      %th.table-title{colspan: 5}
        = @page_title
        = link_to new_block_path do
          .link-box.action-new= t('button.new.block')
    %tr
      %th.sub= t('.header.user')
      %th.sub= t('.header.interaction')
      %th.sub= t('.header.theirs')
      %th.sub= t('.header.yours')
      %th.sub
  %tbody
    - @blocks.ordered.each do |block|
      - klass = cycle('even', 'odd')
      %tr
        %td.padding-5{class: klass}
          = user_link(block.blocked_user)
        %td.padding-5{class: klass}= block.block_interactions? ? t('.yes') : t('.no')
        %td.padding-5{class: klass}
          - if block.hide_them_all?
            = t('.option.all')
          - elsif block.hide_them_posts?
            = t('.option.posts')
          - else
            = t('.option.none')
        %td.padding-5{class: klass}
          - if block.hide_me_all?
            = t('.option.all')
          - elsif block.hide_me_posts?
            = t('.option.posts')
          - else
            = t('.option.none')
        %td.width-70.right-align{class: klass}
          = link_to edit_block_path(block) do
            = image_tag "icons/pencil.png", alt: t('alt.edit')
          = link_to block_path(block), method: :delete, data: { confirm: t('confirm.destroy.block', name: block.blocked_user.username) } do
            = image_tag "icons/cross.png", alt: t('alt.delete')
          &nbsp;
    - if @blocks.empty?
      %tr
        %td.centered.padding-10.no-posts{ class: cycle('even', 'odd'), colspan: 5 }= t('.empty')
