- content_for :breadcrumbs do
  = link_to Block.model_name.pluralize, blocks_path
  &raquo;
  %b= t(:new)

= form_for @block do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2}= t('.title')
    = render 'editor', f: f
