- content_for :breadcrumbs do
  = link_to "Admin Tools", admin_path
  &raquo;
  Regenerate Flat Posts

= form_with url: do_regenerate_posts_path, method: :post do |f|
  .form-table
    .editor-title Regenerate Flatposts
    %div
      .sub= f.label :before, 'Last Regenerated Before'
      %div{class: cycle('even', 'odd')}= f.datetime_field :before, value: params[:before] || Time.zone.now
    %div
      .sub Force Regenerate?
      .checkbox-field.padding-5{class: cycle('even', 'odd')}
        = f.check_box :force, checked: params[:force], class: 'vmid'
        = f.label :force, "Include Flatposts Regenerated Since Post Last Tagged", class: 'vmid'
    .form-table-ender
      = f.submit 'Regenerate', class: 'button', id: 'submit_button', data: { disable_with: 'Regenerating...' }
