- characters = name.characters.non_npcs.ordered unless local_assigns[:characters]
- characters = characters.where(retired: false) unless local_assigns.fetch(:show_retired) { show_retired }

- if @template.nil? && name.present?
  %tr
    %td.subber.padding-10{colspan: 6}
      - if name.is_a? String
        %b= name
        - if local_assigns[:show_new_character_button]
          = link_to new_character_path do
            .link-box.action-new{style: 'font-size: 14px'}= t('characters.new.button.generic')
      - else
        %b
          = t('characters.index.template_prefix')
          = link_to name.name, template_path(name)
        - if current_user.try(:id) == name.user_id
          = link_to new_character_path(template_id: name.id) do
            .link-box.action-new{style: 'font-size: 14px'}= t('characters.new.button.instance')
          = link_to edit_template_path(name) do
            .link-box.action-edit{style: 'font-size: 14px'}
              = image_tag "icons/pencil.png", class: 'vmid', alt: ''
              = t('button.edit')
          = link_to template_path(name), method: :delete, data: { confirm: t('templates.destroy.confirm') } do
            .link-box.action-delete{style: 'font-size: 14px'}= t('button.delete')
- if @template && @template.description.present?
  %tr
    %td.single-description.written-content{colspan: 6}= sanitize_written_content(@template.description)
- elsif @template.nil? && name.present? && name.is_a?(::Template) && name.description.present?
  %tr
    %td.single-description.written-content{colspan: 6}= sanitize_written_content(name.description)
%tr
  %td.icons-box.left-align
    .character-icon-list
      - characters = characters.left_outer_joins(:default_icon).pluck(:id, :name, :screenname, :user_id, :url, :keyword)
      = render partial: 'characters/icon_item', collection: characters, as: :character
      - unless characters.present?
        .centered= t('characters.index.empty')
