- if @template.nil? && name.present?
  %tr
    %td.subber.padding-10{colspan: 6}
      - if name.is_a? ActiveRecord::Base::Template
        %b
          Template:
          = link_to name.name, template_path(name)
        - if current_user.try(:id) == name.user_id
          = link_to new_character_path(template_id: name.id) do
            .link-box.green{style: 'font-size: 14px'} + New Instance
          = link_to edit_template_path(name) do
            .link-box.blue{style: 'font-size: 14px'}
              = image_tag '/images/pencil.png', class: 'vmid'
              Edit
          = link_to template_path(name), method: :delete, data: { confirm: 'Are you sure you want to delete this template?' } do
            .link-box.red{style: 'font-size: 14px'} x Delete
      - else
        %b= name
- if @template && @template.description.present?
  %tr
    %td.single-description.written-content{colspan: 6}= sanitize_written_content(@template.description).html_safe
%tr
  %td.green.left-align
    .gallery
      - characters.includes(:default_icon).each do |character|
        .gallery-icon
          = link_to character_path(character) do
            - if character.default_icon
              = icon_tag character.default_icon
              %br
            - else
              .icon.gallery-no-icon &nbsp;
              %br
            %span.character-name= character.name
            - if character.screenname.present?
              %br
              %span.character-screenname= surround('(', ')') { sanitize(character.screenname).gsub('_', '_<wbr>') }
          - if character.user_id == current_user.try(:id)
            .delete-button{ id: character.id }
              = link_to '×', character_path(character), :method => :delete, data: { confirm: 'Are you sure you want to delete '+character.name+'?' }
      - unless characters.present?
        .centered — No characters yet —
