- if @template && @template.description.present?
  %tr
    %td.beige.padding-5{colspan: 6}= @template.description
%tr
  %td.green.left-align
    .gallery
      - characters.each do |character|
        .gallery-icon
          = link_to character_path(character) do
            - if character.default_icon
              = icon_tag character.default_icon
              %br
            - else
              <div class='icon gallery-no-icon'>&nbsp;</div>
              %br
            %span.character-name= character.name
            - if character.screenname.present?
              %br
              %span.character-screenname= surround('(', ')') { sanitize(character.screenname).gsub('_', '_<wbr>') }
          - if character.user_id == current_user.try(:id)
            .delete-button{ id: character.id }
              = link_to 'X', character_path(character), :method => :delete, data: { confirm: 'Are you sure you want to delete '+character.name+'?' }
      - unless characters.present?
        .centered — No characters yet —
