- char_id, char_name, screenname, user_id, url, keyword = character
.character-icon-item
  = link_to character_path(char_id) do
    - if url
      = icon_mem_tag(url, keyword)
    - else
      .icon.character-no-icon No icon
    .character-name= char_name
    - if screenname
      .character-screenname= surround('(', ')') { breakable_text(screenname) }
  - if Character.deletable_by?(current_user, user_id)
    .delete-button{ id: char_id }
      = link_to '×', character_path(char_id), method: :delete, data: { confirm: t('characters.destroy.confirm', name: char_name) }
