- if @template.nil? && name.present?
  %tr
    %td.subber.padding-10{colspan: 6}
      - if name.is_a? String
        %b= name
        - if local_assigns[:show_new_character_button]
          = link_to new_character_path do
            .link-box.action-new{style: 'font-size: 14px'} + New Character
      - else
        %b
          Template:
          = link_to name.name, template_path(name)
        - if current_user.try(:id) == name.user_id
          = link_to new_character_path(template_id: name.id) do
            .link-box.action-new{style: 'font-size: 14px'} + New Instance
          = link_to edit_template_path(name) do
            .link-box.action-edit{style: 'font-size: 14px'}
              = image_tag "icons/pencil.png", class: 'vmid'
              Edit
          = link_to template_path(name), method: :delete, data: { confirm: 'Are you sure you want to delete this template?' } do
            .link-box.action-delete{style: 'font-size: 14px'} x Delete
- if @template && @template.description.present?
  %tr
    %td.single-description.written-content{colspan: 6}= sanitize_written_content(@template.description)
- elsif @template.nil? && name.present? && name.is_a?(::Template) && name.description.present?
  %tr
    %td.single-description.written-content{colspan: 6}= sanitize_written_content(name.description)
%tr
  %td.icons-box.left-align
    .character-icon-list
      - characters.left_outer_joins(:default_icon).pluck(:id, :name, :screenname, :user_id, :url, :keyword).each do |plucked|
        - char_id, char_name, screenname, user_id, url, keyword = plucked
        .character-icon-item
          = link_to character_path(char_id) do
            - if url
              = icon_mem_tag(url, keyword)
            - else
              .icon.character-no-icon &nbsp;
            .character-name= char_name
            - if screenname
              .character-screenname= surround('(', ')') { breakable_text(screenname) }
          - if Character.deletable_by?(current_user, user_id)
            .delete-button{ id: char_id }
              = link_to '×', character_path(char_id), :method => :delete, data: { confirm: 'Are you sure you want to delete '+char_name+'?' }
      - unless characters.present?
        .centered — No characters yet —
