- @user.templates.order('name asc').each do |template|  
  %tr
    %td.beige.padding-10{colspan: 3}
      %b Template: #{template.name}
  - if template.characters.empty?
    %tr
      %td.centered.padding-5{class: cycle('even', 'odd'), colspan: 3} — No characters yet —
    - next
  %tr
    - klass = cycle('even', 'odd')
    %td.padding-5{class: klass}
      %b Name
    %td.padding-5{class: klass}
      %b Nickname
    %td.padding-5{class: klass}
      %b Screenname
  - template.characters.order('name asc').each do |character|
    - klass = cycle('even', 'odd')
    %tr
      %td.padding-5.left-align{class: klass}
        = link_to character.name, character_path(character)
      %td{class: klass, style:'width:33%'}= character.template_name
      %td{class: klass, style:'width:33%'}= character.screenname
- unless @user.characters.where(template_id: nil).count.zero?
  %tr
    %td.beige.padding-10{colspan: 3}
      %b No Template
- @user.characters.where(template_id: nil).order('name asc').each do |character|
  - klass = cycle('even', 'odd')
  %tr
    %td.padding-5.left-align{class: klass}
      = link_to character.name, character_path(character)
    %td{class: klass, style:'width:33%'}= character.template_name
    %td{class: klass, style:'width:33%'}= character.screenname
