- col_count = 6
- col_count += 1 if local_assigns[:show_template]
- if @template.nil? && name.present?
  %tr
    %td.subber.character-list-template{colspan: col_count}
      - if name.is_a? String
        %b= name
        - if local_assigns[:show_new_character_button]
          = link_to new_character_path do
            .link-box.action-new{style: 'font-size: 14px'} + New Character
      - else
        %b
          Template:
          = link_to name.name, template_path(name)
        - if current_user.try(:id) == name.user_id
          = link_to new_character_path(template_id: name.id) do
            .link-box.action-new{style: 'font-size: 14px'} + New Instance
          = link_to edit_template_path(name) do
            .link-box.action-edit{style: 'font-size: 14px'}
              = image_tag "icons/pencil.png", class: 'vmid'
              Edit
          = link_to template_path(name), method: :delete, data: { confirm: 'Are you sure you want to delete this template?' } do
            .link-box.action-delete{style: 'font-size: 14px'} x Delete
- if @template && @template.description.present?
  %tr
    %td.single-description.written-content{colspan: col_count}= sanitize_written_content(@template.description)
- elsif @template.nil? && name.present? && name.is_a?(::Template) && name.description.present?
  %tr
    %td.single-description.written-content{colspan: col_count}= sanitize_written_content(name.description)
- if characters.empty?
  %tr
    %td.centered.padding-5{class: cycle('even', 'odd'), colspan: col_count} — No characters yet —
- else
  %tr
    - klass = cycle('even', 'odd')
    %td.padding-5{class: klass}
      %b Name
    - if local_assigns[:show_template]
      %td.padding-5{class: klass}
        %b Template
    %td.padding-5{class: klass}
      %b Nickname
    %td.padding-5{class: klass}
      %b Screenname
    %td.padding-5{class: klass}
      %b Facecast
    %td.padding-5{class: klass}
      - if local_assigns[:show_user]
        %b User
      - else
        %b Setting
    %td.padding-5{class: klass}
  - settings = settings_info(characters) unless local_assigns[:show_user]
  - pluck = characters_list(characters.ordered, local_assigns[:show_template])
  - pluck.each do |plucked|
    - char_id, char_name, nickname, screenname, pb, user_id, username, user_deleted = plucked
    - if local_assigns[:show_template]
      - template_id, template_name = plucked[-2..]
    - klass = cycle('even', 'odd')
    %tr
      %td.padding-5{class: klass}
        = link_to char_name, character_path(char_id)
      - if local_assigns[:show_template]
        %td.padding-5{class: klass}
          - if template_id.present?
            = link_to template_name, template_path(template_id)
      %td.padding-5{class: klass, style: 'width:15%'}= nickname
      %td.padding-5{class: klass, style: 'width:15%'}= breakable_text(screenname)
      %td.padding-5{class: klass, style: 'width:20%'}= pb
      %td.padding-5{class: klass, style: 'width:15%'}
        - if local_assigns[:show_user]
          = user_mem_link(user_id, username, user_deleted)
        - else
          - setting_links = settings.fetch(char_id, []).map { |setting| link_to(setting[1], tag_path(setting[0])) }
          = safe_join(setting_links, ', ')

      %td.width-70.right-align{class: klass}
        - unless local_assigns[:hide_buttons]
          - if Character.editable_by?(current_user, user_id)
            = link_to edit_character_path(char_id) do
              = image_tag "icons/pencil.png"
          - if Character.deletable_by?(current_user, user_id)
            = link_to character_path(char_id), :method => :delete, data: { confirm: "Are you sure you want to delete #{char_name}?" } do
              = image_tag "icons/cross.png"
            &nbsp;
  - if characters.methods.include?(:total_pages) && characters.total_pages > 1
    %tfoot
      %tr
        %td{colspan: col_count}= render 'posts/paginator', paginated: characters
