%tr
  %td.beige.padding-10{colspan: 6}
    - if name.is_a? ActiveRecord::Base::Template
      %b
        Template:
        = link_to name.name, template_path(name)
    - else
      %b= name
- if characters.empty?
  %tr
    %td.centered.padding-5{class: cycle('even', 'odd'), colspan: 6} — No characters yet —
- else
  %tr
    - klass = cycle('even', 'odd')
    %td.padding-5{class: klass}
      %b Name
    %td.padding-5{class: klass}
      %b Nickname
    %td.padding-5{class: klass}
      %b Screenname
    %td.padding-5{class: klass}
      %b PB
    %td.padding-5{class: klass}
      %b Setting
    %td.padding-5{class: klass}
  - characters.order('name asc').each do |character|
    - klass = cycle('even', 'odd')
    %tr
      %td.padding-5{class: klass}
        = link_to character.name, character_path(character)
      %td.padding-5{class: klass, style:'width:15%'}= character.template_name
      %td.padding-5{class: klass, style:'width:15%'}= character.screenname
      %td.padding-5{class: klass, style:'width:20%'}= character.pb
      %td.padding-5{class: klass, style:'width:15%'}= character.setting

      %td.width-70.right-align{class: klass}
        - if @user.id == current_user.try(:id)
          = link_to edit_character_path(character) do
            = image_tag "/images/pencil.png"
          = link_to character_path(character), :method => :delete, confirm: 'Are you sure you want to delete '+character.name+'?' do
            = image_tag "/images/cross.png"
          &nbsp;
