- if @group
  - @group.characters.map(&:template).uniq.each do |template|
    - next unless template
    = render partial: 'list_section', locals: {name: "Template: #{template.name}", characters: template.characters}
  - if @group.characters.where(template_id: nil).exists?
    = render partial: 'list_section', locals: {name: "No Template", characters: @group.characters.where(template_id: nil).order('name asc')}
- elsif @user.character_groups.exists?
  %tr
    %td.bg.spacer{colspan: 5}
  - @user.character_groups.order('id asc').each do |group|
    %tr
      %th{colspan: 5}= group.name
    - group.characters.map(&:template).uniq.each do |template|
      - next unless template
      = render partial: 'list_section', locals: {name: "Template: #{template.name}", characters: template.characters}
    = render partial: 'list_section', locals: {name: "No Template", characters: group.characters.where(template_id: nil).order('name asc')}
  - if @user.characters.where(character_group_id: nil).exists?
    %tr
      %th{colspan: 5} Ungrouped Characters
    - @user.characters.where(character_group_id: nil).map(&:template).uniq.each do |template|
      - next unless template
      = render partial: 'list_section', locals: {name: "Template: #{template.name}", characters: template.characters}
    = render partial: 'list_section', locals: {name: "No Template", characters: @user.characters.where(character_group_id: nil).where(template_id: nil).order('name asc')}

- elsif @user.characters.exists?
  - @user.templates.order('name asc').each do |template|  
    = render partial: 'list_section', locals: {name: "Template: #{template.name}", characters: template.characters}

  - unless @user.characters.where(template_id: nil).count.zero?
    = render partial: 'list_section', locals: {name: "No Template", characters: @user.characters.where(template_id: nil).order('name asc')}
- else
  %tr
    %td.centered.padding-10{class: cycle('even', 'odd'), colspan: 5} — No characters yet —
