-# locals: ( character:, settings:, show_template: false, show_user: false, hide_buttons: false )

- char_id, char_name, nickname, screenname, pb, cluster, user_id, username, user_deleted = character
- if show_template
  - template_id, template_name = character[-2..]
- klass = cycle('even', 'odd')
%tr
  %td.padding-5{class: klass}
    = link_to char_name, character_path(char_id)
  - if show_template
    %td.padding-5{class: klass}
      - if template_id.present?
        = link_to template_name, template_path(template_id)
  %td.padding-5{class: klass}= cluster
  %td.padding-5{class: klass, style: 'width:15%'}= nickname
  %td.padding-5{class: klass, style: 'width:15%'}= breakable_text(screenname)
  %td.padding-5{class: klass, style: 'width:20%'}= pb
  - if show_settings || !show_user
    %td.padding-5{class: klass, style: 'width:15%'}
      - setting_links = settings.fetch(char_id, []).map { |setting| link_to(setting[1], tag_path(setting[0])) }
      = safe_join(setting_links, ', ')
  - if show_user
    %td.padding-5{class: klass, style: 'width:10%'}
      = user_mem_link(user_id, username, user_deleted)

  - unless hide_buttons
    %td.width-70.right-align{class: klass}
      - if Character.editable_by?(current_user, user_id)
        = link_to edit_character_path(char_id) do
          = image_tag "icons/pencil.png", alt: 'Edit'
      - if Character.deletable_by?(current_user, user_id)
        = link_to character_path(char_id), method: :delete, data: { confirm: "Are you sure you want to delete #{char_name}?" } do
          = image_tag "icons/cross.png", alt: 'Delete'
        &nbsp;
