- content_for :breadcrumbs do
  = link_to "You", user_path(current_user)
  &raquo;
  = link_to "Your Characters", user_characters_path(current_user)
  &raquo;
  - if @character.template.try(:persisted?)
    = link_to @character.template.name, template_path(@character.template)
    &raquo;
  = link_to @character.name, @character
  &raquo;
  %b Edit

= form_for @character, url: @character, method: :put do |f|
  .character-form
    .form-table#character-editor
      .editor-title= @character.name
      = render 'editor', f: f

    %br
    .form-table#alias-index
      .editor-title
        Aliases and Pseudonyms
        - if @character.user_id == current_user.id
          = link_to new_character_alias_path(@character) do
            .link-box.action-new + New Alias
      - @aliases.each do |calias|
        .alias-row{class: cycle('even', 'odd')}
          = calias.name
          - if @character.user_id == current_user.id
            = link_to edit_character_alias_path(@character, calias) do
              = image_tag "icons/pencil.png", alt: 'Edit'
            = link_to character_alias_path(@character, calias), method: :delete, data: { confirm: 'Are you sure you want to delete this alias?' } do
              = image_tag "icons/cross.png", alt: 'Delete'
      - if @aliases.empty?
        .centered.alias-row{class: cycle('even', 'odd')} — No aliases yet —

  = render 'icon_selector'
