- content_for :header do
  = link_to "Characters", characters_path
  &raquo;
  = link_to @character.name, character_path(@character)
  &raquo;
  %b Edit

= form_for @character, :url => character_path(@character), :method => :put do |f|
  %table#signup.centered
    %tr
      %th.centered{ colspan: 2 }= @character.name
    = render partial: 'editor', locals: {f: f}
    