- content_for :breadcrumbs do
  - if @user.id != current_user.try(:id)
    = link_to "#{@user.username}", user_path(@user)
    &raquo;
    %b #{@user.username}'s Characters

%table
  %tr
    %th{colspan: 6}
      - if @user.id == current_user.try(:id)
        Your Characters
        = link_to new_character_path(character_group_id: @group.try(:id)) do
          .link-box.green + New Character
        = link_to new_template_path do
          .link-box.green + New Template
      - else
        = @user.username + "'s Characters"
      = link_to url_for(view: 'icons') do
        .view-button{class: (:selected unless page_view == 'list')}
          = image_tag '/images/grid.png', class: 'icon-view', alt: ''
          Icons
      = link_to url_for(view: 'list') do
        .view-button{class: (:selected if page_view == 'list')}
          = image_tag '/images/list.png', class: 'list-view', alt: ''
          List
  - if page_view == 'list'
    = render partial: 'list_view'
  - else
    = render partial: 'icon_view', locals: {characters: @user.characters.order('name asc').includes(:default_icon)}
