%table
  %tr
    %th{colspan: 5}
      - if @group
        Character Group:
        = @group.name
      - else
        - if @user.id == current_user.id
          Your
        - else
          = @user.username + "'s"
        Characters
      - if @user.id == current_user.id
        = link_to new_character_path(character_group_id: @group.try(:id)) do
          .character-new-select
            + New Character
      = link_to url_for(view: 'icons') do
        .character-view-select
          = image_tag '/images/grid.png', class:'character-icon-select'
          Icons
      = link_to url_for(view: 'list') do
        .character-view-select
          = image_tag '/images/list.png', class:'character-list-select', alt: ''
          List
  - if session[:view] == 'list'
    = render partial: 'list_view'
  - else
    = render partial: 'icon_view'
