- content_for :breadcrumbs do
  - unless @user.id == current_user.try(:id)
    = link_to @user.username, user_path(@user)
    &raquo;
    %b #{@user.username}'s Characters

%table
  %tr
    %th{colspan: (character_split == 'none' ? 7 : 6)}
      - if @group
        Character Group:
        = @group.name
      - else
        - if @user.id == current_user&.id
          Your Characters
          = link_to new_character_path(character_group_id: @group.try(:id)) do
            .link-box.action-new + New Character
          = link_to new_template_path do
            .link-box.action-new + New Template
        - else
          = @user.username + "'s Characters"
      = link_to url_for(character_split: character_split, view: 'icons') do
        .view-button{class: (:selected unless page_view == 'list')}
          = image_tag "icons/grid.png", class: 'icon-view', alt: ''
          Icons
      = link_to url_for(character_split: character_split, view: 'list') do
        .view-button{class: (:selected if page_view == 'list')}
          = image_tag "icons/list.png", class: 'list-view', alt: ''
          List
      - if character_split == 'template'
        = link_to url_for(character_split: 'none', view: params[:view]) do
          .view-button
            Ungroup
      - else
        = link_to url_for(character_split: 'template', view: params[:view]) do
          .view-button
            Group
  - partial_type = (page_view == 'list') ? 'characters/list_section' : 'characters/icon_view'
  - colspan = (page_view == 'list') ? 6 : 1
  - if character_split == 'template'
    - if @group
      = render 'group', characters: @group.characters, page_view: page_view
    - elsif @user.character_groups.exists?
      - @user.character_groups.order('id asc').each do |group|
        %tr
          %th.sub{colspan: colspan}
            Group:
            = group.name
        = render 'group', characters: group.characters, page_view: page_view
      - if @user.characters.where(character_group_id: nil).exists?
        %tr
          %th.sub{colspan: colspan} Ungrouped Characters
        = render 'group', characters: @user.characters.where(character_group_id: nil), skip_grouped_templates: true, page_view: page_view
    - elsif @user.characters.exists?
      - @user.templates.ordered.each do |template|
        = render partial_type, name: template, characters: template.characters.ordered
      - if @user.characters.where(template_id: nil).exists?
        = render partial_type, name: "No Template", characters: @user.characters.where(template_id: nil).ordered, show_new_character_button: @user.id == current_user&.id
    - else
      %tr
        %td.centered.padding-5{class: cycle('even', 'odd'), colspan: colspan} — No characters yet —
  - else
    = render partial_type, name: nil, characters: @user.characters.includes(:template).ordered, show_template: true
