- content_for :breadcrumbs do
  - unless @user.id == current_user.try(:id)
    = user_link(@user)
    &raquo;
    %b #{@user.username}'s Characters

- if page_view == 'list'
  - colspan = (character_split == 'none') ? 8 : 7
- else
  - colspan = 1
%table
  %tr
    %th.table-title{colspan: colspan}
      - obj_name = "Characters"
      - if character_split == 'npcs'
        - obj_name = "NPCs"
      - if @group
        Character Group:
        = @group.name
      - elsif @user.id == current_user&.id
        Your #{obj_name}
        = link_to new_character_path(character_group_id: @group.try(:id)) do
          .link-box.action-new + New Character
        = link_to new_template_path do
          .link-box.action-new + New Template
      - else
        = @user.username + "'s #{obj_name}"
      = link_to character_menu_link(view: 'icons') do
        .view-button{class: (:selected unless page_view == 'list')}
          = image_tag "icons/grid.png", class: 'icon-view', alt: ''
          Icons
      = link_to character_menu_link(view: 'list') do
        .view-button{class: (:selected if page_view == 'list')}
          = image_tag "icons/list.png", class: 'list-view', alt: ''
          List
      - unless character_split == 'npcs'
        = link_to character_menu_link(character_split: 'npcs') do
          .view-button
            NPCs
      - unless character_split == 'none'
        = link_to character_menu_link(character_split: 'none') do
          .view-button
            Ungroup
      - unless character_split == 'template'
        = link_to character_menu_link(character_split: 'template') do
          .view-button
            Group
      - if show_retired
        = link_to character_menu_link(retired: false) do
          .view-button
            Hide Retired
      - else
        = link_to character_menu_link(retired: true) do
          .view-button
            All Characters
  - partial_type = (page_view == 'list') ? 'characters/list_section' : 'characters/icon_view'
  %tr
    %th.subber.padding-10{colspan: colspan}
      = form_tag search_characters_path, method: :get do
        = label_tag :name, 'Search by name:'
        = text_field_tag :name, params[:name], style: 'margin: 0px 5px;', id: :name
        = hidden_field_tag :author_id, @user.id
        = hidden_field_tag :search_name, true
        = hidden_field_tag :search_screenname, true
        = hidden_field_tag :search_nickname, true
        = submit_tag "Search", class: 'button'
  - if character_split == 'template'
    %tr
      %th.odd{style: 'padding: 3px', colspan: colspan}= # spacer between two .subbers
    - if @group
      = render 'group', group: @group, page_view: page_view, colspan: colspan
    - elsif @user.character_groups.exists?
      = render partial: 'group', collection: @user.character_groups.order(id: :asc), locals: { page_view: page_view, colspan: colspan }
      - if (group_chars = @user.characters.non_npcs.where(character_group_id: nil)).exists?
        = render 'group', characters: group_chars, group: nil, skip_grouped_templates: true, page_view: page_view, colspan: colspan
    - elsif @user.characters.exists?
      = render partial: partial_type, collection: @user.templates.ordered, as: :name
      - if (templateless = @user.characters.non_npcs.where(template_id: nil)).exists?
        = render partial_type, name: "No Template", characters: templateless.ordered, show_new_character_button: @user.id == current_user&.id
    - else
      %tr
        %td.centered.padding-5{class: cycle('even', 'odd'), colspan: colspan} — No characters yet —
  - elsif character_split == 'npcs'
    - characters = @user.characters.npcs.ordered
    = render partial_type, name: nil, characters: characters, show_template: false
  - else
    - characters = @user.characters.non_npcs.includes(:template).ordered
    = render partial_type, name: nil, characters: characters, show_template: true
