- content_for :breadcrumbs do
  = link_to "You", user_path(current_user)
  &raquo;
  = link_to "Your Characters", user_characters_path(current_user)
  &raquo;
  %b Create New
= form_for @character, url: characters_path, method: :post do |f|
  = f.hidden_field :default_icon_id
  .character-form
    %table.form-table
      %thead
        %tr
          %th.editor-title{colspan: 2} New Character
      = render 'editor', f: f

  = render 'icon_selector'
