- content_for :breadcrumbs do
  = link_to "Characters", user_characters_path(current_user)
  - if @character.template
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  = link_to @character.name, character_path(@character)
  &raquo;
  %b Replace

- content_for :disclaimer do
  %tr
    %td.odd.centered{colspan: 2}
      .details *This does NOT replace icons*

- content_for :aliases do
  - if @character.aliases.exists?
    = select_tag :orig_alias, options_for_select({'— Any Alias —': 'all'}, 'all') + options_from_collection_for_select(@character.aliases, :id, :name), prompt: '— No alias —'

- content_for :options do
  = select_tag :icon_dropdown, options_for_select(@alt_dropdown, @alt.try(:id)), prompt: "No Character"
  = select_tag :alias_dropdown, options_from_collection_for_select(@alt.try(:aliases), :id, :name), prompt: '— No alias —', class: ('hidden' unless @alt.try(:aliases).present?)

= form_for @character, url: do_replace_character_path(@character), method: :post do
  = render 'global/replace', obj: @character, name: @character.name, icon: @character.default_icon, alt_icon: @alts.first.try(:default_icon), is_character: true
