= render 'search/breadcrumbs'

%table.search-collapsible
  %thead
    %tr
      %th.search-params-header
        Search Characters
        - if @search_results
          = '- '+@search_results.total_entries.to_s+' results'
      %th
        - if @search_results
          = render 'posts/paginator', paginated: @search_results, no_per: true
  %tbody
    %tr
      %td.search-box
        = form_tag search_characters_path, :method => :get do
          %table.search-form
            %tr
              %td= label_tag :author_id, 'Author'
              %td= select_tag :author_id, options_from_collection_for_select(@users, :id, :username, params[:author_id]), {class: 'chosen-select', prompt: '— Choose Author —'}
            %tr
              %td= label_tag :template_id, 'Template'
              %td= select_tag :template_id, options_from_collection_for_select(@templates, :id, :name, params[:template_id]), {class: 'chosen-select', prompt: '— Choose Template —'}
            %tr
              %td= label_tag :name, 'Name'
              %td= text_field_tag :name, params[:name], style: 'width: 100%; margin: 5px 0px; box-sizing: border-box;'
            %tr
              %td
              %td
                Searching for name in:
                %br
                = check_box_tag :search_name, true, params[:commit] ? params[:search_name] : true
                = label_tag :search_name, "Name"
                %br
                = check_box_tag :search_screenname, true, params[:commit] ? params[:search_screenname] : true
                = label_tag :search_screenname, "Screenname"
                %br
                = check_box_tag :search_nickname, true, params[:commit] ? params[:search_nickname] : true
                = label_tag :search_nickname, "Nickname"
                - if false # TODO
                  %br
                  = check_box_tag :search_aliases, true, params[:commit] ? params[:search_aliases] : true
                  = label_tag :search_aliases, "Aliases"
            -# TODO: setting search, facecast search
            %tr
              %td.centered{colspan: 2}= submit_tag "Search", class: 'button'
      %td.vtop
        - if @search_results.present?
          %table
            %thead
              %tr
                - klass = cycle('even'.freeze, 'odd'.freeze)
                %td.padding-5{class: klass}
                  %b Name
                %td.padding-5{class: klass}
                  %b Nickname
                %td.padding-5{class: klass}
                  %b Screenname
                %td.padding-5{class: klass}
                  %b Facecast
                %td.padding-5{class: klass}
                  %b User
                - if false # TODO once setting is fixed for characters
                  %td.padding-5{class: klass}
                    %b Setting
            %tbody
              - @search_results.each do |character|
                - klass = cycle('even'.freeze, 'odd'.freeze)
                %tr
                  %td.padding-5{class: klass}= link_to character.name, character_path(character)
                  %td.padding-5{class: klass, style: 'width:15%'}= character.template_name
                  %td.padding-5{class: klass, style: 'width:15%'}= breakable_text(character.screenname)
                  %td.padding-5{class: klass, style: 'width:25%'}= character.pb
                  %td.padding-5{class: klass, style: 'width:15%'}= user_link(character.user)

  - if @search_results && @search_results.total_pages > 1
    %tfoot
      %tr
        %th.search-params-header.empty
        %th= render 'posts/paginator', paginated: @search_results, no_per: true
