= render 'search/breadcrumbs'

%table.search-collapsible
  %thead
    %tr
      %th.search-params-header
        = t('.title')
        - if @search_results
          = t(".results_count", entries: @search_results.total_entries)
      %th.search-results-header
        - if @search_results
          = render 'posts/paginator', paginated: @search_results, no_per: true
  %tbody
    %tr
      %td.search-box
        = form_tag search_characters_path, method: :get do
          %table.search-form
            %tr
              %td= label_tag :author_id
              %td= select_tag :author_id, options_from_collection_for_select(@users, :id, :username, params[:author_id]),
                { class: 'chosen-select', prompt: t('.prompt.author') }
            %tr
              %td= label_tag :template_id
              %td= select_tag :template_id, options_from_collection_for_select(@templates, :id, :name, params[:template_id]),
                { class: 'chosen-select', prompt: t('.prompt.template') }
            %tr
              %td= label_tag :name, t('.label.name.short')
              %td= text_field_tag :name, params[:name], style: 'width: 100%; margin: 5px 0px;'
            %tr
              %td
              %td
                = t('.context.names')
                %br
                = check_box_tag :search_name, true, params[:commit] ? params[:search_name] : true, { class: 'vmid no-margin', style: 'margin-bottom: 3px;' }
                = label_tag :search_name, t('.label.name.short')
                %br
                = check_box_tag :search_screenname, true, params[:commit] ? params[:search_screenname] : true, { class: 'vmid no-margin', style: 'margin-bottom: 3px;' }
                = label_tag :search_screenname, t('.label.screenname')
                %br
                = check_box_tag :search_nickname, true, params[:commit] ? params[:search_nickname] : true, { class: 'vmid no-margin', style: 'margin-bottom: 3px;' }
                = label_tag :search_nickname, t('.label.nickname')
                -# TODO
                  -# %br
                  -# = check_box_tag :search_aliases, true, params[:commit] ? params[:search_aliases] : true, { class: 'vmid no-margin', style: 'margin-bottom: 3px;' }
                  -# = label_tag :search_aliases, "Aliases"
            -# TODO: setting search, facecast search
            %tr
              %td.centered{colspan: 2}= submit_tag t('button.search'), class: 'button'
      %td.vtop
        - if @search_results.present?
          %table
            %thead
              %tr
                - klass = cycle('even'.freeze, 'odd'.freeze)
                %td.padding-5{class: klass}
                  %b= Character.human_attribute_name(:name)
                %td.padding-5{class: klass}
                  %b= Character.human_attribute_name(:nickname)
                %td.padding-5{class: klass}
                  %b= Character.human_attribute_name(:screenname)
                %td.padding-5{class: klass}
                  %b= Character.human_attribute_name(:pb)
                %td.padding-5{class: klass}
                  %b= User.model_name.human
                -# TODO
                  -# %td.padding-5{class: klass}
                    -# %b Setting
            %tbody
              - @search_results.each do |character|
                - klass = cycle('even'.freeze, 'odd'.freeze)
                %tr
                  %td.padding-5{class: klass}= link_to character.name, character_path(character)
                  %td.padding-5{class: klass, style: 'width:15%'}= character.nickname
                  %td.padding-5{class: klass, style: 'width:15%'}= breakable_text(character.screenname)
                  %td.padding-5{class: klass, style: 'width:25%'}= character.pb
                  %td.padding-5{class: klass, style: 'width:15%'}= user_link(character.user)

  - if @search_results && @search_results.total_pages > 1
    %tfoot
      %tr
        %th.search-params-header.empty
        %th.search-results-header= render 'posts/paginator', paginated: @search_results, no_per: true
