= render 'search/breadcrumbs'

%table.search-collapsible
  %thead
    %tr
      %th.search-params-header
        Search Characters
        - if @search_results
          = "- #{@search_results.total_entries} results"
      %th.search-results-header
        - if @search_results
          = render 'posts/paginator', paginated: @search_results, no_per: true
  %tbody
    %tr
      %td.search-box
        = form_with url: search_characters_path, method: :get do |f|
          %table.search-form
            %tr
              %td= f.label :author_id
              %td= f.select :author_id, options_from_collection_for_select(@users, :id, :username, params[:author_id]),
                class: 'chosen-select', prompt: '— Choose Author —'
            %tr
              %td= f.label :template_id
              %td= f.select :template_id, options_from_collection_for_select(@templates, :id, :name, params[:template_id]),
                class: 'chosen-select', prompt: '— Choose Template —'
            %tr
              %td= f.label :name
              %td= f.text_field :name, value: params[:name], style: 'width: 100%; margin: 5px 0px;'
            %tr
              %td
              %td
                Searching for name in:
                %br
                = f.check_box :search_name, checked: params[:commit] ? params[:search_name] : true, class: 'vmid no-margin', style: 'margin-bottom: 3px;'
                = f.label :search_name, "Name"
                %br
                = f.check_box :search_screenname, checked: params[:commit] ? params[:search_screenname] : true, class: 'vmid no-margin', style: 'margin-bottom: 3px;'
                = f.label :search_screenname, "Screenname"
                %br
                = f.check_box :search_nickname, checked: params[:commit] ? params[:search_nickname] : true, class: 'vmid no-margin', style: 'margin-bottom: 3px;'
                = f.label :search_nickname, "Nickname"
                -# TODO
                  -# %br
                  -# = check_box_tag :search_aliases, true, params[:commit] ? params[:search_aliases] : true, { class: 'vmid no-margin', style: 'margin-bottom: 3px;' }
                  -# = label_tag :search_aliases, "Aliases"
            -# TODO: setting search, facecast search
            %tr
              %td.centered{colspan: 2}= f.submit "Search", class: 'button'
      %td.vtop
        - if @search_results.present?
          %table
            %thead
              %tr
                - klass = cycle('even'.freeze, 'odd'.freeze)
                %td.padding-5{class: klass}
                  %b Name
                %td.padding-5{class: klass}
                  %b Nickname
                %td.padding-5{class: klass}
                  %b Screenname
                %td.padding-5{class: klass}
                  %b Facecast
                %td.padding-5{class: klass}
                  %b User
                -# TODO
                  -# %td.padding-5{class: klass}
                    -# %b Setting
            %tbody
              - @search_results.each do |character|
                - klass = cycle('even'.freeze, 'odd'.freeze)
                %tr
                  %td.padding-5{class: klass}= link_to character.name, character_path(character)
                  %td.padding-5{class: klass, style: 'width:15%'}= character.nickname
                  %td.padding-5{class: klass, style: 'width:15%'}= breakable_text(character.screenname)
                  %td.padding-5{class: klass, style: 'width:25%'}= character.pb
                  %td.padding-5{class: klass, style: 'width:15%'}= user_link(character.user)

  - if @search_results && @search_results.total_pages > 1
    %tfoot
      %tr
        %th.search-params-header.empty
        %th.search-results-header= render 'posts/paginator', paginated: @search_results, no_per: true
