- content_for :breadcrumbs do
  = link_to "Characters", characters_path
  &raquo;
  %b= @character.name

- if @character.icon
  = icon_tag @character.icon
  %br
%b= @character.screenname
%br
= @character.name
- if @character.template
  = surround '(', ')' do
    = link_to @character.template.name, template_path(@character.template)
- if @character.template_name
  %br
  Nickname: #{@character.template_name}
- if @character.pb
  %br
  Played by:
  = @character.pb
- if logged_in? && current_user.id == @character.user_id
  %br
  = link_to 'Edit character', edit_character_path(@character)
%br
%br
- if @character.recent_posts.present?
  - content_for :posts_title do 'Recent Threads' end
  = render partial: 'posts/list', locals: {posts: @character.recent_posts }
%br
- if @character.galleries.present?
  %table
    %tr
      %th Galleries
    - @character.galleries.each do |gallery|
      = render partial: 'galleries/single', locals: {gallery: gallery, klass: 'subber', skip_forms: true}
