- content_for :breadcrumbs do
  - if @character.user_id == current_user.try(:id)
    = link_to "Characters", characters_path
  - else
    = link_to "#{@character.user.username}", user_path(@character.user)
    &raquo;
    = link_to "#{@character.user.username}'s Characters", user_characters_path(@character.user)
  - if @character.template
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  = link_to @character.name, character_path(@character)
  &raquo;
  - if params[:view] == 'galleries'
    %b Galleries
  - elsif params[:view] == 'posts'
    %b Posts
  - else
    %b Info

%table.left-info-box.character-info-box
  %thead
    %tr
      %th.centered
        %span.character-name= @character.name
        - if @character.screenname
          %br
          %span.character-screenname= @character.screenname
  %tbody
    - if @character.icon
      %tr
        %td.green.centered.character-icon
          = link_to icon_path(@character.icon) do
            = icon_tag @character.icon
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character) do
          = image_tag '/images/chart_bar.png'
          Info
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character, view: 'galleries') do
          = image_tag '/images/photos.png'
          &nbsp;Galleries
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character, view: 'posts') do
          = image_tag '/images/book_open.png'
          Posts
    - if logged_in? && current_user.id == @character.user_id
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to edit_character_path(@character), class: 'character-edit' do
            = image_tag '/images/pencil.png'
            Edit Character
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to replace_character_path(@character), class: 'character-replace' do
            = image_tag '/images/swap.png', style: 'width: 16px;'
            Replace Character

- if params[:view] == 'galleries'
  - if @character.galleries.ordered.present?
    %table.character-right-content-box
      %thead
        %tr
          %th Galleries
      %tbody
        - @character.galleries.ordered.each do |gallery|
          = render partial: 'galleries/single', locals: {gallery: gallery, klass: 'subber', skip_forms: true, section: gallery.character_gallery_for(@character)}
- elsif params[:view] == 'posts'
  - content_for :posts_title do 'Recent Threads' end
  = render partial: 'posts/list', locals: {posts: @posts, path: :character_path, table_class: 'character-right-content-box'}
- else
  - reset_cycle
  %table.character-right-content-box
    %thead
      %tr
        %th{colspan: 2} Info
    %tbody
      %tr
        %th.sub.width-150 Nickname(s)
        %td.character-template-nickname{class: cycle('even', 'odd')}= ([@character.template_name] + @character.aliases.order('name asc').pluck(:name)).compact.join(", ")
      - if @character.template
        %tr
          %th.sub Template
          %td.character-template{class: cycle('even', 'odd')}
            = link_to @character.template.name, template_path(@character.template), class: 'character-template'
      %tr
        %th.sub.width-150 Facecast
        %td.character-pb{class: cycle('even', 'odd')}= @character.pb
      %tr
        %th.sub.width-150 Setting
        %td.character-setting{class: cycle('even', 'odd')}= @character.setting
      - if @character.description
        %tr
          %th.sub.width-150 Description
          %td.character-description{class: cycle('even', 'odd')}= sanitize_written_content(@character.description).html_safe
