- content_for :breadcrumbs do
  - if @character.user_id == current_user.try(:id)
    = link_to Character.model_name.human(count: 2), user_characters_path(current_user)
  - else
    = user_link(@character.user)
    - unless @character.user.deleted?
      &raquo;
      = link_to t('characters.index.title.user', name: @character.user.username), user_characters_path(@character.user)
  - if @character.template
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  = link_to_if params[:view].present?, @character.name, @character
  &raquo;
  - if params[:view] == 'galleries'
    %b= Gallery.model_name.human(count: 2)
  - elsif params[:view] == 'posts'
    %b= Post.model_name.human(count: 2)
  - else
    %b= t('.info')

%table.left-info-box.character-info-box
  %thead
    %tr
      %th.info-box-header
        %span.character-name= @character.name
        - if @character.screenname
          %br
          %span.character-screenname= breakable_text(@character.screenname)
        - if @character.npc?
          %br
          %span.character-is-npc= '(' + tr('character.npc') + ')'
  %tbody
    - if @character.default_icon
      %tr
        %td.character-icon.icons-box
          = link_to icon_path(@character.default_icon) do
            = icon_tag @character.default_icon
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to @character do
          = image_tag "icons/chart_bar.png", alt: ''
          = t('.info')
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character, view: 'galleries') do
          = image_tag "icons/photos.png", alt: ''
          = Gallery.model_name.human(count: 2)
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character, view: 'posts') do
          = image_tag "icons/book_open.png", alt: ''
          = Post.model_name.human(count: 2)
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to search_replies_path(commit: true, character_id: @character.id, sort: :created_new) do
          = image_tag "icons/table_multiple.png", alt: ''
          = Reply.model_name.human(count: 2)
    - if @character.editable_by?(current_user)
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to edit_character_path(@character), class: 'character-edit' do
            = image_tag "icons/pencil.png", alt: ''
            = t('characters.edit.button')
    - if logged_in? && @character.user_id == current_user.id
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to duplicate_character_path(@character), method: :post, class: 'character-duplicate', data: { confirm: t('characters.duplicate.confirm') } do
            = image_tag "icons/arrow_branch.png", alt: ''
            = t('characters.duplicate.button')
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to replace_character_path(@character), class: 'character-replace' do
            = image_tag "icons/swap.png", style: 'width: 16px;', alt: ''
            = t('characters.replace.button')
    - if @character.deletable_by?(current_user)
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to @character, method: :delete, class: 'character-delete', data: { confirm: t('characters.destroy.confirm_generic') } do
            = image_tag "icons/cross.png", alt: ''
            = t('characters.destroy.button')

- if params[:view] == 'galleries'
  - galleries = @character.galleries.select('galleries.*').with_gallery_groups.ordered
  %table.character-right-content-box#reorder-galleries-table
    %thead
      %tr
        %th.table-title
          = Gallery.model_name.human(count: 2)
          .loading.float-right.hidden= loading_tag
          .saveerror.float-right.hidden
            = image_tag "icons/exclamation.png", title: t('status.error'), class: 'vmid', alt: '!'
            = t('reorder.save_error')
          .saveconf.float-right.hidden
            = image_tag "icons/accept.png", title: t('status.saved'), class: 'vmid', alt: ''
            = t('status.saved')
    - galleries.each do |gallery|
      = render 'galleries/single', gallery: gallery, klass: 'subber', skip_forms: true, character_gallery: gallery.character_gallery_for(@character), is_owner: @character.user == current_user
    - unless galleries.present?
      %tbody
        %tr
          %td.icon-box
            .centered.padding-5= t('galleries.index.empty')
- elsif params[:view] == 'posts'
  - content_for(:posts_title) { t('posts.index.title.recent') }
  = render 'posts/list', posts: @posts, table_class: 'character-right-content-box'
- else
  - reset_cycle
  %table.character-right-content-box
    %thead
      %tr
        %th.table-title{colspan: 2}= t('.info')
    %tbody
      - if @character.nickname.present?
        %tr
          %th.sub.vtop.width-150
            - if @character.npc?
              = t('.original_post')
            - else
              = Character.human_attribute_name(:nickname)
          %td.character-nickname{class: cycle('even', 'odd')}= @character.nickname
      - aliases = @character.aliases.ordered.pluck(:name)
      - if aliases.present?
        %tr
          %th.sub.vtop.width-150= CharacterAlias.model_name.human(count: aliases.size)
          %td.character-aliases{class: cycle('even', 'odd')}= aliases.join(", ")
      - if @character.template
        %tr
          %th.sub.vtop.width-150= ::Template.model_name.human
          %td.character-template{class: cycle('even', 'odd')}
            = link_to @character.template.name, template_path(@character.template), class: 'character-template'
      - if @character.cluster
        %tr
          %th.sub.vtop.width-150
          %td.character-cluster{class: cycle('even', 'odd')}= @character.cluster
      - if @character.pb?
        %tr
          %th.sub.vtop.width-150= Character.human_attribute_name(:pb)
          %td.character-pb{class: cycle('even', 'odd')}= @character.pb
      - if @character.settings.present?
        %tr
          %th.sub.vtop.width-150= Setting.model_name.human
          - setting_links = @character.settings.map { |setting| link_to(setting.name, tag_path(setting)) }
          %td.character-setting{class: cycle('even', 'odd')}= safe_join(setting_links, ', ')
      - if @character.description
        %tr
          %th.sub.vtop.width-150= Character.human_attribute_name(:description)
          %td.character-description.written-content{class: cycle('even', 'odd')}= sanitize_written_content(@character.description)
