- content_for :breadcrumbs do
  - if @character.user_id == current_user.try(:id)
    = link_to "Characters", user_characters_path(current_user)
  - else
    = link_to "#{@character.user.username}", user_path(@character.user)
    &raquo;
    = link_to "#{@character.user.username}'s Characters", user_characters_path(@character.user)
  - if @character.template
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  = link_to_if params[:view].present?, @character.name, character_path(@character)
  &raquo;
  - if params[:view] == 'galleries'
    %b Galleries
  - elsif params[:view] == 'posts'
    %b Posts
  - else
    %b Info

%table.left-info-box.character-info-box
  %thead
    %tr
      %th.centered
        %span.character-name= @character.name
        - if @character.screenname
          %br
          %span.character-screenname= breakable_text(@character.screenname)
  %tbody
    - if @character.default_icon
      %tr
        %td.character-icon.icons-box
          = link_to icon_path(@character.default_icon) do
            = icon_tag @character.default_icon
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character) do
          = image_tag "icons/chart_bar.png"
          Info
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character, view: 'galleries') do
          = image_tag "icons/photos.png"
          &nbsp;Galleries
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to character_path(@character, view: 'posts') do
          = image_tag "icons/book_open.png"
          Posts
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to search_replies_path(commit: true, character_id: @character.id) do
          = image_tag "icons/table_multiple.png"
          Replies
    - if @character.editable_by?(current_user)
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to edit_character_path(@character), class: 'character-edit' do
            = image_tag "icons/pencil.png"
            Edit Character
    - if logged_in? && @character.user_id == current_user.id
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to duplicate_character_path(@character), method: :post, class: 'character-duplicate', data: { confirm: 'Are you sure you want to duplicate this character?' } do
            = image_tag "icons/arrow_branch.png"
            Duplicate Character
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to replace_character_path(@character), class: 'character-replace' do
            = image_tag "icons/swap.png", style: 'width: 16px;'
            Replace Character
    - if @character.deletable_by?(current_user)
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to character_path(@character), method: :delete, class: 'character-delete', data: { confirm: 'Are you sure you want to delete this character?' } do
            = image_tag "icons/cross.png"
            Delete Character

- if params[:view] == 'galleries'
  - galleries = @character.galleries.ordered
  %table.character-right-content-box#reorder-galleries-table
    %thead
      %tr
        %th
          Galleries
          #loading.float-right.hidden= loading_tag
          #saveerror.float-right.hidden
            = image_tag "icons/exclamation.png", title: 'Error', class: 'vmid', alt: '!'
            Error, please refresh
          #saveconf.float-right.hidden
            = image_tag "icons/accept.png", title: 'Saved', class: 'vmid', alt: ''
            Saved
    %tbody
      - galleries.each do |gallery|
        = render partial: 'galleries/single', locals: {gallery: gallery, klass: 'subber', skip_forms: true, character_gallery: gallery.character_gallery_for(@character)}
      - unless galleries.present?
        %tr
          %td.icon-box
            .centered.padding-5 — No galleries yet —
- elsif params[:view] == 'posts'
  - content_for :posts_title do 'Recent Threads' end
  = render partial: 'posts/list', locals: {posts: @posts, table_class: 'character-right-content-box'}
- else
  - reset_cycle
  %table.character-right-content-box
    %thead
      %tr
        %th{colspan: 2} Info
    %tbody
      - nicknames = ([@character.template_name] + @character.aliases.ordered.pluck(:name)).compact
      - if nicknames.present?
        %tr
          %th.sub.vtop.width-150 Nickname(s)
          %td.character-template-nickname{class: cycle('even', 'odd')}= nicknames.join(", ")
      - if @character.template
        %tr
          %th.sub.vtop.width-150 Template
          %td.character-template{class: cycle('even', 'odd')}
            = link_to @character.template.name, template_path(@character.template), class: 'character-template'
      %tr
        %th.sub.vtop.width-150 Facecast
        %td.character-pb{class: cycle('even', 'odd')}= @character.pb
      - if @character.settings.present?
        %tr
          %th.sub.vtop.width-150 Setting
          %td.character-setting{class: cycle('even', 'odd')}= @character.settings.map { |setting| link_to(setting.name, tag_path(setting)) }.join(', ').html_safe
      - if @character.description
        %tr
          %th.sub.vtop.width-150 Description
          %td.character-description.written-content{class: cycle('even', 'odd')}= sanitize_written_content(@character.description).html_safe
