- content_for :breadcrumbs do
  - if @character.user_id == current_user.try(:id)
    = link_to "You", user_path(current_user)
    &raquo;
    = link_to "Your Characters", user_characters_path(current_user)
  - else
    = user_link(@character.user)
    - unless @character.user.deleted?
      &raquo;
      = link_to "#{@character.user.username}'s Characters", user_characters_path(@character.user)
  - if @character.template
    &raquo;
    = link_to @character.template.name, template_path(@character.template)
  &raquo;
  = link_to_if params[:view].present?, @character.name, @character
  &raquo;
  - if params[:view] == 'galleries'
    %b Galleries
  - elsif params[:view] == 'posts'
    %b Posts
  - else
    %b Info

%div
  %table.left-info-box.character-info-box
    %thead
      %tr
        %th.info-box-header
          %span.character-name= @character.name
          - if @character.screenname
            %br
            %span.character-screenname= breakable_text(@character.screenname)
          - if @character.npc?
            %br
            %span.character-is-npc (NPC)
    %tbody
      - if @character.default_icon
        %tr
          %td.character-icon.icons-box
            = link_to icon_path(@character.default_icon) do
              = icon_tag @character.default_icon
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to @character do
            = image_tag "icons/chart_bar.png", alt: ''
            Info
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to character_path(@character, view: 'galleries'), rel: 'nofollow' do
            = image_tag "icons/photos.png", alt: ''
            Galleries
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to character_path(@character, view: 'posts'), rel: 'nofollow' do
            = image_tag "icons/book_open.png", alt: ''
            Posts
      %tr
        %td.centered{class: cycle('even', 'odd')}
          = link_to search_replies_path(commit: true, character_id: @character.id, sort: :created_new) do
            = image_tag "icons/table_multiple.png", alt: ''
            Replies
            
      - if logged_in? && @character.user_id != current_user.id
        %tr
          %td.centered{class: cycle('even', 'odd')}
            - if (fav = Favorite.between(current_user, @character))
              = link_to favorite_path(fav), method: :delete do
                = image_tag "icons/star_delete.png", class: 'vmid', alt: ''
                Unfavorite
            - else
              = link_to favorites_path(character_id: @character.id), method: :post do
                = image_tag "icons/star_add.png", class: 'vmid', alt: ''
                Favorite
      - if @character.editable_by?(current_user)
        %tr
          %td.centered{class: cycle('even', 'odd')}
            = link_to edit_character_path(@character), class: 'character-edit' do
              = image_tag "icons/pencil.png", alt: ''
              Edit Character
      - if logged_in? && @character.user_id == current_user.id
        %tr
          %td.centered{class: cycle('even', 'odd')}
            = link_to duplicate_character_path(@character), method: :post, class: 'character-duplicate', data: { confirm: 'Are you sure you want to duplicate this character?' } do
              = image_tag "icons/arrow_branch.png", alt: ''
              Duplicate Character
        %tr
          %td.centered{class: cycle('even', 'odd')}
            = link_to replace_character_path(@character), class: 'character-replace' do
              = image_tag "icons/swap.png", style: 'width: 16px;', alt: ''
              Replace Character
      - if @character.deletable_by?(current_user)
        %tr
          %td.centered{class: cycle('even', 'odd')}
            = link_to @character, method: :delete, class: 'character-delete', data: { confirm: 'Are you sure you want to delete this character?' } do
              = image_tag "icons/cross.png", alt: ''
              Delete Character

  - if params[:view] == 'galleries'
    - galleries = @character.galleries.select('galleries.*').with_gallery_groups.ordered
    %table.character-right-content-box#reorder-galleries-table
      %thead
        %tr
          %th.table-title
            Galleries
            .loading.float-right.hidden= loading_tag
            .saveerror.float-right.hidden
              = image_tag "icons/exclamation.png", title: 'Error', class: 'vmid', alt: '!'
              Error, please refresh
            .saveconf.float-right.hidden
              = image_tag "icons/accept.png", title: 'Saved', class: 'vmid', alt: ''
              Saved
      - galleries.each do |gallery|
        = render 'galleries/single', gallery: gallery, klass: 'subber', skip_forms: true, character_gallery: gallery.character_gallery_for(@character), is_owner: @character.user == current_user
      - unless galleries.present?
        %tbody
          %tr
            %td.icon-box
              .centered.padding-5 — No galleries yet —
  - elsif params[:view] == 'posts'
    - content_for(:posts_title) { 'Recent Threads' }
    = render 'posts/list', posts: @posts, table_class: 'character-right-content-box'
  - else
    - reset_cycle
    %table.character-right-content-box
      %thead
        %tr
          %th.table-title{colspan: 2} Info
      %tbody
        - if @character.nickname.present?
          %tr
            %th.sub.vtop.width-150
              - if @character.npc?
                Original post
              - else
                Nickname
            %td.character-nickname{class: cycle('even', 'odd')}= @character.nickname
        - aliases = @character.aliases.ordered.pluck(:name)
        - if aliases.present?
          %tr
            %th.sub.vtop.width-150 Aliases
            %td.character-aliases{class: cycle('even', 'odd')}= aliases.join(", ")
        - if @character.template
          %tr
            %th.sub.vtop.width-150 Template
            %td.character-template{class: cycle('even', 'odd')}
              = link_to @character.template.name, template_path(@character.template), class: 'character-template'
        - if @character.cluster
          %tr
            %th.sub.vtop.width-150
            %td.character-cluster{class: cycle('even', 'odd')}= @character.cluster
        - if @character.pb?
          %tr
            %th.sub.vtop.width-150 Facecast
            %td.character-pb{class: cycle('even', 'odd')}= @character.pb
        - if @character.settings.present?
          %tr
            %th.sub.vtop.width-150 Setting
            - setting_links = @character.settings.map { |setting| link_to(setting.name, tag_path(setting)) }
            %td.character-setting{class: cycle('even', 'odd')}= safe_join(setting_links, ', ')
        - if @character.description
          %tr
            %th.sub.vtop.width-150 Description
            %td.character-description.written-content{class: cycle('even', 'odd')}= sanitize_written_content(@character.description)
