- content_for :breadcrumbs do
  = link_to "Admin Tools", admin_path
  &raquo;
  = link_to "Character Relocate", relocate_characters_path
  &raquo;
  Preview

Transferring the following characters from #{@characters.first.user.username} to #{@new_user.username}
= render 'characters/icon_view', name: 'User characters', characters: @characters, show_retired: true

= render 'relocate'
