- col_count = 4
- col_count += 1 unless @view.present?
- col_count += 1 if @view == 'Setting'

- if @view.present?
  - content_for :breadcrumbs do
    = link_to "Tags", tags_path
    &raquo;
    %b= @view.pluralize.titlecase

%table
  %thead
    %tr
      %th.table-title{colspan: col_count}
        = @view.present? ? @view.titlecase.pluralize : 'Tags'
    %tr
      %th.subber.padding-10{colspan: col_count}
        = form_tag tags_path, method: :get do
          Search for a tag:
          = text_field_tag :name, params[:name], id: 'tag-search-name', placeholder: 'Exact name (case-insensitive)'
          = select_tag :view, options_for_select(@tag_options, @view), include_blank: '— Choose Type —', id: 'tag-view'
          = submit_tag "Search", class: 'button', id: 'tag-search'
    %tr
      %th.sub Name
      - unless @view.present?
        %th.sub Type
      - if @view == 'Setting'
        %th.sub Owner
      %th.sub Posts
      %th.sub Characters
      %th.sub
  %tbody
    - @tags.each do |tag|
      - klass = cycle('even', 'odd')
      %tr
        %td{class: klass}= link_to tag.name, tag_path(tag)
        - unless @view.present?
          %td{class: klass}= link_to tag.type.titlecase, tags_path(view: tag.type)
        - if @view == 'Setting'
          %td{class: klass}
            = link_to tag.user do
              - if tag.owned?
                = tag.user.username
              - else
                %em= tag.user.deleted? ? 'deleted user' : tag.user.username
        %td{class: klass}= tag.post_count
        %td{class: klass}= tag.character_count
        %td.width-70.right-align{class: klass}
          - if tag.editable_by?(current_user)
            = link_to edit_tag_path(tag) do
              = image_tag "icons/pencil.png"
          - if tag.deletable_by?(current_user)
            = link_to delete_path(tag), method: :delete, data: { confirm: 'Are you sure you want to delete '+tag.name+'?' } do
              = image_tag "icons/cross.png"
            &nbsp;
    - if @tags.empty?
      %tr
        %td.centered.padding-10{ class: cycle('even', 'odd'), colspan: col_count } — No matching tags —
  - if @tags.total_pages > 1
    %tfoot
      %tr
        %td{colspan: 6}= render 'posts/paginator', paginated: @tags
