- col_count = 4
- col_count += 1 unless @view.present?
- col_count += 1 if @view == 'Setting'

- if @view.present?
  - content_for :breadcrumbs do
    = link_to "Tags", tags_path
    &raquo;
    %b= @view.pluralize.titlecase

%table
  %thead
    %tr
      %th{colspan: col_count}
        = @view ? @view.titlecase.pluralize : 'Tags'
  %tbody
    %tr
      %th.sub Name
      - unless @view.present?
        %th.sub Type
      - if @view == 'Setting'
        %th.sub Owner
      %th.sub Posts
      %th.sub Characters
      %th.sub
    - @tags.each do |tag|
      - klass = cycle('even', 'odd')
      %tr
        %td{class: klass}= link_to tag.name, tag_path(tag)
        - unless @view.present?
          %td{class: klass}= link_to tag.type.titlecase, tags_path(view: tag.type)
        - if @view == 'Setting'
          %td{class: klass}
            = link_to tag.user do
              - if tag.owned?
                = tag.user.username
              - else
                %em= tag.user.username
        %td{class: klass}= tag.post_count
        %td{class: klass}= tag.character_count
        %td.width-70.right-align{class: klass}
          - if tag.editable_by?(current_user)
            = link_to edit_tag_path(tag) do
              = image_tag "icons/pencil.png"
          - if tag.deletable_by?(current_user)
            = link_to delete_path(tag), method: :delete, data: { confirm: 'Are you sure you want to delete '+tag.name+'?' } do
              = image_tag "icons/cross.png"
            &nbsp;
  - if @tags.total_pages > 1
    %tfoot
      %tr
        %td{colspan: 6}= render 'posts/paginator',  paginated: @tags
