- content_for :breadcrumbs do
  = link_to "Tags", tags_path
  &raquo;
  - if @tag.type
    = @tag.type.pluralize.titlecase
    &raquo;
  %b= @tag.name

- content_for :edit_box do
  - if @tag.editable_by?(current_user)
    = link_to edit_tag_path(@tag) do
      .link-box.blue
        = image_tag '/images/pencil.png'
        Edit
    = link_to tag_path(@tag), method: :delete, data: { confirm: 'Are you sure you want to delete this tag?' } do
      .link-box.red x Delete

- if @posts.present?
  - content_for :posts_title do
    Posts Tagged: #{@tag.name}
    - content_for :edit_box

  = render partial: 'posts/list', locals: {posts: @posts}
  %br

- if @galleries.present?
  - reset_cycle
  %table
    %thead
      %tr
        %th.padding-10{colspan: 2}
          Galleries Tagged: #{@tag.name}
          - content_for :edit_box
    %tbody
      %tr
        %th.sub Name
        %th.sub # of Icons
      - @galleries.with_icon_count.order('name asc').each do |gallery|
        %tr
          - klass = cycle('even', 'odd')
          %td.gallery-name{class: klass}= link_to gallery.name, gallery_path(gallery)
          %td.width-150.centered.gallery-icon-count{class: klass}= gallery.icon_count
  %br

- if @characters.present?
  - reset_cycle
  %table
    %thead
      %tr
        %th{colspan: 6}
          Characters Tagged: #{@tag.name}
          - content_for :edit_box
    %tbody
      = render partial: 'characters/list_section', locals: {name: nil, characters: @characters.order('name asc'), hide_buttons: true, show_user: true}

- unless [@posts, @galleries, @characters].any?(&:present?)
  %table
    %thead
      %tr
        %th
          Items Tagged: #{@tag.name}
          - content_for :edit_box
    %tbody
      %tr
        %td.centered.padding-5{class: cycle('even', 'odd')} — No items yet —
