- content_for :breadcrumbs do
  = link_to "Tags", tags_path
  &raquo;
  = link_to @tag.type.pluralize.titlecase, tags_path(view: @tag.type)
  &raquo;
  %b= @tag.name

%table
  %thead
    %tr
      %th{colspan: 2}
        #{@tag.type.titlecase}: #{@tag.name}
        - if @tag.editable_by?(current_user)
          = link_to edit_tag_path(@tag) do
            .link-box.blue
              = image_tag "icons/pencil.png"
              Edit
          = link_to tag_path(@tag), method: :delete, data: { confirm: 'Are you sure you want to delete this tag?' } do
            .link-box.red x Delete
  %tbody
    - if @tag.is_a?(Setting) && @tag.canons.present?
      %tr
        %th.centered.sub.width-150= 'Canon'.pluralize(@tag.canons.count)
        %td{class: cycle('even', 'odd')}= @tag.canons.map { |c| link_to(c.name, tag_path(c))}.join(', ').html_safe
    - if @tag.description.present?
      %tr
        %th.centered.sub.width-150.vtop Description
        %td.written-content{class: cycle('even', 'odd')}= sanitize_written_content(@tag.description).html_safe
    - unless @tag.has_items?
      %tr
        %td.centered{class: cycle('even', 'odd'), colspan: 2} — No items yet —

%br

- if @posts.present?
  - reset_cycle
  - content_for :posts_title do
    Posts Tagged: #{@tag.name}

  = render partial: 'posts/list', locals: {posts: @posts}
  %br

- if @galleries.present?
  - reset_cycle
  %table
    %thead
      %tr
        %th.padding-10{colspan: 4} Galleries Tagged: #{@tag.name}
    %tbody
      = render partial: 'galleries/expandable', collection: @galleries, as: :gallery, locals: {tag: @tag}
  %br

- if @characters.present?
  - reset_cycle
  %table
    %thead
      %tr
        %th{colspan: 6} Characters Tagged: #{@tag.name}
    %tbody
      = render partial: 'characters/list_section', locals: {name: nil, characters: @characters.order('name asc'), hide_buttons: true, show_user: true}

- if @tag.is_a?(Canon)
  - reset_cycle
  %table
    %thead
      %tr
        %th{colspan: 6} Settings Tagged: #{@tag.name}
    %tbody
      - @tag.settings.each do |setting|
        %tr
          %td{class: cycle('even', 'odd')}= link_to setting.name, tag_path(setting)