- content_for :breadcrumbs do
  = link_to "Tags", tags_path
  &raquo;
  = link_to @tag.type.pluralize.titlecase, tags_path(view: @tag.type)
  &raquo;
  %b= @tag.name

= render 'infobox'

= render @view
