%tr
  %th.sub Name
  %td.even= f.text_field :name, placeholder: "Continuity Name", class: 'text'
%tr
  %th.sub Creator
  %td.odd= @board.creator.username
%tr
  %th.sub Coauthors
  %td.even
    = f.collection_select(:coauthor_ids, @authors, :id, :username, {selected: @board.coauthors.map(&:id)}, {multiple: true})
%tr
  %th.sub Coauthors
  %td.odd
    = f.collection_select(:cameo_ids, @cameos, :id, :username, {selected: @board.coauthors.cameos.map(&:id)}, {multiple: true})
%tr
  %th.sub.vtop Description
  %td.even= f.text_area :description
%tr
  %th.centered.subber{colspan: 2}= submit_tag "Save", class: 'button'
