- reset_cycle
#reorder-sections-table
  .content-header
    = content_for :reorder_title
    .loading.float-right.hidden= loading_tag # TODO duplicate id
    .saveerror.float-right.hidden
      -# TODO duplicate id
      = image_tag "icons/exclamation.png", title: t('status.error'), class: 'vmid', alt: '!'
      = t('reorder.save_error')
    .saveconf.float-right.hidden
      = image_tag "icons/accept.png", title: t('status.saved'), class: 'vmid', alt: ''
      = t('status.saved')
  %ul.sortable.table-list
    - sections.each do |section|
      %li.padding-5.section-ordered{class: cycle('even', 'odd'), data: { id: section.id, order: section.section_order }}
        .section-ordered-handle
          = image_tag "icons/arrow_double.png", title: t('reorder.reorder'), class: 'disabled-arrow', alt: '↕'
        = link_to section.name, section
        .float-right
          = image_tag "icons/arrow_up.png", class: "section-up disabled-arrow", alt: t('reorder.move_up')
          = image_tag "icons/arrow_down.png", class: "section-down disabled-arrow", alt: t('reorder.move_down')
          = link_to edit_polymorphic_path(section) do
            = image_tag "icons/pencil.png", alt: t('alt.edit')
          = link_to section, method: :delete, data: { confirm: t('board_sections.destroy.confirm') } do
            = image_tag "icons/cross.png", alt: t('alt.delete')
    - if sections.empty?
      %li.centered.padding-10{class: cycle('even', 'odd')}= t('.empty')
