- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @board.name, board_path(@board)
  &raquo;
  %b Edit

= form_for @board, method: :put do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2} Edit Continuity
    = render 'editor', f: f

%br
%br

- content_for :reorder_title do
  Organize Continuity Sections
  = link_to new_board_section_path params: {board_id: @board.id} do
    .link-box.action-new + New Section
= render 'reorder_sections', sections: @board_sections

- if @board.ordered?
  %br
  = render 'reorder_posts', unsectioned_posts: @unsectioned_posts
