- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @board.name, board_path(@board)
  &raquo;
  %b Edit

= form_for @board, url: board_path(@board), method: :put do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2} Edit Continuity
    = render 'editor', f: f

%br
%br

- content_for :reorder_title do
  Organize Continuity Sections
  = link_to new_board_section_path params: {board_id: @board.id} do
    .link-box.action-new + New Section

- locals = {sections: @board_sections}
- locals[:unsectioned_posts] = @unsectioned_posts if @board.ordered?
= render 'reorder', locals
