- if @user.present? && @user.id != current_user.try(:id)
  - content_for :breadcrumbs do
    = link_to "#{@user.username}", user_path(@user)
    &raquo;
    %b #{@user.username}'s Continuities

%span.time-loaded= pretty_time(DateTime.now.in_time_zone)

%table
  %thead
    %tr
      %th{colspan: 3}
        = @page_title
        - if logged_in? && (@user.nil? || @user.id == current_user.id)
          = link_to new_board_path do
            .link-box.green + New Continuity
    %tr
      %th.sub Name
      %th.sub Authors
      %th.sub Last Updated
  %tbody
    - @boards.each do |board|
      = render partial: 'list_item', locals: {board: board}
    - if @boards.empty?
      %tr
        %td.centered.padding-10.no-posts{ class: cycle('even','odd'), colspan: 3 } — No boards yet —

  - if @cameo_boards.present?
    %tr
      %td.continuity-spacer
    %tr
      %th.sub{colspan: 3} Cameo Boards
    - @cameo_boards.each do |board|
      = render partial: 'list_item', locals: {board: board}
