- if @user.present? && @user.id != current_user.try(:id)
  - content_for :breadcrumbs do
    = link_to "#{@user.username}", user_path(@user)
    &raquo;
    %b #{@user.username}'s Continuities

%span.time-loaded= pretty_time(DateTime.now.in_time_zone)

%table
  %thead
    %tr
      %th{colspan: 3}
        = @page_title
        - if logged_in? && (@user.nil? || @user.id == current_user.id)
          = link_to new_board_path do
            .link-box.action-new + New Continuity
    %tr
      %th.sub Name
      %th.sub Authors
      %th.sub Last Updated
  %tbody
    = render partial: 'list_item', collection: @boards, as: :board
    - if @boards.empty?
      %tr
        %td.centered.padding-10.no-posts{ class: cycle('even','odd'), colspan: 3 } — No boards yet —
  - if @boards.methods.include?(:total_pages) && @boards.total_pages > 1
    %tfoot
      %tr
        %td{colspan: 3}= render partial: 'posts/paginator', locals: { paginated: @boards }

  - if @cameo_boards.present?
    %tr
      %td.continuity-spacer
    %tr
      %th.sub{colspan: 3} Cameo Boards
    = render partial: 'list_item', collection: @cameo_boards, as: :board
