= render 'search/breadcrumbs'

%table.search-collapsible
  %thead
    %tr
      %th.search-params-header
        = t('.title')
        - if @search_results
          = t('.results_count', entries: @search_results.total_entries)
      %th.search-results-header
        - if @search_results
          = render 'posts/paginator', paginated: @search_results, no_per: true
  %tbody
    %tr
      %td.search-box
        = form_tag search_continuities_path, method: :get do
          %table.search-form
            %tr
              %td.width-70= label_tag :name
              %td= text_field_tag :name, params[:name], style: 'width: 100%; margin: 5px 0px; box-sizing: border-box;', id: :name
            %tr
              %td= t('.label.abbrev.short')
              %td.padding-5
                = check_box_tag :abbrev, true, params[:abbrev].present?, { class: 'vmid no-margin', style: 'margin-bottom: 3px;' }
                = label_tag :abbrev, t('.label.abbrev.long')
            %tr
              %td= label_tag :author_id
              %td= select_tag :author_id, options_from_collection_for_select(@user || [], :id, :username,
                params[:author_id]), { class: 'chosen-select', prompt: t('.prompt.author'), multiple: true }
            %tr
              %td.centered{colspan: 2}= submit_tag t('button.search'), class: 'button'
      %td.vtop
        - if @search_results.present?
          %table
            %thead
              %tr
                %th.sub= t('boards.index.header.name')
                %th.sub= t('boards.index.header.authors')
                %th.sub= t('boards.index.header.updated')
            %tbody
              = render partial: 'list_item', collection: @search_results, as: :board

  - if @search_results && @search_results.total_pages > 1
    %tfoot
      %tr
        %th.search-params-header.empty
        %th.search-results-header= render 'posts/paginator', paginated: @search_results, no_per: true
