= render 'search/breadcrumbs'

.search-collapsible
  .search-params-header
    Search Continuities
    - if @search_results
      = "- #{@search_results.total_entries} results"
  .search-results-header
    - if @search_results
      = render 'posts/paginator', paginated: @search_results, no_per: true
  .search-box
    = form_tag search_continuities_path, method: :get do
      .search-form#continuities-search
        .label= label_tag :name, 'Name'
        .select= text_field_tag :name, params[:name], id: :name
        .label Acronym
        .select.checkbox-field
          = check_box_tag :abbrev, true, params[:abbrev].present?
          = label_tag :abbrev, 'Search for acronym'
        .label= label_tag :author_id, 'Author'
        .select= select_tag :author_id, options_from_collection_for_select(@user || [], :id, :username, params[:author_id]), class: 'chosen-select', prompt: '— Choose Author —', multiple: true
        .search-form-ender= submit_tag "Search", class: 'button'
  .vtop
    - if @search_results.present?
      %table
        %thead
          %tr
            %th.sub Name
            %th.sub Authors
            %th.sub Last Updated
        %tbody
          = render partial: 'list_item', collection: @search_results, as: :board

  - if @search_results && @search_results.total_pages > 1
    .search-params-header.empty
    .search-results-header= render 'posts/paginator', paginated: @search_results, no_per: true
