- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  %b= @board.name

- content_for :posts_title do
  = @board.name
  - if logged_in?
    - if @board.open_to?(current_user)
      = link_to new_post_path params: {board_id: @board.id} do
        .link-box.action-new + New Post
    - if @board.editable_by?(current_user)
      = link_to new_board_section_path params: {board_id: @board.id} do
        .link-box.action-new + New Section
      = link_to edit_board_path(@board) do
        .link-box.action-edit
          = image_tag "icons/pencil.png"
          Edit
      = link_to board_path(@board), method: :delete, data: { confirm: 'Are you sure you want to delete this continuity?' } do
        .link-box.action-delete x Delete
    - if fav = Favorite.between(current_user, @board)
      = link_to favorite_path(fav), method: :delete do
        .link-box.action-edit
          = image_tag "icons/star_delete.png", class: 'vmid'
          Unfavorite
    - else
      = link_to favorites_path(board_id: @board.id), method: :post do
        .link-box.action-favorite
          = image_tag "icons/star_add.png", class: 'vmid'
          Favorite

- if @board.board_sections.exists?
  %table
    %thead
      %tr
        %th{colspan: 5}= content_for :posts_title
      - if @board.description.present?
        %tr
          %td.odd.written-content{colspan: 5}= sanitize_written_content(@board.description).html_safe
    %tbody
      %tr
        %td.continuity-spacer{colspan: 5}
      - @board_sections.each do |section|
        %tr
          %th.sub.continuity-header{colspan: 5}= link_to section.name, board_section_path(section)
        - if section.description.present?
          %tr
            %td.written-content{colspan: 5, class: cycle('even', 'odd')}= shortened_desc(section.description, section.id).html_safe
        - section_posts = posts_from_relation(section.posts.ordered_in_section, no_tests: false, with_pagination: false).select { |post| post.visible_to? (current_user) }
        - if section_posts.present?
          = render partial: 'posts/list_item', collection: section_posts, as: :post, locals: {hide_continuity: true}
        - else
          %tr
            %td.centered.padding-10.no-posts{ class: cycle('even','odd'), colspan: 6 } — No posts yet —
        %tr
          %td.continuity-spacer{colspan: 5}
      = render partial: 'posts/list_item', collection: @posts.select { |post| post.visible_to? (current_user) }, as: :post, locals: {hide_continuity: true}
- else
  - if @board.description.present?
    - content_for :post_list_description do
      = sanitize_written_content(@board.description).html_safe
  = render 'posts/list', posts: @posts, hide_continuity: true
