- character_galleries = item.character.galleries.ordered if item.character && current_user.icon_picker_grouping? && item.character.galleries.count > 1
#post-editor.padding-10
  .post-info-box
    #current-icon-holder.post-icon
      - if item.icon
        = icon_tag item.icon, id: 'current-icon', pointer: item.has_icons?, data: {icon_id: item.icon_id}
      - elsif item.character.nil? && current_user.avatar
        = icon_tag current_user.avatar, id: 'current-icon', pointer: item.user.avatar_id?, data: {icon_id: current_user.avatar_id}
      - else
        = no_icon_tag id: 'current-icon', pointer: item.has_icons?, data: {icon_id: ''}
      #icon-overlay
    #current-icon-dropdown
      - if item.character
        - if current_user.icon_picker_grouping? && item.character.galleries.count > 1
          - icons = character_galleries.map(&:icons).flatten.map{|i| [i.keyword, i.id]}
        - else
          - icons = item.character.icons.map{|i| [i.keyword, i.id]}
        - unless icons.present?
          - icon = item.character.default_icon
          - icons = [[icon.keyword, icon.id]] unless icon.nil?
        = select_tag :icon_dropdown, options_for_select(icons, item.icon_id), prompt: "No Icon"
      - elsif current_user.avatar
        = select_tag :icon_dropdown, options_for_select([[current_user.avatar.keyword, current_user.avatar.id]], current_user.avatar.id), prompt: "No Icon"
    .post-info-text
      .post-character{class: ('hidden' unless item.character), data: {character_id: item.character_id || '', alias_id: item.character_alias_id || ''}}
        %span#name= item.name
        = image_tag swap_icon_url, id: 'swap-alias', alt: ">", title: 'Choose Alias', class: ('hidden' unless item.character.try(:aliases).present?)
        #alias-selector.beige
          %b Choose Alias
          = select_tag :character_alias, options_from_collection_for_select(item.character.try(:aliases).to_a, :id, :name, item.character_alias_id), prompt: item.character.try(:name), class: 'chosen-select'
      .post-screenname{class: ('hidden' unless item.character.try(:screenname))}= item.character.try(:screenname)
      #post-author-spacer.dark.spacer{class: ('hidden' if item.character)}
      .post-author
        = item.user.username
        - if current_user.characters.present?
          = image_tag swap_icon_url, id: 'swap-icon', alt: ">", title: 'Choose Character'
          #character-selector.beige
            %b Choose Character
            = select_tag :active_character, options_for_select([[item.character.try(:selector_name), item.character_id]], item.character_id)
            %br
      - if item.is_a?(Reply)
        .post-char-access
          - recent_characters = item.post.try(:recent_characters_for, current_user)
          = user_icon_tag(current_user)
          - if recent_characters.present?
            - recent_characters.each do |character|
              = character_icon_tag character
  #gallery.green
    - if item.character.nil?
      - if current_user.avatar
        .gallery-icon
          = icon_tag current_user.avatar, id: current_user.avatar.id, pointer: true
          %br>
          = current_user.avatar.keyword
    - elsif item.character.galleries.present?
      - if current_user.icon_picker_grouping && item.character.galleries.count > 1
        - character_galleries.each do |gallery|
          .gallery-group
            .gallery-name= gallery.name
            - gallery.icons.each do |icon|
              .gallery-icon
                = icon_tag icon, id: icon.id, pointer: true
                %br>
                = icon.keyword
      - else
        - icons = item.character.icons
        - icons.each do |icon|
          .gallery-icon
            = icon_tag icon, id: icon.id, pointer: true
            %br>
            = icon.keyword
    - elsif item.character.default_icon.present?
      .gallery-icon
        = icon_tag item.character.default_icon, id: item.character.default_icon.id, pointer: true
        %br>
        = item.character.default_icon.keyword
    .gallery-icon
      = no_icon_tag id: '', pointer: true
      %br> No Icon
  = yield :form
  .clear &nbsp;
