-# locals: ( posts:, table_class: '', hide_continuity: false, show_unread_count: false, check_box_name: nil, sort_url: nil, current_sort: nil )

- col_count = 5
- col_count += 1 unless hide_continuity # Include continuity name
- col_count += 1 if show_unread_count # Include # Unread
- col_count += 1 if check_box_name # Include form check box tags
- post_args = local_assigns.except(:posts, :list, :table_class, :sort_url, :current_sort)

%span.time-loaded= pretty_time(DateTime.now.in_time_zone)

%table{class: table_class.to_s}
  %thead
    %tr
      %th.table-title{colspan: col_count}= content_for :posts_title
    - if content_for? :post_list_description
      %tr
        %td.odd.written-content{colspan: col_count}= content_for :post_list_description
      %tr
        %td.continuity-spacer{colspan: col_count}
    %tr
      %th.sub.width-15
      %th.sub Thread
      - unless hide_continuity
        %th.sub Continuity
      %th.sub Authors
      %th.sub Replies
      - if show_unread_count
        %th.sub
          - if sort_url
            = link_to 'Unread', sort_url.call('unread'), class: ('current-sort' if current_sort == 'unread')
          - else
            Unread
      %th.sub
        - if sort_url
          = link_to 'Last Updated', sort_url.call(nil), class: ('current-sort' unless current_sort.present?)
        - else
          Last Updated
      - if check_box_name
        %th.sub.check-all-box
          - unless posts.empty?
            = check_box_tag :check_all, nil, false, class: 'check-all', data: { check_box_name: check_box_name }
  %tbody
    = render partial: 'posts/list_item', collection: posts, as: :post, locals: post_args
    - if posts.empty?
      %tr
        %td.centered.padding-10.no-posts{ class: cycle('even', 'odd'), colspan: col_count } — No posts yet —
  - if posts.methods.include?(:total_pages) && posts.total_pages > 1
    %tfoot
      %tr
        %td{colspan: col_count}= render 'posts/paginator', paginated: posts
