.paginator.sub.centered
  .left-align Total#{' Threads' if @threaded && params[:thread_id].blank?}: #{paginated.total_entries}
  .right-align
    - if paginated.klass == Reply
      Posts Per Page:
      = select_tag :per_page, per_page_options, class: 'per-page'
  .pagination
    - if per_page > 0 && paginated.total_entries > per_page
      %span
        - if page == 1
          %span.disabled &laquo; First
        - else
          = link_to '&laquo; First'.html_safe, send(path, params.except(:page))
      = will_paginate paginated, container: false
      %span
        - if page == paginated.total_pages
          %span.disabled Last &raquo;
        - else
          = link_to 'Last &raquo;'.html_safe, send(path, params.merge(:page => paginated.total_pages))
  .clear
