.paginator.centered.sub
  .left-align
    Total#{' Threads' if @threaded && params[:thread_id].blank?}: 
    %span.reply-count=paginated.total_entries
  .right-align
    - if paginated.klass == Reply
      Posts Per Page:
      = select_tag :per_page, per_page_options, class: 'per-page'
  .pagination
    - if paginated.total_entries > paginated.per_page
      - args = params.except(:controller)
      - args = args.merge(id: @post.id) if @post.present?
      %span
        - if page.to_i == 1
          %span.disabled.first_page &laquo; First
        - else
          = link_to '&laquo; First'.html_safe, send(path, args.except(:page)), class: 'first_page'
      = will_paginate paginated, container: false, params: @paginate_params || {}
      %span
        - if page.to_s == paginated.total_pages.to_s
          %span.disabled.last_page Last &raquo;
        - else
          = link_to 'Last &raquo;'.html_safe, send(path, args.merge(page: paginated.total_pages)), class: 'last_page'
  .clear
