%th.sub.paginator{colspan: 2}
  %table
    %tr
      %td.left-align.width-200 Total: #{paginated.total_entries}
      %td.centered
        .pagination
          - if per_page > 0 && paginated.total_entries > per_page
            %span.first-last
              - if page == 1
                %span.disabled &laquo; First
              - else
                = link_to '&laquo; First'.html_safe, send(path, params.except(:page))
            = will_paginate paginated, container: false
            %span.first-last
              - if page == paginated.total_pages
                %span.disabled Last &raquo;
              - else
                = link_to 'Last &raquo;'.html_safe, send(path, params.merge(:page => paginated.total_pages))
      %td.right-align.width-200
        - if paginated.klass == Reply
          Posts Per Page:
          = select_tag :per_page, per_page_options, class: 'per-page'