- content_for :form do
  = form_for reply, html: {id: 'post_form'} do |f|
    %b Reply
    .view-button#rtf{class: ('selected' if (params[:editor_mode] || current_user.default_editor) == 'rtf')} Rich Text
    .view-button#html{class: ('selected' if (params[:editor_mode] || current_user.default_editor) == 'html')} HTML
    %br
    = unread_warning.try(:html_safe)
    %br
    = f.hidden_field :post_id
    = f.hidden_field :character_id
    = f.hidden_field :icon_id
    = f.hidden_field :character_alias_id
    = hidden_field_tag :editor_mode, params[:editor_mode] || current_user.default_editor
    - if params[:per_page]
      = hidden_field_tag :per_page, params[:per_page]
    #post-form-wrapper
      = f.text_area :content, class: 'tinymce'
      = submit_tag (reply.new_record? ? 'Post' : 'Save'), class: 'button', id: 'submit_button', data: { disable_with: 'Saving...' }
      = submit_tag "Preview", class: 'button', id: 'preview_button', name: 'button_preview'
      - if reply.new_record?
        = submit_tag "Save Draft", class: 'button', id: 'draft_button', data: { disable_with: 'Saving...' }, name: 'button_draft'

= render partial: 'posts/editor', locals: {item: reply}
