- content_for :form do
  = form_for reply, :url => url, :method => method, :html => {:id => 'post_form'} do |f|
    %b Reply
    %br
    = f.hidden_field :post_id
    = f.text_area :content
    = f.hidden_field :character_id, value: reply.character_id || params[:character_id] || (current_user.active_character.try(:id) unless reply.id)
    = f.hidden_field :icon_id, value: reply.icon_id || params[:icon_id] || ((current_user.active_character.try(:icon).try(:id) || current_user.avatar.try(:id)) unless reply.id)
    - if params[:per_page]
      = hidden_field_tag :per_page, params[:per_page]
    = submit_tag (method == :put ? 'Save' : "Post"), class: 'button', id: 'submit_button', disable_with: 'Saving...'
    = submit_tag "Preview", class: 'button', id: 'preview_button', disable_with: 'Loading...'

= render partial: 'posts/editor', locals: {item: reply}
