- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @post.board.name, board_path(@post.board)
  &raquo;
  = link_to @post.subject, post_path(@post)
  &raquo;
  %b Delete History

.content-header History of Deleted Replies
= render 'posts/paginator', paginated: @audits
%br

.sub Preceding context
= render partial: 'replies/single', collection: @preceding, as: :reply
%br

.sub
  Reply deleted #{pretty_time(@audit.created_at)} by #{user_link(@audit.user)}
  = link_to 'Restore', restore_reply_path(id: @audit.auditable_id), method: :post
= render 'replies/single', reply: @deleted
%br

.sub Following context
= render partial: 'replies/single', collection: @following, as: :reply