- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  - if @post.board
    = link_to @post.board.name, board_path(@post.board)
  - else
    Unknown Board
  - if @post.section
    &raquo;
    = link_to @post.section.name, board_section_path(@post.section)
  &raquo;
  = link_to @post.subject, post_path(@post)
  &raquo;
  %b Edit

.post-header
  .padding-15 Edit post
= render partial: 'write_post', locals: { post: @post, url: post_path(@post), method: :put }
