- content_for :breadcrumbs do
  = link_to "Continuities", boards_path
  &raquo;
  = link_to @post.board.name, board_path(@post.board)
  - if @post.section
    &raquo;
    = link_to @post.section.name, board_section_path(@post.section)
  &raquo;
  = link_to @post.subject, post_path(@post)
  &raquo;
  %b Edit

.content-header
  .padding-15 Edit post
= render partial: 'write', locals: { post: @post, url: post_path(@post), method: :put }
