!!!
%html
  %head
    %title #{@post.subject} | Glowfic Constellation
    %meta{ :charset => "utf-8" }
    <meta name="viewport" content="width=device-width">
    = stylesheet_link_tag 'application'
    - if current_user.try(:layout).present?
      = stylesheet_link_tag "layouts/#{current_user.layout}"
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.glowfic.com/images/favicon-32x32.png?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.glowfic.com/images/favicon-16x16.png?v=3">
  %body
    #content
      .post-header
        .padding-15
          %span#post-title= @post.subject
      - if @post.description.present?
        .post-subheader
          .padding-10
            %span= sanitize_post_description(@post.description).html_safe
      .post-container{class: 'odd'}
        .padding-10
          .post-info-box
            - if @post.icon
              .post-icon= icon_tag @post.icon
            .post-info-text
              - if @post.character
                .post-character= @post.character.name
                - if @post.character.screenname
                  .post-screenname= @post.character.screenname
              - else
                .dark.spacer
              .post-author= @post.user.username
          = sanitize_post_content(@post.content).html_safe
        .post-footer
          .right-align>
            .padding-5> Posted #{pretty_time(@post.created_at)}
      - 1.upto(@replies.count / 250 + 1). each do |index|
        - @replies.paginate(per_page: 250, page: index).each do |reply|
          - klass = cycle('even', 'odd')
          .post-container{class: klass}
            .padding-10
              .post-info-box
                - if reply.icon_id
                  .post-icon= icon_mem_tag reply.url, reply.keyword
                .post-info-text
                  - if reply.character_id
                    .post-character= reply.name
                    - if reply.screenname
                      .post-screenname= reply.screenname
                  - else
                    .dark.spacer
                  .post-author= reply.username
              = sanitize_post_content(reply.content).html_safe
            .post-footer
              .right-align>
                .padding-5> Posted #{pretty_time(reply.created_at)}
