%table
  %tr
    %th{colspan: 6} Most Recently Updated Threads
  %tr
    %th.sub.width-15
    %th.sub Thread
    %th.sub Continuity
    %th.sub Author
    %th.sub Posts
    %th.sub Last Updated
  - @posts.each do |post|
    - next unless post.visible_to?(current_user)
    %tr
      - klass = cycle('even', 'odd')
      %td.padding-10{class: klass}
        - if post.status == Post::STATUS_COMPLETE
          = image_tag "/images/accept.png", title: "Thread Complete"
      %td.padding-10{class: klass}= link_to post.subject, post_path(post)
      %td.padding-10.width-150{class: klass}= link_to post.board.name, board_path(post.board)
      %td.padding-10.width-150{class: klass}= link_to post.user.username, user_path(post.user)
      %td.padding-10.width-70{class: klass}= post.replies.count + 1
      %td.padding-10.width-300{class: klass}
        = pretty_time(post.updated_at)
        by
        = link_to post.last_post.user.username, user_path(post.last_post.user)
  - if @posts.empty?
    %tr
      %td.centered.padding-10{ class: cycle('even','odd'), colspan: 6 } — No posts yet —
