= render 'breadcrumbs', subtitle: 'Split Post', post: @post

Splitting
= link_to @reply.post.subject, @reply.post
at reply id #
= params[:reply_id]
\. New Post:

.content-header= params[:subject]
- @reply.id = nil
= render 'replies/single', reply: @reply, hide_footer: true

= render 'split'
