- if @fonts.present?
  - @fonts.each do |font|
    %style= raw font.css

.content-header= @post.subject
- if @post.description.present?
  .post-subheader= sanitize_simple_link_text(@post.description)
= render 'replies/single', reply: @written, show_edit: false
%br
.content-header Edit previewed post
= render 'write', post: @post
