.post-header
  .padding-15= @post.subject
- if @post.description
  .post-subheader
    .padding-15= sanitize(@post.description, tags: %w(a), attributes: %w(href)).html_safe
= render partial: 'replies/single', locals: {reply: @written, show_edit: false}
- if @written.is_a?(Reply)
  = render partial: 'write_reply', locals: { reply: @written, url: @url, method: @method }
- else
  = render partial: 'write_post', locals: { post: @post, url: @url, method: @method }
