- content_for :breadcrumbs do
  = link_to "Boards", boards_path
  &raquo;
  = link_to @post.board.name, board_path(@post.board)
  &raquo;
  %b= @post.subject

.post-header
  .padding-15
    %span#post-title= link_to @post.subject, post_path(@post)
    - if logged_in?
      = link_to post_path(@post, unread: true), :method => :put do
        .view-button
          = image_tag '/images/book_open.png', class:'icon-view'
          Mark Unread
      - if @post.user_id == current_user.id
        - if @post.completed?
          = link_to post_path(@post, completed: false), :method => :put do
            .view-button
              = image_tag '/images/book_open.png', class:'icon-view'
              Mark Not Complete
        - else
          = link_to post_path(@post, completed: true), :method => :put do
            .view-button
              = image_tag '/images/book.png', class:'icon-view'
              Mark Complete
- if @post.description.present?
  .post-subheader
    .padding-10
      %span= sanitize(@post.description, tags: %w(a), attributes: %w(href)).html_safe
- if @prev_post || @next_post
  .post-navheader
    .padding-10
      - if @next_post
        = link_to post_path(@next_post) do
          .view-button Next Post &raquo;
      - if @prev_post
        = link_to post_path(@prev_post) do
          .view-button.float-none &laquo; Previous Post
      .clear

- if page == 1
  = render partial: 'replies/single', locals: {reply: @post}
- else
  .post-expander
    .info + Show First Post
    .hidden
      = render partial: 'replies/single', locals: {reply: @post}
- if @replies.present?
  = render partial: 'posts/paginator', locals: { paginated: @replies, path: :post_path }
- @replies.each do |reply|
  = render partial: 'replies/single', locals: {reply: reply}
- if @replies.present?
  = render partial: 'posts/paginator', locals: { paginated: @replies, path: :post_path }
- if logged_in? && current_user.writes_in?(@post.board)
  = render partial: 'posts/write_reply', locals: { reply: @reply, url: replies_path, method: :post }

- unless true # threaded
  %table
    %tr
      %th{colspan: 2}
        = @post.subject
        - if params[:thread_id].present?
          = link_to post_path(@post) do
            .link-box.green &laquo; Thread Index
