= render 'posts/breadcrumbs', post: @post

%span.time-loaded= pretty_time(DateTime.now.in_time_zone)

- split_ui = params[:split_ui] == 'true' && @post.metadata_editable_by?(current_user)
- if split_ui
  - content_for :flashes do
    .flash.error.line-height-1-8
      = image_tag "icons/cut_red.png".freeze, class: 'vmid', alt: ''
      You are in Split Post mode. Please click the scissors icon on the reply you wish to make the start of the new post.
      = link_to post_path(@post, split_ui: 'false'.freeze, page: page, per_page: per_page) do
        .link-box.action-dismiss.float-right Exit Split Post mode

- if @post_warnings.present? || @author_warnings.present?
  - content_for :flashes do
    .flash.error
      - if logged_in?
        = link_to warnings_post_path(@post, page: page, per_page: per_page), method: :post do
          .link-box.action-dismiss.float-right Dismiss for this post
      - else
        = link_to warnings_post_path(@post, page: page, per_page: per_page), method: :post, data: { confirm: 'Are you sure? You will not see content warnings again until you restart your browser!'.freeze } do
          .link-box.action-dismiss.float-right Dismiss all content warnings

      .flash-margin
        - if @post_warnings.present?
          = image_tag "icons/exclamation.png".freeze, class: 'vmid'.freeze, alt: ''
          This post has the following content warnings:
          %ul
            - @post_warnings.each do |warning|
              %li= link_to warning.name, tag_path(warning)

        - if @author_warnings.present?
          - if @post_warnings.present?
            %br
          %details
            %summary
              = image_tag "icons/exclamation.png".freeze, class: 'vmid'.freeze, alt: ''
              - also = @post_warnings.present? ? "also " : ""
              This post's authors #{also}have general content warnings that might apply to the current post.
            %ul
              - @author_warnings.each do |author, warnings|
                %li
                  = link_to author.username, user_path(author)
                  %ul
                    - warnings.each do |warning|
                      %li= link_to warning.tag.name, tag_path(warning.tag)
      .clear

.content-header
  %span#post-title= link_to @post.subject, @post
  .view-button#post-menu
    = image_tag menu_img, class: 'icon-view'.freeze, alt: 'Show Menu'
  #post-privacy= privacy_icon(@post.privacy.to_sym, dark_layout: current_user&.layout_darkmode?, auto_layout: current_user&.layout_auto?)
#post-menu-holder
  #post-menu-box.hidden
    -# TODO ePub downloader
    -#= link_to post_path(@post, completed: false), method: :put do
    -#  %div
    -#    = image_tag "icons/book_go.png", alt: ''
    -#    Download as ePub
    = link_to post_path(@post, view: 'flat'.freeze), rel: 'nofollow noindex'.freeze do
      %div
        = image_tag "icons/page_world.png".freeze, alt: ''
        View Flat HTML
    = link_to stats_post_path(@post) do
      %div
        = image_tag "icons/chart_bar.png".freeze, alt: ''
        View Metadata
    - if @post.has_replies_bookmarked_by?(current_user)
      = link_to search_bookmarks_path(user_id: current_user.id, post_id: [@post.id], commit: 'Search'), rel: 'nofollow' do
        %div
          = image_tag "icons/bookmark.png".freeze, alt: ''
          View Bookmarks
    = link_to search_replies_path(post_id: @post.id) do
      %div
        = image_tag "icons/magnifier.png".freeze, alt: ''
        Search Post
    - if logged_in?
      - if current_user.default_hide_edit_delete_buttons || current_user.default_hide_add_bookmark_button
        - if params[:show_all_reply_buttons] == "true"
          = link_to post_path(@post, show_all_reply_buttons: 'false'.freeze, page: page, per_page: per_page) do
            %div
              = image_tag "icons/link_delete.png".freeze, alt: ''
              Hide Reply Buttons
        - else
          = link_to post_path(@post, show_all_reply_buttons: 'true'.freeze, page: page, per_page: per_page) do
            %div
              = image_tag "icons/link_go.png".freeze, alt: ''
              Show Hidden Reply Buttons
      = link_to post_path(@post, unread: true), method: :put do
        %div
          = image_tag "icons/eye.png".freeze, class: 'vmid'.freeze, style: 'margin-bottom: 3px;'.freeze, alt: ''
          Mark Unread
      - if @post.ignored_by?(current_user)
        = link_to post_path(@post, hidden: false), method: :put do
          %div
            = image_tag "icons/weather_cloudy.png".freeze, class: 'vmid'.freeze, style: 'margin-bottom: 3px;'.freeze, alt: ''
            Unhide
      - else
        = link_to post_path(@post, hidden: true), method: :put do
          %div
            = image_tag "icons/weather_clouds.png".freeze, class: 'vmid'.freeze, style: 'margin-bottom: 3px;'.freeze, alt: ''
            Hide
      - if (fav = Favorite.between(current_user, @post))
        = link_to favorite_path(fav), method: :delete do
          %div
            = image_tag "icons/star_delete.png".freeze, class: 'vmid'.freeze, style: 'margin-bottom: 3px;'.freeze, alt: ''
            Unfavorite
      - else
        = link_to favorites_path(post_id: @post.id), method: :post do
          %div
            = image_tag "icons/star_add.png".freeze, class: 'vmid'.freeze, style: 'margin-bottom: 3px;'.freeze, alt: ''
            Favorite
      - if @post.metadata_editable_by?(current_user)
        - unless @post.complete?
          = link_to post_path(@post, status: 'complete'.freeze), method: :put do
            %div
              = image_tag "icons/book.png".freeze, alt: ''
              Mark Complete
        - unless @post.hiatus?
          = link_to post_path(@post, status: 'hiatus'.freeze), method: :put do
            %div
              = image_tag "icons/hourglass.png".freeze, alt: ''
              Mark On Hiatus
        - unless @post.active?
          = link_to post_path(@post, status: 'active'.freeze), method: :put do
            %div
              = image_tag "icons/book_open.png".freeze, alt: ''
              Mark In Progress
        - unless @post.abandoned?
          = link_to post_path(@post, status: 'abandoned'.freeze), method: :put do
            %div
              = image_tag "icons/book_grey.png".freeze, alt: ''
              Mark Abandoned
        - if @post.authors_locked?
          = link_to post_path(@post, authors_locked: 'false'.freeze), method: :put do
            %div
              = image_tag "icons/lock_open.png".freeze, alt: ''
              Unlock Authors
        - else
          = link_to post_path(@post, authors_locked: 'true'.freeze), method: :put do
            %div
              = image_tag "icons/lock.png".freeze, alt: ''
              Lock Authors
        - if split_ui
          = link_to post_path(@post, split_ui: 'false'.freeze, page: page, per_page: per_page) do
            %div
              = image_tag "icons/cut_closed.png".freeze, alt: ''
              Disable Split UI
        - else
          = link_to post_path(@post, split_ui: 'true'.freeze, page: page, per_page: per_page) do
            %div
              = image_tag "icons/cut.png".freeze, alt: ''
              Split Post
        - author = @post.author_for(current_user)
        - if author&.can_owe?
          = link_to mark_posts_path(marked_ids: [@post.id], commit: "Remove from Replies Owed"), method: :post do
            %div
              = image_tag "icons/bell_delete.png".freeze, alt: ''
              Remove from Replies Owed
        - elsif author.present?
          = link_to mark_posts_path(marked_ids: [@post.id], commit: "Show in Replies Owed"), method: :post do
            %div
              = image_tag "icons/bell_add.png".freeze, alt: ''
              Show in Replies Owed
        = link_to delete_history_post_path(@post) do
          %div
            = image_tag 'icons/cross.png'.freeze
            Deleted Replies
      -# TODO need more dynos
      -#= link_to users_path do
      -#  %div
      -#    = image_tag "icons/bell_add.png", alt: ''
      -#    Turn on notifications
- if @post.description.present?
  .post-subheader= sanitize_simple_link_text(@post.description)
- if @prev_post || @next_post
  .post-navheader
    - if @next_post
      = link_to post_path(@next_post), class: 'view-button-link' do
        .view-button Next Post &raquo;
    - if @prev_post
      = link_to post_path(@prev_post), class: 'view-button-link float-left' do
        .view-button &laquo; Previous Post
- if page.to_i == 1
  = render 'replies/single', reply: @post, split_ui: split_ui
- else
  .post-expander
    .info + Show First Post
    .hidden
      = render 'replies/single', reply: @post, split_ui: split_ui
- if @replies.present?
  = render 'posts/paginator', paginated: @replies
= render partial: 'replies/single', collection: @replies, as: :reply, locals: { split_ui: split_ui }
- if @post.complete? && (@replies.empty? || (@replies.last.id == @post.last_reply_id))
  .post-ender Here Ends This Thread
  - if @prev_post || @next_post
    .post-navheader
      - if @next_post
        = link_to post_path(@next_post), class: 'view-button-link' do
          .view-button Next Post &raquo;
      - if @prev_post
        = link_to post_path(@prev_post), class: 'view-button-link float-left' do
          .view-button &laquo; Previous Post
- if @post.on_hiatus? && (@replies.empty? || (@replies.last.id == @post.last_reply_id))
  .post-ender This Thread Is On Hiatus
- if @post.abandoned? && (@replies.empty? || (@replies.last.id == @post.last_reply_id))
  .post-ender This Thread Has Been Permanently Abandoned
- if @replies.present?
  = render 'posts/paginator', paginated: @replies
- if logged_in? && @unread.nil?
  %a.noheight{id: "unread"}= " "
- if @post.taggable_by?(current_user) && !split_ui
  - post_open = !@post.authors_locked?
  - draft_exists = !@reply.content.nil?
  - if (post_open && draft_exists) || @post.author_for(current_user)&.can_reply?
    = render 'replies/write', reply: @reply
  - elsif post_open
    .post-expander.post-editor-expander
      .info + Join Thread
      .hidden
        = render 'replies/write', reply: @reply

.centered.margin-10= link_to 'Back to Top', '#'
