- content_for :breadcrumbs do
  = link_to "Boards", boards_path
  &raquo;
  = link_to @post.board.name, board_path(@post.board)
  &raquo;
  %b= @post.subject

.post-header
  = @post.subject
  - if logged_in?
    .character-new-select{style: 'visibility: hidden;'} &nbsp;
    = link_to post_path(@post, unread: true), :method => :put do
      .character-view-select
        = image_tag '/images/book_open.png', class:'character-icon-select'
        Mark Unread
= render partial: 'replies/single', locals: {reply: @post}
- if @replies.present?
  = render partial: 'paginator', locals: { paginated: @replies, path: :post_path }
- @replies.each do |reply|
  = render partial: 'replies/single', locals: {reply: reply}
- if @replies.present?
  = render partial: 'paginator', locals: { paginated: @replies, path: :post_path }
- if logged_in? && current_user.writes_in?(@post.board)
  = render partial: 'write_reply', locals: { reply: @reply, url: replies_path, method: :post }

- unless true
  %table
    %tr
      %th{colspan: 2}
        = @post.subject
        - if params[:thread_id].present?
          = link_to post_path(@post) do
            .character-view-select &laquo; Thread Index
