- content_for :posts_title do
  - if @started
    Opened
  - else
    Unread
  Posts
  = link_to hidden_posts_path, class: 'view-button-link' do
    .view-button Hidden &raquo;
  = link_to unread_posts_path(started: !@started), class: 'view-button-link' do
    .view-button
      - if @started
        All Threads &raquo;
      - else
        Opened Threads &raquo;

= form_tag mark_posts_path, method: :post do
  = render 'posts/list', posts: @posts, show_unread_count: true, check_box_name: 'marked_ids[]'
  - unless @posts.empty?
    %table
      %tr
        %td.right-align.padding-5{colspan: 8, class: cycle('even', 'odd')}
          = submit_tag "Hide from Unread", class: 'button'
          = submit_tag "Mark Read", class: 'button'
          = submit_tag "Mark Unread", class: 'button'
%br

= form_tag mark_continuities_path, method: :post do
  .form-table#mark-continuities
    .editor-title Mark Entire Continuity
    .even
      = select_tag :board_id,
                   options_from_collection_for_select(Board.where(id: params[:board_id]), :id, :name, params[:board_id]),
                   { class: 'chosen-select', prompt: '— Choose Continuity —' }
    .form-table-ender
      = submit_tag "Hide from Unread", class: 'button'
      = submit_tag "Mark Read", class: 'button'
