= form_tag icon_gallery_path(id: @gallery&.id || 0),
  method: :post,
  class: 'icon-upload',
  data: { 'form-data' => @s3_direct_post.fields, url: @s3_direct_post.url, host: URI.parse(@s3_direct_post.url).host, limit: 150 } do
  .content-header
    %span.vmid Add New Icons to Gallery: #{@gallery.try(:name) || 'Galleryless'}
    - if @gallery
      = link_to add_gallery_path(@gallery, type: 'existing'), class: 'view-button-link' do
        .view-button
          = image_tag "icons/grid.png", class: 'icon-view', alt: ''
          Add Existing Icons &raquo;
  %table
    %tr
      %th.subber.width-150.centered Upload Files
      %td.odd
        = file_field_tag "icons[][file]", id: "icon_files", class: 'icon_files', multiple: true
        %span.progress-box{style: 'margin-left: 5px;'}
  %table.form-table#icon-table
    %thead
      %tr
        %th.sub.width-15
        %th.sub URL
        %th.sub Keyword
        %th.sub Credit
        %th.sub
    %tbody
      - len = @icons.empty? ? 1 : @icons.size
      - len.times do |i|
        - klass = cycle('even', 'odd')
        - s3_key = @icons[i].try(:[], :s3_key)
        - url = @icons[i].try(:[], :url)
        - keyword = @icons[i].try(:[], :keyword)
        - if s3_key.present?
          - purl = url
          - pkey = keyword
        %tr.icon-row{data: { index: i }}
          - empty_gif = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
          %td.width-15{class: klass, style: 'padding: 0px;'}= icon_mem_tag purl || empty_gif, pkey || '', class: 'vmid preview-icon'
          %td.padding-5{class: klass}
            %span.conf{class: ('hidden' unless s3_key.present?)}
              = image_tag "icons/accept.png", class: 'vmid', alt: ''
              Uploaded
              %span.filename= @icons[i].try(:[], :filename)
            = text_field_tag "icons[][url]", url, placeholder: "URL", class: ('hidden' if s3_key.present?), id: "icons_#{i}_url"
            = hidden_field_tag "icons[][s3_key]", s3_key, id: "icons_#{i}_s3_key"
            = hidden_field_tag "icons[][filename]", @icons[i].try(:[], :filename), id: "icons_#{i}_filename"
          %td.padding-5{class: klass}= text_field_tag "icons[][keyword]", keyword, placeholder: "Keyword", id: "icons_#{i}_keyword"
          %td.padding-5{class: klass}= text_field_tag "icons[][credit]", @icons[i].try(:[], :credit), placeholder: "Credit", id: "icons_#{i}_credit"
          %td.right-align.icon-buttons{class: klass}
            %a{href: '#'}= image_tag "icons/add.png", class: "icon-row-add", alt: 'Add Row'
            %a{href: '#'}= image_tag "icons/minus.png", class: "icon-row-rem", alt: 'Delete Row'
    %tfoot
      %tr.submit-row
        %th.form-table-ender{colspan: 5}= submit_tag "Add New Icons", class: 'button'
