= form_tag icon_gallery_path(id: @gallery.try(:id) || 0),
  method: :post,
  class: 'icon-upload',
  data: { 'form-data' => (@s3_direct_post.fields), url: @s3_direct_post.url, host: URI.parse(@s3_direct_post.url).host } do
  .post-header
    .padding-15
      %span.vmid Add New Icons to Gallery: #{@gallery.try(:name) || 'Galleryless'}
      - if @gallery
        = link_to add_gallery_path(@gallery, type: 'existing') do
          .view-button
            = image_tag '/images/grid.png', class: 'icon-view', alt: ''
            Add Existing Icons &raquo;
  %table
    %tr
      %th.subber.width-150.centered Upload Files
      %td.odd
        = file_field_tag "icons[][file]", id: "icon_files", multiple: true
        %span.progressBox{style: 'margin-left: 5px;'}
  %table#icon-table
    %tr
      %th.sub URL
      %th.sub Keyword
      %th.sub Credit
      %th.sub
    - len = @icons.empty? ? 1 : @icons.size
    - len.times do |i|
      - klass = cycle('even', 'odd')
      %tr.icon-row{data: {index: i}}
        %td.padding-5{class: klass}
          - url = @icons[i].try(:[], :url)
          - if url && url.starts_with?('https://d1anwqy6ci9o1i.cloudfront.net/')
            %span.conf
              = image_tag "/images/accept.png", class: 'vmid'
              Uploaded #{@icons[i][:file]}
            = text_field_tag "icons[][url]", url, placeholder: "URL", class: 'hidden', id: "icons_#{i}_url"
          - else
            = text_field_tag "icons[][url]", url, placeholder: "URL", id: "icons_#{i}_url"
        %td.padding-5{class: klass}
          = text_field_tag "icons[][keyword]", @icons[i].try(:[], :keyword), placeholder: "Keyword"
        %td.padding-5{class: klass}
          = text_field_tag "icons[][credit]", @icons[i].try(:[], :credit), placeholder: "Credit"
        %td.right-align.icon-buttons{class: klass}
          = image_tag "/images/add.png", class: "icon-row-add"
          = image_tag "/images/minus.png", class: "icon-row-rem"
    %tr.submit-row
      %th.subber{colspan: 5}= submit_tag "Add New Icons", class: 'button'
