= form_tag icon_gallery_path(@gallery), method: :post, id: 'add-gallery-icons' do
  = hidden_field_tag :image_ids
  .content-header
    %span.vmid= t('.title', name: @gallery.name)
    = link_to add_gallery_path(@gallery), class: 'view-button-link' do
      .view-button
        = image_tag "icons/list.png", class: 'list-view', alt: ''
        = t('galleries.add_new.button')
  %table
    %tr
      %th.form-table-ender= t('.instructions')
    %tr
      %th.sub= t('galleries.show.title.none')
    %tr
      %td.even.padding-5#icons-0
        = check_box_tag :select_all, 0, false, class: 'select-all'
        = t('.select_all')
        %br
        - @unassigned.each do |icon|
          .gallery-icon
            = icon_tag icon, class: 'add-gallery-icon', 'data-id': icon.id
            %br
            %span.icon-keyword= icon.keyword
    %tr
      %td.form-table-ender.padding-5
        = submit_tag t('.submit'), class: 'button'
    - current_user.galleries.ordered_by_name.each do |gallery|
      - next if gallery.id == @gallery.id
      %tr
        %th.sub.gallery-minmax{data: { id: gallery.id }}
          = gallery.name
          .float-right.gallery-box{id: "minmax-#{gallery.id}"} +
      %tr
        %td.padding-5.hidden{class: cycle('even', 'odd'), id: "icons-#{gallery.id}"}
          = check_box_tag :select_all, gallery.id, false, class: 'select-all', id: nil
          = t('.select_all')
          %br
    %tr
      %td.form-table-ender.padding-5
        = submit_tag t('.submit'), class: 'button'
