-# locals: ()

- content_for :breadcrumbs do
  %b Add New

= form_tag icon_gallery_path(id: @gallery&.id || 0),
  method: :post,
  class: 'icon-upload',
  data: { 'form-data' => @s3_direct_post.fields, url: @s3_direct_post.url, host: URI.parse(@s3_direct_post.url).host, limit: 150 } do
  .content-header
    %span.vmid Add New Icons to Gallery: #{@gallery.try(:name) || 'Galleryless'}
    - if @gallery
      = link_to add_gallery_path(@gallery, type: 'existing'), class: 'view-button-link' do
        .view-button
          = image_tag "icons/grid.png", class: 'icon-view', alt: ''
          Add Existing Icons &raquo;
  #icon-upload
    .subber Upload Files
    .odd
      = file_field_tag "icons[][file]", id: "icon_files", class: 'icon_files', multiple: true
      %span.progress-box
  .form-table#icon-table
    %div
      .sub.width-15
      .sub URL
      .sub Keyword
      .sub Credit
      .sub
    - len = @icons.empty? ? 1 : @icons.size
    - len.times do |i|
      - klass = cycle('even', 'odd')
      - s3_key = @icons[i].try(:[], :s3_key)
      - url = @icons[i].try(:[], :url)
      - keyword = @icons[i].try(:[], :keyword)
      - if s3_key.present?
        - purl = url
        - pkey = keyword
      .icon-row{data: { index: i }}
        - empty_gif = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
        .preview-icon-cell{class: klass}= icon_mem_tag purl || empty_gif, pkey || '', class: 'preview-icon'
        .url-cell.input-cell{class: klass}
          %span.conf{class: ('hidden' unless s3_key.present?)}
            = image_tag "icons/accept.png", class: 'vmid', alt: ''
            Uploaded
            %span.filename= @icons[i].try(:[], :filename)
          = text_field_tag "icons[][url]", url, placeholder: "URL", class: ('hidden' if s3_key.present?), id: "icons_#{i}_url"
          = hidden_field_tag "icons[][s3_key]", s3_key, id: "icons_#{i}_s3_key"
          = hidden_field_tag "icons[][filename]", @icons[i].try(:[], :filename), id: "icons_#{i}_filename"
        .keyword-cell.input-cell{class: klass}= text_field_tag "icons[][keyword]", keyword, placeholder: "Keyword", id: "icons_#{i}_keyword"
        .credit-cell.input-cell{class: klass}= text_field_tag "icons[][credit]", @icons[i].try(:[], :credit), placeholder: "Credit", id: "icons_#{i}_credit"
        .icon-buttons{class: klass}
          %a{href: '#'}= image_tag "icons/add.png", class: "icon-row-add", alt: 'Add Row'
          %a{href: '#'}= image_tag "icons/minus.png", class: "icon-row-rem", alt: 'Delete Row'
      .submit-row.form-table-ender= submit_tag "Add New Icons", class: 'button'
