= form_tag delete_multiple_icons_path, method: :delete do
  = render partial: 'galleries/icon_item', collection: icons, locals: { is_owner: is_owner, skip_forms: skip_forms }
  - if is_owner && !skip_forms
    .clear.centered.icons-remove
      - if gallery
        = hidden_field_tag :gallery_id, gallery.id
        = submit_tag t('icons.delete_multiple.button.remove'), name: 'gallery_delete'
      = submit_tag t('icons.delete_multiple.button.delete'), data: { confirm: t('icons.delete_multiple.confirm') }
