-# locals: ( icons:, gallery:, is_owner: false, skip_forms: false )

= form_tag delete_multiple_icons_path, method: :delete do
  = render partial: 'galleries/icon_item', collection: icons, locals: { is_owner: is_owner, skip_forms: skip_forms }
  - if is_owner && !skip_forms
    .clear.centered.icons-remove
      - if gallery
        = hidden_field_tag :gallery_id, gallery.id
        = hidden_field_tag :page, params[:page], id: nil
        = submit_tag "- Remove selected icons from gallery", name: 'gallery_delete'
      = submit_tag "x Delete selected icons permanently", data: { confirm: "Are you sure? These icons will be gone from the site!" }
