%tr.gallery{id: "gallery#{gallery ? gallery.id : 0}"}
  %td
    = form_tag delete_multiple_icons_path, method: :delete do
      %table.gallery-table
        %tr
          %th.subber= Icon.human_attribute_name(:keyword)
          %th.subber= Icon.human_attribute_name(:credit)
          %th.subber= t('.times_used')
          %th.subber= t('.posts_in')
          %th.subber
        = render partial: 'galleries/list_item', collection: icons, locals: { is_owner: is_owner, skip_forms: skip_forms }
        - if is_owner && !skip_forms
          %tr
            %th.form-table-ender{colspan: 5}
              .centered.icons-remove
                - if gallery
                  = hidden_field_tag :gallery_id, gallery.id
                  = submit_tag t('icons.delete_multiple.button.remove'), name: 'gallery_delete'
                = submit_tag t('icons.delete_multiple.button.delete'), data: { confirm: t('icons.delete_multiple.confirm') }
