-# locals: ( icons:, gallery: nil, is_owner: false, skip_forms: false )

%tr.gallery{id: "gallery#{gallery ? gallery.id : 0}"}
  %td
    = form_with url: delete_multiple_icons_path, method: :delete do |f|
      %table.gallery-table
        %tr
          %th.subber Keyword
          %th.subber Credit
          %th.subber Times Used
          %th.subber Posts In
          %th.subber
        = render partial: 'galleries/list_item', collection: icons, locals: { is_owner: is_owner, skip_forms: skip_forms, f: f }
        - if is_owner && !skip_forms
          %tr
            %th.form-table-ender{colspan: 5}
              .centered.icons-remove
                - if gallery
                  = f.hidden_field :gallery_id, value: gallery.id
                  = f.submit "- Remove selected icons from gallery", name: 'gallery_delete'
                = f.submit "x Delete selected icons permanently", data: { confirm: "Are you sure? These icons will be gone from the site!" }
