-# locals: ( icons:, gallery: nil, is_owner: false, skip_forms: false )

%tr.gallery{id: "gallery#{gallery ? gallery.id : 0}"}
  %td
    = form_tag delete_multiple_icons_path, method: :delete do
      %table.gallery-table
        %tr
          %th.subber Keyword
          %th.subber Credit
          %th.subber Times Used
          %th.subber Posts In
          %th.subber
        = render partial: 'galleries/list_item', collection: icons, locals: { is_owner: is_owner, skip_forms: skip_forms }
        - if is_owner && !skip_forms
          %tr
            %th.form-table-ender{colspan: 5}
              .centered.icons-remove
                - if gallery
                  = hidden_field_tag :gallery_id, gallery.id
                  = hidden_field_tag :page, params[:page], id: nil
                  = submit_tag "- Remove selected icons from gallery", name: 'gallery_delete'
                = submit_tag "x Delete selected icons permanently", data: { confirm: "Are you sure? These icons will be gone from the site!" }
