%tr.gallery{id: "gallery#{gallery ? gallery.id : 0}"}
  %td
    = form_tag delete_multiple_icons_path, method: :delete do
      %table.gallery-table
        %tr
          - klass = cycle('even', 'odd')
          %th.subber{class: klass} Keyword
          %th.subber{class: klass} Credit
          %th.subber{class: klass} Times Used
          %th.subber{class: klass} Posts In
          %th.subber{class: klass}
        - icons.pluck(:id, :keyword, :credit).each do |icon_id, keyword, credit|
          - klass = cycle('even', 'odd')
          %tr
            %td{class: klass}
              = link_to keyword, icon_path(id: icon_id)
            %td{class: klass}= credit
            %td{class: klass}= @times_used.fetch(icon_id, 0)
            %td{class: klass}= @posts_used.fetch(icon_id, 0)

            %td.width-70.right-align{class: klass}
              - if is_owner && !skip_forms
                = check_box_tag :"marked_ids[]", icon_id, false, id: nil
        - if is_owner && !skip_forms
          %tr
            %th.form-table-ender{colspan: 5}
              .centered.icons-remove
                - if gallery
                  = hidden_field_tag :gallery_id, gallery.id
                  = submit_tag "- Remove selected icons from gallery", name: 'gallery_delete'
                = submit_tag "x Delete selected icons permanently", data: { confirm: "Are you sure? These icons will be gone from the site!" }
