-# locals: ( list_item:, is_owner: false, skip_forms: false )

- icon_id, keyword, _url, credit = list_item
- klass = cycle('even', 'odd')
%tr
  %td.icon-keyword{class: klass}
    = link_to keyword, icon_path(id: icon_id)
  %td.icon-credit{class: klass}= credit
  %td.icon-used{class: klass}= @times_used.fetch(icon_id, 0)
  %td.icon-posts{class: klass}= @posts_used.fetch(icon_id, 0)

  %td.width-70.right-align{class: klass}
    - if is_owner && !skip_forms
      = check_box_tag :"marked_ids[]", icon_id, false, id: nil
