- content_for :breadcrumbs do
  = link_to "Galleries", user_galleries_path(current_user)
  &raquo;
  = link_to @gallery.name, gallery_path(@gallery)
  &raquo;
  %b Edit

= form_for @gallery, method: :put, html: {class: 'icon-upload'}, data: { 'form-data' => @s3_direct_post.fields, url: @s3_direct_post.url, host: URI.parse(@s3_direct_post.url).host, limit: 1 } do |f|
  %table.form-table.gallery-edit-form
    %thead
      %tr
        %th.editor-title{colspan: 2}
          Edit Gallery
    %tbody.gallery-editor
      = render 'editor', f: f, gallery: @gallery
      %tr
        %th.subber{colspan: 2} Edit Icons
  .gallery-icons-edit
    = f.fields_for :galleries_icons, @gallery.galleries_icons.joins(:icon).order(Arel.sql('LOWER(keyword)')) do |gif|
      .gallery-icon-editor
        = gif.fields_for :icon do |i|
          = render 'icons/editor', f: i, gif: gif
  .submit-button
    = submit_tag "Save", class: 'button'
