= form_for @gallery, :url => gallery_path(@gallery), :method => :put do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 3}
        Edit Gallery
    %tr
      %th.sub Name
      %td.even{colspan: 2}= f.text_field :name, placeholder: "Gallery Name", class: 'text'
    %tr
      %th.subber{colspan: 3} Edit Icons
    - @gallery.icons.order('keyword asc').each do |icon|
      = f.fields_for "icons_attributes[]", icon do |i|
        %tr
          %td.green.centered{rowspan: 3}
            = icon_tag icon
            = i.hidden_field :id
          %th.sub URL
          %td{class: cycle('even','odd')}= i.text_field :url, :placeholder => "URL", :class => 'text'
        %tr
          %th.sub Keyword
          %td{class: cycle('even','odd')}= i.text_field :keyword, :placeholder => "Keyword", :class => 'text'
        %tr
          %th.sub Credit
          %td{class: cycle('even','odd')}= i.text_field :credit, :placeholder => "Credit", :class => 'text'
        %tr
          %td.spacer.subber{colspan:3}
    %tr
      %th.subber{colspan: 3}
        = submit_tag "Save", class: 'button'
