- content_for :breadcrumbs do
  = link_to "You", user_path(current_user)
  &raquo;
  = link_to "Your Galleries", user_galleries_path(current_user)
  &raquo;
  = link_to @gallery.name, @gallery
  &raquo;
  %b Edit

- data = { 'form-data' => @s3_direct_post.fields, url: @s3_direct_post.url, host: URI.parse(@s3_direct_post.url).host, limit: 1 }
= form_for @gallery, method: :put, html: { class: 'icon-upload' }, data: data do |f|
  .form-table.gallery-edit-form.gallery-editor
    .editor-title Edit Gallery
    = render 'editor', f: f, gallery: @gallery
    .subber.colspan Edit Icons
  .gallery-icons-edit
    = f.fields_for :galleries_icons, @gallery.galleries_icons.joins(:icon).order(Arel.sql('LOWER(keyword)')) do |gif|
      .gallery-icon-editor
        = gif.fields_for :icon do |i|
          = render 'icons/editor', f: i, gif: gif
  .submit-button
    = submit_tag "Save", class: 'button'
