- content_for :breadcrumbs do
  - if @user.id != current_user.try(:id)
    = link_to "#{@user.username}", user_path(@user)
    &raquo;
    %b #{@user.username}'s Galleries

%table
  %thead
    %tr
      %th.padding-10{colspan: 4}
        - if @user.id == current_user.try(:id)
          Your Galleries
          = link_to new_gallery_path, class: 'gallery-new' do
            .link-box.green + New Gallery
        - else
          = @user.username + "'s Galleries"
  = render partial: 'list_view'
