- content_for :breadcrumbs do
  - if @user.id == current_user.try(:id)
    = link_to "You", user_path(current_user)
    &raquo;
    %b Your Galleries
  - else
    = user_link(@user)
    &raquo;
    %b #{@user.username}'s Galleries

.gallery-table-title
  - if @user.id == current_user.try(:id)
    Your Galleries
    = link_to new_gallery_path, class: 'gallery-new' do
      .link-box.action-new + New Gallery
  - else
    = @user.username + "'s Galleries"
.galleries-holder
  .galleries-header
    .sub Name
    .sub.centered # of Icons
    .sub Manage
    .sub Expand
  %div{id: "gallery-0"}
    .odd.gallery-name= link_to '[Galleryless]', user_gallery_path(id: 0, user_id: @user.id)
    .odd.gallery-icon-count= @user.icons.where(has_gallery: false).count
    .odd.gallery-buttons
      - if @user.id == current_user.try(:id)
        = link_to add_gallery_path(id: 0), title: "Add Icons", class: 'gallery-add' do
          = image_tag "icons/add.png", alt: 'Add Icons'
    .odd.gallery-expand
      .gallery-box{id: "minmax-0", data: { id: 0 }}
        .view-button
          = image_tag "icons/bullet_arrow_down.png", class: 'vmid down-arrow', alt: 'Show'
          = image_tag "icons/bullet_arrow_up.png", class: 'vmid hidden up-arrow', alt: 'Hide'
  .delete-form.hidden.odd{id: "icons-0"}
    = form_tag delete_multiple_icons_path, method: :delete do
      .gallery
      - if @user.id == current_user.try(:id)
        .icons-remove
          = submit_tag "x Delete selected icons permanently", data: { confirm: "Are you sure? These icons will be gone from the site!" }
  = render partial: 'galleries/expandable', collection: @galleries.with_icon_count.with_gallery_groups, as: :gallery

- if @galleries.methods.include?(:total_pages) && @galleries.total_pages > 1
  = render 'posts/paginator', paginated: @galleries, no_per: true
