- content_for :breadcrumbs do
  - if @user.id != current_user.try(:id)
    = user_link(@user)
    &raquo;
    %b #{@user.username}'s Galleries

%table
  %thead
    %tr
      %th.padding-10{colspan: 4}
        - if @user.id == current_user.try(:id)
          Your Galleries
          = link_to new_gallery_path, class: 'gallery-new' do
            .link-box.action-new + New Gallery
        - else
          = @user.username + "'s Galleries"
    %tr
      %th.sub Name
      %th.sub.width-150.centered # of Icons
      %th.sub.width-70 Manage
      %th.sub.width-70 Expand
  %tbody
    %tr
      %td.odd.gallery-name= link_to '[Galleryless]', user_gallery_path(id: 0, user_id: @user.id)
      %td.width-150.centered.odd.gallery-icon-count= @user.icons.where(has_gallery: false).count
      %td.odd.gallery-buttons
        - if @user.id == current_user.try(:id)
          = link_to add_gallery_path(id: 0), title: "Add Icons", class: 'gallery-add' do
            = image_tag "icons/add.png"
      %td.centered.width-70.odd
        .gallery-box.vmid{id: "minmax-0", style: 'display: inline-block;', data: {id: 0}}
          .view-button{style: 'padding: 5px 7px;'}
            = image_tag "icons/bullet_arrow_down.png", class: 'vmid down-arrow'
            = image_tag "icons/bullet_arrow_up.png", class: 'vmid hidden up-arrow'
    %tr
      %td.padding-5.hidden.odd{id: "icons-0", colspan: 4}
        = form_tag delete_multiple_icons_path, method: :delete do
          .gallery{style: 'padding: 0px;'}
          - if @user.id == current_user.try(:id)
            .clear.centered.icons-remove
              = submit_tag "x Delete selected icons permanently", data: { confirm: "Are you sure? These icons will be gone from the site!" }
    = render partial: 'galleries/expandable', collection: @user.galleries.with_icon_count.with_gallery_groups.ordered_by_name, as: :gallery
