%h2 Your Galleries
= link_to "Add Gallery", new_gallery_path
%br
%table
  - current_user.galleries.order('name asc').each do |gallery|
    %tr
      %th.padding-10
        = gallery.name
        = surround '(', ')' do
          = link_to 'x', gallery_path(gallery), :method => :delete, confirm: 'Are you sure you want to delete this gallery?'
        = link_to 'Add icon', add_gallery_path(gallery)
        .gallery-box.float-right{id: gallery.id} -
    %tr
      %td.green.gallery-title
        .gallery{id: 'gallery'+gallery.id.to_s}
          - icons = gallery.icons.order('keyword asc')
          - icons.each do |icon|
            .gallery-icon{ id: 'icon'+icon.id.to_s }
              = link_to icon_path(icon) do
                = icon_tag icon
                %br
                = icon.keyword
              .gallery-delete{ id: icon.id, gallery: gallery.id } X
          - if icons.empty?
            .centered — No icons yet —
