- content_for :breadcrumbs do
  = link_to "You", user_path(current_user)
  &raquo;
  = link_to "Your Galleries", user_galleries_path(current_user)
  &raquo;
  %b Create New

= form_with model: @gallery, method: :post do |f|
  - icons_present = current_user.galleryless_icons.present?
  .form-table{class: (icons_present ? 'gallery-edit-form' : nil)}
    .editor-title New Gallery
    = render 'editor', f: f, gallery: @gallery
    - if icons_present
      %div
        .sub.vtop Icons
        .gallery-icons{class: cycle('even', 'odd')}
          - current_user.galleryless_icons.each do |icon|
            = f.label "gallery_icon_ids_#{icon.id}" do
              .gallery-icon
                = icon_tag icon, id: icon.id, pointer: true
                %br>
                %span.icon-keyword= icon.keyword
                - box_selected = params[:gallery].try(:[], :icon_ids).try(:include?, icon.id.to_s)
                .select-button= f.check_box "gallery[icon_ids][]", value: icon.id, checked: box_selected, id: "gallery_icon_ids_#{icon.id}"
    .form-table-ender= f.submit "Create", class: 'button'
