%table
  - if @gallery
    = render partial: 'single', locals: {gallery: @gallery, hide_minmax: true}
    - content_for :breadcrumbs do
      - if @user.id == current_user.try(:id)
        = link_to "Galleries", user_galleries_path(current_user)
      - else
        = link_to "#{@user.username}", user_path(@user)
        &raquo;
        = link_to "#{@user.username}'s Galleries", user_galleries_path(@user)
      &raquo;
      %b= @gallery.name
  - else
    = render partial: 'galleryless'
    - content_for :breadcrumbs do
      - if @user.id == current_user.try(:id)
        = link_to "Galleries", user_galleries_path(current_user)
      - else
        = link_to "#{@user.username}", user_path(@user)
        &raquo;
        = link_to "#{@user.username}'s Galleries", user_galleries_path(@user)
      &raquo;
      %b= 'Galleryless Icons'
