-# locals: ()

- content_for :tos_form do
  #signup.form-table
    .editor-title Accept our Terms of Service
    #terms
      .odd
        Our Terms of Service have recently changed!
        Please read and agree to the
        = link_to 'Terms of Service', tos_path
        and the
        = link_to 'Privacy Policy', privacy_path
    .form-table-ender= submit_tag "I agree to the terms of service", class: 'button', name: :tos_check, id: :tos_check

- if logged_in?
  = form_for current_user, url: current_user, method: :put, name: :tos_form do
    = content_for :tos_form
- else
  = form_tag confirm_tos_path, method: :patch, id: :tos_form do
    = content_for :tos_form
