#privacy-content.odd{style: 'padding: 15px;'}
  %h1 Privacy Policy

  %p
    This privacy statement ("Privacy Policy") covers all websites (such as www.glowfic.com) owned and operated by the Glowfic Constellation ("we", "us", "our", "Constellation") and all associated services.

  %p
    We use information you share with us for our own internal purposes.
    We do not sell your information.
    This notice tells you what information we collect, how we use it, and steps we take to protect and secure it.

  %h3 Table of Contents
  %ol
    %li
      = link_to 'Information we automatically collect', '#auto'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Non-personally-identifying', '#impersonal'
        %li= link_to 'Personally-identifying', '#personal'
    %li= link_to 'Information you are required to provide to us on registration', '#required'
    %li= link_to 'Account contents', '#contents'
    %li= link_to 'Disclosure of information', '#disclosure'
    %li= link_to 'Special rules regarding children', '#children'
    %li= link_to 'Cookies', '#cookies'
    %li= link_to 'Confidentiality and security', '#security'
    %li= link_to 'Deleting your information', '#deleting'
    %li
      = link_to 'Outside vendors', '#vendors'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Business vendors', '#business'
        %li= link_to 'Site features', '#features'
    %li= link_to 'Updates to the policy', '#updates'
    %li= link_to 'Contacting us', '#contact'
    %li= link_to 'Creative Commons', '#license'

  %h3#auto Information we automatically collect

  %h4#impersonal Non-personally-identifying

  %p
    Like most website operators, we collect non-personally-identifying information such as browser type, language preference, referring site, and the date and time of each visitor request.

  %p
    We collect this to understand how our visitors use our service, and use it to make decisions about how to change and adapt the service.

  %p
    From time to time, we may release non-personally-identifying information in aggregate form (for instance, by publishing trends in site usage) to explain our reasoning in making decisions.
    We will not release individual information, only aggregate information.

  %p
    We collect and process Logs of server interactions, as well as event logs.
    We need this information for legal and accounting/audit reasons, including maintaining the integrity of the Constellation and the Content that we host.

  %h4#personal Personally-identifying

  %p
    We may collect personally-identifying information, such as IP address, provided by your browser and your computer.

  %p
    We collect this information for several purposes:

  %ul
    %li To diagnose and repair issues with your use of the site;
    %li To estimate the number of users accessing the service from specific geographic regions;
    %li To help prevent fraud and abuse.

  %p
    We collect information about certain pages users access or visit, as well as referral information (i.e. data about what site you are coming to the Constellation from) and whether there are errors in displaying Content to you.
    This information may be associated with your account (for instance, when we log that a user has read the first page of a post).
    We need this information
    to maintain the integrity of the site, the Service and the Content that we host;
    to provide you with the Content that you are seeking;
    to support site functionality such as identifying unread posts;
    to minimize spam;
    and for other legal and accounting/audit reasons.

  %h3#required Information you are required to provide to us on registration

  %p
    In order to register for the service, you must give us your email address.
    We will use your email address to send confirmation of certain actions, such as when you reset your password.
    We may contact you if there's a critical or administrative issue affecting your use of the service.
    We may occasionally send emails to you about your Content and account, or news that we reasonably believe to be of interest to our registered users.
    By creating and maintaining a User Account on and with the Constellation, you consent to receiving such emails.
    We reserve the right to send you notice of complaints raised against you, or alleged violations by you of the Terms of Service, as well as to reply to any email message you send to the Constellation and/or its personnel.

  %p
    Once you have created your account, you can choose to subscribe to certain events and have notifications of those events sent to you via email.
    You will be able to change your mind and opt out of receiving notifications via email at any time.

  %p
    We will never sell or provide your email address to any third party, with
    = succeed '.' do
      = link_to 'exceptions as set forth below', '#disclosure'

  %h3#contents Account contents

  %p
    You consent to our collection, processing, retention and display of your Content, including personal data, when you submit Content to the Constellation.
    We need such consent because your purpose in and reason for uploading Content to the Constellation is for that Content to be visible to users and, if you opt to, the general public, or for that Content to be accessible to you at a later date.

  %p
    You may optionally post content to your account with varying security levels.
    To the best of our ability, and limited only by the possibility of bugs or technical difficulties, we will honor the security levels you choose for your content and display that content only to those whom you have authorized to see it.

  %p
    By choosing to make any Content public, including any personally-identifiable information you may share, you recognize and accept that other people, not affiliated with us, may use this data to contact you.
    We can't be responsible for the use of any information you post publicly.

  %p
    While maintaining the site, Constellation staff may need to view the contents of your account, including information for which you have chosen a restrictive security level.
    Circumstances in which this is necessary include, but are not limited to: troubleshooting and diagnosing technical problems, investigating possible Terms of Service violations, and legal compliance issues.
    Constellation staff only use the ability to override your chosen security levels during the course of these investigations.
    At no time is your secured content disclosed to any third party, with
    = succeed '.' do
      = link_to 'exceptions as set forth below', '#disclosure'
    Any use of this ability may be logged and regularly audited.

  %h3#disclosure Disclosure of information

  %p
    We disclose personally-identifying information only to those of our employees and contractors who
    (i) need to know that information in order to operate the service and
    (ii) have agreed not to disclose it to others.
    Some of these employees and contractors may be located outside your home country.
    By using this website, you consent to the transfer of your information to them.

  %p
    If all of our assets were transferred or acquired, your information would be one of the assets that is transferred or acquired by a third party.

  %p
    We may disclose account contents, potentially personally-identifying, and personally-identifying information when that release is required by law or by court order, or when we believe in good faith that disclosure is reasonably necessary to protect the safety or rights of us, third parties, or the public at large.

  %p
    If we receive a complaint about a violation of someone's intellectual property rights, we reserve the right to disclose the information provided by the rightsholder or the rightsholder's representative to the subject of the complaint.

  %h3#children Special rules regarding children

  %p
    The Children's Online Privacy Protection Act ('COPPA') requires that we inform parents on how we collect and disclose the personal information of children under the age of 13.

  %p
    We do not permit children under the age of 13 to use our service.
    If your child under the age of 13 has mis-represented their age or is using this site in violation of our
    = succeed ',' do
      = link_to 'Age Policy', tos_path(anchor: 'age')
    please
    = succeed '.' do
      = link_to 'contact us', contact_path
    After confirming your identity, we will remove the account.

  %h3#cookies Cookies

  %p
    A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns.
    We use cookies to help us identify and track visitors, their usage of the website, and their website access preferences.
    We also use cookies to govern logging into your account.

  %p
    Visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the site, with the drawback that many features of the site may not function properly without the aid of cookies.

  %h3#security Confidentiality and security

  %p
    No data transmisson over the Internet can ever be guaranteed to be 100% secure.
    You use this service at your own risk.
    However, we do take steps to ensure security on our systems.

  %p
    Your account information is password-protected.
    We recommend that you choose a strong and secure password.
    We use industry-standard SSL encryption to safeguard any transmission between your computer and ours.

  %p
    If we learn of a system security breach, we will notify you electronically so you can take appropriate steps to protect yourself.
    Depending on where you live, you may have a legal right to receive notice of a security breach in writing.
    To receive free written notice, please
    = succeed '.' do
      = link_to 'contact us', contact_path

  %h3#deleting Deleting your information

  %p
    You may choose to delete your account entirely by contacting a site administrator.
    If you choose to delete your account entirely, your information will be removed entirely from the Website.
    We may retain any records or personally identifying information which we deem necessary for legal, auditing or disaster recovery purposes.
    Any information so retained will not be available through the Website and will be available solely to Constellation staff with a legitimate reason for access.

  %p
    As part of the day to day operation of the Constellation, we will make regular copies of the data contained in the databases for backup purposes.
    These backups can potentially contain deleted data for several weeks or months.
    These backups will also be governed by the rules for disclosure of personally-identifying information.

  %p
    For additional information about how we handle the deletion of Content, please see the
    = link_to '3e. Deletion of Content', tos_path(anchor: 'deletion')
    section of our Terms of Service.

  %h3#vendors Outside vendors

  %h4#business Business vendors

  %p
    We may use third-party services to store, process, or transmit data, or perform other technical functions related to hosting, operating, administering and maintaining the Constellation service.
    These services may include, but are not limited to, spam detectors, backup services, icon hosting, and e-mail services.
    We cannot guarantee other services' performance.
    We or the services we use may store or process your personally identifying information in data centers which may be located in the United States or other countries.

  %p
    We will list all of our business vendors in this privacy policy.
    Our current business vendors are:
    %ul
      %li Heroku
      %li Amazon Web Services
      %li New Relic
      %li SumoLogic
      %li Github for hosting of application code.*
      %li TravisCI for automated site testing.*
      %li CodeClimate for code quality reporting.*

  %p
    *Business vendors marked with a * do not store, process or transmit any of the Constellation's production user data, only application code and test data.

  %h4#features Site features

  %p
    We reserve the right to contract with third-party vendors to provide site features we are unable to provide ourselves.
    We will only share personal information with third-party vendors to the extent that is necessary for such affiliates to provide these site features.
    Our third-party vendors do not have the right to share or use personal information for any purpose other than for an authorized transaction. Some of our third-party vendors may be located outside of your home country.
    By using this website and these features, you consent to the transfer of such information to them.
    We will clearly identify which site features are provided by third-party vendors, and provide you a way to opt out of using those site features.

  %h3#updates Updates to the policy

  %p
    We reserve the right, at our sole discretion, to modify or replace any part of this privacy policy at any time.
    If these changes are minor, we will post them to this page.
    If the changes are major, we will post them to this page and take reasonable steps to notify users.
    Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.
    Such changes will be used only for information provided by those who have visited, used, or accessed the Service after the effective date of such policy changes.
    If you are concerned about how your information is used, you should check the site periodically to review these policies.

  %h3#contact Contacting us

  %p
    If you have questions about this policy, please
    = succeed '.' do
      = link_to 'contact us', contact_path

  %h3#license Creative Commons

  %p
    This privacy policy is based on ones developed by Dreamwidth
    = surround '(', ')' do
      = link_to 'https://www.dreamwidth.org/legal/privacy', 'https://www.dreamwidth.org/legal/privacy', target: '_blank', rel: 'noopener'
    and Archive of our Own
    = surround '(', ')' do
      = link_to 'https://www.archiveofourown.org/tos#privacy', 'https://www.archiveofourown.org/tos#privacy', target: '_blank', rel: 'noopener'
    and is licensed under a
    = succeed '.' do
      = link_to 'Creative Commons Attribution-ShareAlike 2.5 License', 'https://creativecommons.org/licenses/by-sa/2.5/', target: '_blank', rel: 'noopener'

  .details Last revised November 9, 2018
