#tos-content.odd{style: 'padding: 15px;'}
  %h1 Glowfic Constellation Terms of Service

  %p
    The Glowfic Constellation is a collaborative writing community, including both original works and fan fiction based on books, TV, movies, comics, and other media.

  %p
    We (and the kind folks whose Terms of Services we
    = succeed ')' do
      = link_to 'based this document on', '#license'
    hate legalese, so we've tried our best to make our terms readable.
    If you've got any questions, feel free to
    = link_to 'ask us', contact_path
    and we'll do our best to answer.

  %h3 Table of Contents
  %ol
    %li
      = link_to 'General Terms', '#general'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Use of the Site', '#use'
        %li= link_to 'Updates to Terms', '#updates'
    %li
      = link_to 'Account Terms', '#account'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Account Security', '#security'
        %li= link_to 'Age Policy', '#age'
        %li= link_to 'Access to Features', '#features'
        %li= link_to 'Member Conduct', '#conduct'
        %li= link_to 'Termination', '#termination'
        %li= link_to 'Data Collection', '#data'
        %li= link_to 'Email Address', '#emailadd'
    %li
      = link_to 'Content Policies', '#content-policies'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Ownership of Content', '#ownership'
        %li= link_to 'External Content', '#external'
        %li= link_to 'Exposure to Content', '#exposure'
        %li= link_to 'Reproduction of Content', '#reproduction'
        %li= link_to 'Endorsement of Content', '#endorsement'
        %li= link_to 'Deletion of Content', '#deletion'
    %li
      = link_to 'Abuse and Violations Policy', '#violations'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Mediating Disputes', '#mediation'
        %li= link_to 'Submitting a Complaint', '#complaint'
        %li= link_to 'Investigating a Complaint', '#investigation'
        %li= link_to 'Complaint Outcomes', '#consequences'
        %li= link_to 'Appeals Process', '#appeals'
    %li
      = link_to 'Legal Matters', '#legal'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Privacy Policy', '#privacy'
        %li= link_to 'Jurisdiction', '#use'
        %li= link_to 'Indemnity', '#use'
        %li= link_to 'Copyright Infringement', '#copyright'
        %li= link_to 'Limitation of Liability', '#liability'
        %li= link_to 'Partial Invalidation', '#invalidation'
        %li= link_to 'Resale of Services', '#resale'
    %li
      = link_to 'Additional Terms', '#terms'
      %ol{style: 'list-style-type: lower-alpha'}
        %li= link_to 'Volunteers', '#volunteers'
        %li= link_to 'Active Development Disclaimer', '#development'
        %li= link_to 'Reporting Violations', '#reporting'
        %li= link_to 'Section Titles', '#sections'
        %li= link_to 'Creative Commons', '#license'

  %h3#general 1. General Terms

  %h4#use a. Use of the Site

  %p
    The Glowfic Constellation is offered subject to your acceptance, without modification, of all the following terms and conditions and all other policies published on this website.
    Please read this agreement carefully.
    By accessing or using any part of the Website, you agree that you are bound
    by the terms and conditions of this Agreement.
    If you do not agree to all the terms and conditions of this Agreement,
    then you may not access the Website or use any of its services.

  %h4#updates b. Updates to Terms

  %p
    We reserve the right, at our sole discretion, to modify or replace any part of this Agreement at any time, or release new services or features subject to the terms of this Agreement.
    We will take reasonable steps to notify you of any substantial changes to this Agreement; however, it is your responsibility to check this Agreement periodically for changes.
    Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes.

  %h3#account 2. Account Terms

  %h4#security a. Account Security

  %p
    If you create an account on the Website, you are responsible for maintaining the security of your account.
    You are responsible for all activities that occur under the account and any other actions taken in connection with the account.
    You must take reasonable steps to guard the security of your account.
    We will not be liable for any acts or omissions resulting from a breach of security, including any damages of any kind incurred as a result of such acts or omissions.

  %h4#age b. Age Policy

  %p
    In compliance with United States regulations regarding online privacy for children, the Constellation does not knowingly solicit or collect information from children under the age of 13.
    Children under the age of 13 are therefore not permitted to have an account or upload content of any type.

  %p
    In compliance with European Union regulations regarding online privacy for teens, the Constellation does not knowingly solicit or collect information from teens who are residents/citizens of the European Union under the age of 16.
    Teens between 13 and 16 who are residents/citizens of the European Union are therefore not permitted to have an account or upload content of any type.

  %p
    By using the Constellation or uploading Content, you thereby confirm that you are (a) at least 16 years old or (b) at least 13 years old and not a European Union resident/citizen.

  %h4#features c. Access to Features

  %p
    Glowfic Constellation accounts can be registered free of charge and receive access to all site features.
    By using this Website, you agree to our right to add or discontinue additional types of accounts, and change or modify the features available to different types of accounts, at any time at our discretion.

  %h4#conduct d. Member Conduct

  %p
    Our goal is to make the Constellation a safe and positive community where our users can contribute in a healthy and constructive manner.
    We expect our users to always, in the immortal words of
    = succeed ',' do
      = link_to 'Bill S. Preston, Esq', 'https://mygeekwisdom.com/2011/09/12/be-excellent-to-each-other/', target: '_blank', rel: 'noopener'
    "be excellent to each other", and be respectful of others.

  %p
    You agree that you will not use the Website to:

  %ol
    %li
      Upload, post, or otherwise transmit any Content that is harmful, threatening, derogatory, violent, abusive, hateful, invasive to the privacy and publicity rights of any person, or violates the terms of this Agreement;

    %li
      Upload, post, or otherwise transmit any Content that is spam or solicitation, or contains unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);

    %li
      Maliciously impersonate any real person or entity, including but not limited to a Constellation staff member or volunteer, or to otherwise misrepresent your affiliation with any person or entity;

    %li
      Upload, post or otherwise transmit any Content that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);

    %li
      Upload, post or otherwise transmit any Content that infringes any patent, trademark, trade secret, copyright, or other proprietary rights of any party;

    %li
      Interfere with or disrupt the Website or servers or networks connected to the Website, or disobey any requirements, procedures, policies or regulations of networks connected to the Website;

    %li
      Solicit passwords or personal identifying information for unintended, commercial or unlawful purposes from other users;

    %li
      Provide any material that is illegal under United States law, or that violates any applicable local, state, national, or international law, including any regulation having the force of law;

    %li
      Upload, post or otherwise transmit any Content that contains viruses, worms, malware, Trojan horses or other harmful or destructive content;

    %li
      Allow usage by others in such a way as to violate this Agreement;

    %li
      Make excessive or otherwise harmful automated use of the Website;

    %li
      Access any other person's account without their knowledge and permission, or exceed the scope of the Website that you have signed up for; for example, accessing and using features you don't have a right to use.

  %h4#termination e. Termination

  %p
    We may terminate your access to all or any part of the Website at any time, at our sole discretion, if we believe that you have violated this Agreement.
    You agree that any termination of your access to the Website may involve removing or discarding any content you have provided.

  %p
    If you wish to terminate this Agreement, you may deactivate your account and cease using the Website.
    You agree that, upon deactivation of your account, we may, but are not required to, make unavailable or permanently delete any content you have provided, at any time past the deactivation of your account.

  %p
    All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

  %h4#data f. Data Collection

  %p
    In order to host or share Content, we have to process certain data and information including personally identifying information that we collect from Users, and that each User inputs.
    In order to operate the site, host the Constellation and user Content, and prevent technical issues and breaches, we need to process (e.g. collect, store, retrieve, disseminate, make available, and delete) certain data and information including personally identifying information, also known as "Personal Data".
    Personal Data may include your username, your email address, your IP information and any personally identifying information you enter on the Constellation, including information that you put into your profile, or other Content itself.

  %p
    By using the site, you consent to our collection, processing, retention and display of your Content as set forth and explained in these Terms of Use so we can operate, manage, display and share Constellation Content;
    if we believe that using, retaining and/or sharing that information is necessary to preserve the integrity of the Constellation and the Content that we host;
    for legitimate legal and/or accounting audit purposes;
    when we have a good faith belief it is required by law, such as pursuant to a subpoena or other legal process;
    or when we have a good faith belief that doing so will help prevent imminent harm to someone.

  %h4#emailadd g. Email Address

  %p
    As part of your registration, you agree to provide an accurate and current e-mail address and to update the address as necessary.
    If your e-mail address is inaccurate or not current, the Constellation may suspend your account.

  %p
    By registering or otherwise using an e-mail address in connection with the Constellation, you assert that the e-mail address is not listed on any child protection registry.
    (There are child protection registries in Michigan and Utah, and our policy applies to any others that exist or may be adopted, whether local, state, or national, including any outside the U.S.)

  %h3#content-policies 3. Content Policies

  %h4#ownership a. Ownership of Content

  %p
    You agree to the following provisions for posting Content to the Website:

  %ol
    %li
      We claim no ownership or control over any Content that you post to the Website.
      You retain any intellectual property rights to the Content you post, in accordance with applicable law.
      By posting Content, you represent that you have the rights to reproduce that Content (and the right to allow us to serve such Content) without violation of the rights of any third party.
      You agree that you will bear any liability resulting from the posting of any Content that you do not have the rights to post.

    %li
      All Content posted to the Website in any way is the responsibility of the owner.
      Within the confines of international and local law, we will generally not place a restriction on the type or appropriateness of any Content.
      If Content is deemed illegal by any law having jurisdiction over you, you agree that we may submit any necessary information to the proper authorities.

    %li
      We do not pre-screen Content.
      However, you acknowledge that we have the right (but not the obligation), in our sole discretion, to remove or refuse to remove any Content from the service.
      You also agree that we may, without limitation, take any steps necessary to remove Content from the site search engine or member directory, at our sole discretion.

    %li
      If any Content you have submitted is reported to us as violating this Agreement, you agree that we may call upon you to change, modify, or remove that Content, within a reasonable amount of time, as defined by us.
      If you do not follow this directive, we may terminate your account.

  %p
    If you operate an account, post material to the Website, post links on the Website,
    or otherwise make (or allow any third party to make) material available by means of the Website,
    you are entirely responsible for that Content and any harm that may result from it.

  %h4#external b. External Content

  %p
    We have not reviewed, and cannot review, all of the material made available through the websites and webpages to which we, or any user, links, or that link to us.
    We do not have any control over those websites and webpages, and are not responsible for their contents or their use.
    By linking to an external website or webpage, we do not represent or imply that we endorse such website or webpage.
    You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
    We disclaim any responsibility for any harm resulting from your use of external websites and webpages, whether that link is provided by us or by any provider of Content on the Website.

  %p
    While we limit the types of embedded content visible or accessible via the Website, some of the content that you see displayed is not hosted on the Constellation.
    Such embedded content can include videos, tweets, images that are hosted by third-party sites, or audio files ("User-Embedded Content").
    If you access a page that includes User-Embedded Content, the content file may share data with the hosted site as if you were on or at the hosted site.
    Although all visible Content, including embedded images or other works, must comply with our Content Policy, User-Embedded Content is not otherwise governed by these Terms of Use or our Privacy Policy, and instead is covered by the Terms of Use and/or Privacy Policy of the service that hosts the User-Embedded Content.
    The Constellation reserves the right to provide an indicator to users that User-Embedded Content is present on or visible via your Content.

  %h4#exposure c. Exposure to Content

  %p
    You agree that by using the service, you may be exposed to Content you find offensive or objectionable.
    If such Content is reported to us, it will be our sole discretion as to what action, if any, should be taken.

  %h4#reproduction d. Reproduction of Content

  %p
    By submitting Content to us for inclusion on the Website, you grant us a world-wide, royalty-free, and non-exclusive license to reproduce, compile, modify, adapt and publish the Content, solely for the purpose of displaying, distributing and promoting the contents of your account, including through downloadable clients and external feeds.

  %p
    Modifying and adapting here refer strictly to how your work is displayed— not how it is written or otherwise created.
    Changes may include, but are not limited to:
    updating formatting (such as changing "bold" html to "strong");
    improving accessibility;
    adapting to the technical requirements of user devices;
    or displaying snippets in search results.

  %h4#endorsement e. Endorsement of Content

  %p
    You recognize that the Constellation does not endorse Content on the Website in any way, except when material appears as an official statement.

  %p
    No one affiliated with the Constellation, including adminstrators or volunteers, is acting in an official capacity when they post Content of the type generally provided by site users, and such Content is also not endorsed by the Website in any way.

  %h4#deletion f. Deletion of Content

  %p
    If you delete Content, we will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable or may be provided by external services such as search engines which are beyond our control.
    By deleting Content, you agree that such Content may be unrecoverable.

  %p
    Though deleted Content will not be publicly available, for legal and disaster recovery purposes we may retain backup copies.
    You acknowledge and agree that the Constellation may preserve Content and may disclose Content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to:
    comply with legal process;
    enforce the ToS;
    respond to claims that any Content violates the rights of third parties;
    or protect the rights, property, or personal safety of the Constellation's users and the public.

  %p
    The license stated above in
    = link_to '3d. Reproduction of Content', '#reproduction'
    will terminate within a reasonable time after you remove or the Constellation removes your Content from the Website.

  %h3#violations 4. Abuse and Violations Policy

  %p
    We recognize that there is no such thing as a popular abuse policy. By their nature, abuse complaints are unpleasant at best. And policy needs to be applied by people, which always complicates matters. We have tried to set out clear procedures to minimize and channel the inevitable conflicts.

  %p
    The Constellation does not prescreen for content. Complaints are investigated only when they are submitted through the appropriate channels and with the appropriate information.

  %h4#mediation a. Mediating Disputes

  %p
    Where possible, we encourage users to try mediating disputes themselves before contacting Policy & Abuse.
    If you are unable to resolve the problem on your own, you can file a complaint with the Policy & Abuse team.

  %p
    In some cases, objectionable Content may have already been deleted before the Policy & Abuse team acts.
    We appreciate good faith attempts to resolve disputes, and in most such cases will close the complaint with no further action.
    However, we reserve the right to consider individual circumstances, including whether the poster has engaged in a pattern of such conduct.

  %h4#complaint b. Submitting a Complaint

  %p
    Complaints may be submitted to our Policy & Abuse team via the
    = succeed ',' do
      = link_to 'contact page', contact_path
    except in the case of copyright complaints, which should be submitted in accordance with the process detailed in our
    = succeed '.' do
      = link_to 'DMCA policy', dmca_path
    Depending on the nature of the complaint, anonymity of the complainant may hinder our ability to examine and/or verify the complaint.
    In order for personnel to follow up on any allegation, the exact location (URL) and nature of the alleged violation must be supplied in the original complaint.
    Repeated unverified complaints from the same source may be subject to summary rejection.

  %h4#investigation c. Investigating a Complaint

  %p
    Only people who need to know about a complaint will be informed about it.
    The details of any individual complaint are confidential and must be used only in resolving that complaint.

  %p
    The subject of a complaint may also be among those who need to know about it.
    Only information provided in the complaint will be passed on.
    The complainant has complete control over what information is submitted to Policy & Abuse, and can submit a complaint pseudonymously.
    Legal names and other information sufficient to identify a person in the physical world will never be disclosed as part of a standard abuse complaint; for further clarification, please refer to our our
    = succeed '.' do
      = link_to 'Privacy Policy', privacy_path

  %p
    In general, the Policy & Abuse team will only communicate with the subject of a complaint if there appears to be a violation of site policy, or if personnel need more information to resolve the issue.

  %p
    Subject to obligations of confidentiality about specific complaints, the Policy & Abuse team may release statistics about general trends, such as the number of plagiarism complaints made and the actions taken by the team, in public to facilitate discussions of policies, procedures, and trends in complaints.

  %h4#consequences d. Complaint Outcomes
  %p
    If Policy & Abuse personnel determine that a violation of this Agreement has taken place, they may, at their sole discretion, take remediation steps they deem necessary, including but not limited to:
  %ul
    %li setting a deadline for voluntary removal of the Content;
    %li removing Content that has not been voluntarily removed within the deadline;
    %li hiding the Content from other users where appropriate;
    %li removing content immediately without waiting for a response (if, for instance, we determine the Content reveals an individual's personal information without consent), notifying the original poster and allowing them the option to resubmit with the violating Content removed;
    %li adding, editing or removing Content tags, including content warnings;
    %li removing Content without notifying the original poster in cases where invalid contact information has been provided;
    %li issuing warnings to the user for minor or unintentional infractions;
    %li suspending for a defined period of time, or permanently terminating, the user's access to any or all areas of the Constellation;
    %li taking no action.

  %p
    The team's discretion will be informed by the nature of the violation and the response of the user, including the user's decision to voluntarily remove, modify or edit Content that violates the ToS.

  %p
    Penalties are not retroactive: a user's existing, nonobjectionable Content will not necessarily be automatically removed.
    Suspended users retain the right to delete their Content by contacting Constellation administrators.

  %p
    Users whose accounts have been suspended or terminated for reasons other than age may not rejoin under another identity or in any other fashion attempt to bypass their penalties or account restrictions.
    Users whose accounts were suspended or terminated due to age may appeal or rejoin once they are of age as defined in the
    = succeed '.' do
      = link_to 'Age Policy', '#age'

  %p
    If the complainant requests notification of the resolution of the complaint and provides contact information, we will notify them.

  %h4#appeals e. Appeals Process

  %p
    The complainant or the original poster may appeal a decision to the Policy & Abuse team as a whole.
    During the appeal, the original decision will remain in effect.
    We will attempt to resolve appeals as speedily as possible, but please remember that the Policy & Abuse team is entirely comprised of volunteers.
    The team's decisions are final unless overturned by the site owner at the owner's sole discretion.
    There is no right of appeal to the owner.

  %h3#legal 5. Legal Matters

  %h4#privacy a. Privacy Policy

  %p
    Your use of the Website is governed by the Privacy Policy, currently located at
    = succeed '.' do
      = link_to privacy_url, privacy_path

  %h4#jurisdiction b. Jurisdiction

  %p
    This Agreement and all disputes arising out of or related to it, shall be governed by the laws of the United States and specifically the State of New York, without regard to its conflict of law provisions.
    You agree to submit to the personal and exclusive jurisdiction of the courts located within New York County (Manhattan), New York, and to waive any objection to the laying of venue there.

  %p
    You agree that, regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Constellation must be filed within 1 year after such claim or cause of action arose or be forever barred.

  %h4#indemnity c. Indemnity

  %p
    You agree to indemnify and hold harmless the Glowfic Constellation, and any of its representatives or agents, from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Website, including but not limited to out of your violation of this Agreement.

  %h4#copyright d. Copyright Infringement

  %p
    If you believe that material located on the Website violates your copyright, you may notify us in accordance with our
    = succeed '.' do
      = link_to "Digital Millennium Copyright Act ('DMCA') Policy", dmca_path
    We will respond to all such notices as required by law, including by removing the infringing material or disabling access to the infringing material.
    As set forth by law, we will, in our sole discretion, terminate or deny access to the Website to users of the site who have repeatedly infringed upon the copyrights or intellectual property rights of others.

  %h4#liability e. Limitation of Liability

  %p
    You expressly understand and agree that in no event will the Glowfic Constellation or any of its representatives be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for:
    %br
    (i) any special, incidental or consequential damages, including from any material you download, view, or otherwise access through the Service;
    (ii) the cost of procurement or substitute products or services;
    %br
    (iii) interruption, limitation or termination of use or loss or corruption of data;
    (iv) any statements or conduct of any third party on the service;
    %br
    (v) any claims arising out of Content you make available, your use of the Service, your connection to the Service, your use of the TOS, or your violation of the rights of another; or
    (vi) any unauthorized access to or alterations of your Content.
    We shall have no liability for any failure or delay due to matters beyond our reasonable control.

  %p
    In other words, the Constellation is not liable to you for allowing you to post Content, download Content, use the Service, or interact with the Website.
    The Constellation does not assume whatever legal risks you face by posting, viewing, or doing other things with the Website.

  %p
    The foregoing shall not apply to the extent prohibited by applicable law.

  %h4#invalidation f. Partial Invalidation

  %p
    Failure to enforce any part of this Agreement will not waive the Constellation's ability to enforce it, and any waiver with regard to a specific instance shall not constitute a waiver of any other breaches of the terms, even with regard to the same user.
    If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect.

  %h4#resale g. Resale of Services

  %p
    You agree not to reproduce, duplicate, copy, sell, resell, or exploit any portion of the Website, use of the Website, or access to the Website except as permitted by applicable licenses.

  %h3#terms 6. Additional Terms

  %h4#volunteers a. Volunteers

  %p
    We appreciate the generous service of our volunteers in many aspects of our Constellation management. No user is required to volunteer; it is completely optional. By providing work, volunteers agree that:
  %ul
    %li they are of legal age, or volunteering with the consent of a legal parent or guardian;
    %li they are providing work with no expectation of pay or future consideration;
    %li they have taken reasonable diligence to ensure that the work is correct, accurate, and free of defect;
    %li they will not disclose or share any proprietary or confidential information;
    %li their work shall be licensed to the Constellation on a perpetual, irrevocable, and world-wide basis, to the extent permitted by law;
    %li the Constellation may determine the basis upon which their work shall be licensed to others, including licenses that may permit the further alteration or dissemination of your work; and
    %li never to sue the Constellation for the use of said work.

  %h4#development b. Active Development Disclaimer

  %p
    The Glowfic Constellation is under active development!
    We are making every effort to make the Constellation stable and useful and to provide the best possible service to our users;
    however, this is a work in progress.
    Therefore, please be aware:

  %p
    This Website is provided "as is" and "as available".
    We make no warranty that the Constellation will meet your requirements; that our services will be uninterrupted, timely, secure, or error-free; or that the results you get from using the services will be accurate, reliable, or satisfactory to you.
    We may, at our sole discretion, discontinue providing the Website at any time, with or without notice.
    You agree that any interruptions to the service will not qualify for reimbursement or compensation.
    You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.

  %p
    Please report bugs, and don't use the beta version of the Constellation as your only place to store your stories if you are not comfortable with this risk.
    We appreciate your forbearance and your willingness to be a part of the Constellation at this early stage.

  %h4#reporting c. Reporting Violations

  %p
    To report a violation of this Agreement, please
    = succeed '.' do
      = link_to 'contact us', contact_path

  %h4#sections d. Section Titles

  %p
    The section titles in this Agreement are for convenience only and have no legal or contractual effect.

  %h4#license e. Creative Commons

  %p
    This Terms of Service document is based on ones developed by Dreamwidth
    = surround '(', '),' do
      = link_to 'https://www.dreamwidth.org/legal/tos', 'https://www.dreamwidth.org/legal/tos', target: '_blank', rel: 'noopener'
    Mozilla
    = surround '(', '),' do
      = link_to 'https://www.mozilla.org/en-US/about/governance/policies/participation/', 'https://www.mozilla.org/en-US/about/governance/policies/participation/', target: '_blank', rel: 'noopener'
    and Archive of our Own
    = surround '(', ')' do
      = link_to 'https://www.archiveofourown.org/tos', 'https://www.archiveofourown.org/tos', target: '_blank', rel: 'noopener'
    and is licensed under a
    = succeed '.' do
      = link_to 'Creative Commons Attribution-ShareAlike 2.5 License', 'https://creativecommons.org/licenses/by-sa/2.5/', target: '_blank', rel: 'noopener'

  %p.details Last revised November 9, 2018
