-# locals: ( obj:, f:, name:, icon:, alt_icon: )

.form-table#replace-form
  .editor-title Replace All Uses of #{obj.class}
  = content_for :disclaimer
  %div
    .sub Current
    .sub New
  %div
    .replace-icon
      = icon_tag icon
      = name
      = content_for :aliases, f
    .replace-icon
      - if alt_icon
        = icon_tag alt_icon, id: 'new_icon'
      - else
        = no_icon_tag id: 'new_icon'
      = content_for :options, f
  - if @posts.present?
    .sub.colspan Optional: Select Post(s)
    .odd.centered.colspan
      .details *If none are selected, replaces all uses*
  - @posts.each do |post|
    .replace-posts.checkbox-field{class: cycle('even', 'odd')}
      = f.check_box :'post_ids[]', value: post.id, checked: false, id: nil
      = link_to post.subject, post_path(post)
  .form-table-ender= f.submit "Replace", class: 'button'
