-# locals: ( f:, gif: )

.icons-box
  = icon_tag f.object, id: "icon-#{f.object.id}"
  = f.hidden_field :id
  = loading_tag class: 'grid-hidden', id: "loading-#{f.object.id}"
.form-table.icon-edit-table
  .gallery-icon-url{id: "icon-row-#{f.object.id}"}
    - klass = cycle('even', 'odd')
    .centered{class: klass} URL
    %div{class: klass}
      .icon_conf{class: ('grid-hidden' unless f.object.uploaded?)}
        = image_tag "icons/accept.png", class: 'vmid', alt: ''
        Uploaded to site
      .icon_url_field{class: ('grid-hidden' if f.object.uploaded?)}
        = f.text_field :url, placeholder: "URL"
      = f.hidden_field :s3_key
  .gallery-icon-upload
    - klass = cycle('even', 'odd')
    - file_id = "icon_files_#{f.object.id}"
    .centered{class: klass}= label_tag file_id.to_sym, 'Upload'
    %div{class: klass}= file_field_tag file_id, id: file_id, class: 'icon_files', data: { icon_id: f.object.id }
  .gallery-icon-keyword
    - klass = cycle('even', 'odd')
    .centered{class: klass}= f.label :keyword
    %div{class: klass}= f.text_field :keyword, placeholder: "Keyword"
  .gallery-icon-credit
    - klass = cycle('even', 'odd')
    .centered{class: klass}= f.label :credit
    %div{class: klass}= f.text_field :credit, placeholder: "Credit"
  - if gif.present?
    .gallery-icon-remove.checkbox-field{class: cycle('even', 'odd')}
      = gif.check_box :_destroy, class: 'vmid'
      = gif.label :_destroy, 'Remove from Gallery', class: 'vmid'
    .gallery-icon-destroy.checkbox-field{class: cycle('even', 'odd')}
      = f.check_box :_destroy, class: 'vmid'
      = f.label :_destroy, 'Delete Icon', class: 'vmid'
  - if gif.nil?
    .submit-row.form-table-ender
      = submit_tag "Save", class: 'button'
