- content_for :breadcrumbs do
  - if @icon.user_id == current_user.try(:id)
    = link_to "Galleries", user_galleries_path(current_user)
  - else
    = user_link(@icon.user)
    - unless @icon.user.deleted?
      &raquo;
      = link_to "#{@icon.user.username}'s Galleries", user_galleries_path(@icon.user)
  &raquo;
  = link_to @icon.keyword, icon_path(@icon)
  &raquo;
  %b Edit

%table.form-table
  %tr
    %th
      Edit Icon

= form_for @icon, method: :put, html: {class: 'icon-upload'} do |f|
  .icon-editor
    = render 'editor', f: f, gif: nil
