- content_for :breadcrumbs do
  - if @icon.user_id == current_user.try(:id)
    = link_to "Galleries", galleries_path
  - else
    = link_to "#{@icon.user.username}", user_path(@icon.user)
    &raquo;
    = link_to "#{@icon.user.username}'s Galleries", user_galleries_path(@icon.user)
  &raquo;
  = link_to @icon.keyword, icon_path(@icon)
  &raquo;
  %b Edit

= form_for @icon, method: :put, html: {class: 'icon-upload'}, data: { 'form-data' => (@s3_direct_post.fields), url: @s3_direct_post.url, host: URI.parse(@s3_direct_post.url).host, limit: 1 } do |f|
  %table.form-table
    %tr
      %th.centered{colspan: 2}
        Edit Icon
    %tr
      %td.green.centered{colspan: 2}= icon_tag @icon, id: 'edit-icon'
    %tr
      %th.sub URL
      %td.even
        #icon_conf{class: ('hidden' unless @icon.uploaded?)}
          = image_tag "/images/accept.png", class: 'vmid'
          Uploaded to site
        #icon_url_field{class: ('hidden' if @icon.uploaded?)}
          = f.text_field :url, :placeholder => "URL", :class => 'text'
    %tr
      %th.sub Upload
      %td.odd= file_field_tag :icon_files, id: "icon_files"
    %tr
      %th.sub Keyword
      %td.even= f.text_field :keyword, :placeholder => "Keyword", :class => 'text'
    %tr
      %th.sub Credit
      %td.odd= f.text_field :credit, :placeholder => "Credit", :class => 'text'
    %tr.submit-row
      %th.subber{colspan: 2}
        = submit_tag "Save", class: 'button'
