- content_for :breadcrumbs do
  - if @icon.user_id == current_user.try(:id)
    = link_to "Galleries", user_galleries_path(current_user)
  - else
    = user_link(@icon.user)
    - unless @icon.user.deleted?
      &raquo;
      = link_to "#{@icon.user.username}'s Galleries", user_galleries_path(@icon.user)
  &raquo;
  = link_to @icon.keyword, @icon
  &raquo;
  %b Edit

.editor-title.icon-edit-title Edit Icon

= form_with model: @icon, method: :put, html: { class: 'icon-upload' }, data: s3_form_helper(@s3_direct_post, limit: 1) do |f|
  .icon-editor
    = render 'editor', f: f, gif: nil
