= form_tag icons_path, :method => :post do
  %table#icon-table
    %tr
      %th.centered{colspan: 4}
        Add Icons
    %tr
      %th.sub URL
      %th.sub Keyword
      %th.sub Credit
      %th.sub
    - len = @icons.empty? ? 1 : @icons.size
    - len.times do |i|
      %tr.icon-row
        %td
          = text_field_tag "icons[][url]", @icons[i].try(:[], :url), :placeholder => "URL", :class => 'text'
        %td
          = text_field_tag "icons[][keyword]", @icons[i].try(:[], :keyword), :placeholder => "Keyword", :class => 'text'
        %td
          = text_field_tag "icons[][credit]", @icons[i].try(:[], :credit), :placeholder => "Credit", :class => 'text'
        %td.right-align.icon-buttons
          = image_tag "/images/add.png", class: "icon-row-add"
          = image_tag "/images/minus.png", class: "icon-row-rem"
    %tr.submit-row
      %td.centered{colspan: 4}
        = submit_tag "Add Icons", class: 'button'
