- content_for :breadcrumbs do
  - if @icon.user_id == current_user.try(:id)
    = link_to "Galleries", user_galleries_path(current_user)
  - else
    = user_link(@icon.user)
    - unless @icon.user.deleted?
      &raquo;
      = link_to "#{@icon.user.username}'s Galleries", user_galleries_path(@icon.user)
  &raquo;
  - if @icon.galleries.count == 1
    = link_to @icon.galleries.first.name, gallery_path(@icon.galleries.first)
  - else
    = link_to_if params[:view] != 'galleries', "(#{@icon.galleries.count} Galleries)", icon_path(@icon, view: 'galleries')
  &raquo;
  = link_to_if params[:view].present?, @icon.keyword, icon_path(@icon)
  &raquo;
  - if params[:view] == 'galleries'
    %b Galleries
  - elsif params[:view] == 'posts'
    %b Posts
  - else
    %b Stats

%table.left-info-box.icon-info-box
  %tr
    %th.centered.icon-keyword= @icon.keyword
  %tr
    %td.icons-box.centered.icon-icon= icon_tag @icon
  - if @icon.credit
    %tr
      %td.icon-credit
        .details= sanitize_simple_link_text(@icon.credit)
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to icon_path(@icon, view: 'stats') do
        = image_tag "icons/chart_bar.png"
        Stats
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to icon_path(@icon, view: 'galleries') do
        = image_tag "icons/photos.png"
        &nbsp;Galleries
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to icon_path(@icon, view: 'posts') do
        = image_tag "icons/book_open.png"
        Posts
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to search_replies_path(commit: true, icon_id: @icon.id) do
        = image_tag "icons/table_multiple.png"
        Replies
  - if @icon.user_id == current_user.try(:id)
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to edit_icon_path(@icon) do
          = image_tag "icons/pencil.png"
          Edit Icon
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to avatar_icon_path(@icon), method: :post do
          = image_tag "icons/status_online.png"
          Make Avatar
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to replace_icon_path(@icon) do
          = image_tag "icons/swap.png", style: 'width: 16px;'
          Replace Icon
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to icon_path(@icon), method: :delete, data: { confirm: 'Are you sure you want to delete this icon?' } do
          = image_tag "icons/cross.png"
          Delete Icon

- if params[:view] == 'galleries'
  %table.icon-right-content-box
    %thead
      %tr
        %th Galleries
    - if @icon.galleries.exists?
      = render partial: 'galleries/single', collection: @icon.galleries.ordered_by_name, as: :gallery, locals: {klass: 'subber', skip_forms: true, is_owner: @icon.user == current_user}
    - else
      %tbody
        %tr
          %td.even.centered — No galleries yet —
- elsif params[:view] == 'posts'
  - content_for :posts_title do
    Posts Containing Icon
  = render 'posts/list', posts: @posts, table_class: 'icon-right-content-box'
- else
  %table.icon-right-content-box
    %thead
      %tr
        %th{colspan: 2} Stats
    %tbody
      %tr
        %th.sub.info-label Times Used
        %td.even= @times_used.to_s
      %tr
        %th.sub.info-label Posts In
        %td.even= @posts_used
