- content_for :breadcrumbs do
  - if @icon.user_id == current_user.try(:id)
    = link_to Gallery.model_name.human(count: 2), user_galleries_path(current_user)
  - else
    = user_link(@icon.user)
    - unless @icon.user.deleted?
      &raquo;
      = link_to t('galleries.index.title.user', name: @icon.user.username), user_galleries_path(@icon.user)
  &raquo;
  - if @galleries.present?
    = link_to @galleries.first.name, url_for(@galleries.first)
  - else
    = link_to_if params[:view] != 'galleries', t('.header.galleries', count: @icon.galleries.count), icon_path(@icon, view: 'galleries')
  &raquo;
  = link_to_if params[:view].present?, @icon.keyword, @icon
  &raquo;
  - if params[:view] == 'galleries'
    %b= Gallery.model_name.human(count: 2)
  - elsif params[:view] == 'posts'
    %b= Post.model_name.human(count: 2)
  - else
    %b= t('.header.stats')

%table.left-info-box.icon-info-box
  %tr
    %th.info-box-header.icon-keyword= @icon.keyword
  %tr
    %td.icons-box.centered.icon-icon= icon_tag @icon
  - if @icon.credit
    %tr
      %td.icon-credit
        .details= sanitize_simple_link_text(@icon.credit)
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to icon_path(@icon, view: 'stats') do
        = image_tag "icons/chart_bar.png", alt: ''
        = t('.header.stats')
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to icon_path(@icon, view: 'galleries') do
        = image_tag "icons/photos.png", alt: ''
        = '&nbsp;' + Gallery.model_name.human(count: 2)
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to icon_path(@icon, view: 'posts') do
        = image_tag "icons/book_open.png", alt: ''
        = Post.model_name.human(count: 2)
  %tr
    %td.centered{class: cycle('even', 'odd')}
      = link_to search_replies_path(commit: true, icon_id: @icon.id, sort: :created_new) do
        = image_tag "icons/table_multiple.png", alt: ''
        = Reply.model_name.human(count: 2)
  - if @icon.user_id == current_user.try(:id)
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to edit_icon_path(@icon) do
          = image_tag "icons/pencil.png", alt: ''
          = t('icons.edit.button')
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to avatar_icon_path(@icon), method: :post do
          = image_tag "icons/status_online.png", alt: ''
          = t('icons.avatar.button')
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to replace_icon_path(@icon) do
          = image_tag "icons/swap.png", style: 'width: 16px;', alt: ''
          = t('icons.replace.button')
    %tr
      %td.centered{class: cycle('even', 'odd')}
        = link_to @icon, method: :delete, data: { confirm: t('icons.destroy.confirm') } do
          = image_tag "icons/cross.png", alt: ''
          = t('icons.destroy.button')

- if params[:view] == 'galleries'
  %table.icon-right-content-box
    %thead
      %tr
        %th.table-title= Gallery.model_name.human(count: 2)
    - if @galleries.present?
      = render partial: 'galleries/single', collection: @galleries, as: :gallery, locals: { klass: 'subber', skip_forms: true, is_owner: @icon.user == current_user }
    - else
      %tbody
        %tr
          %td.even.centered= t('galleries.index.empty')
- elsif params[:view] == 'posts'
  - content_for :posts_title do
    = t('.posts_title')
  = render 'posts/list', posts: @posts, table_class: 'icon-right-content-box'
- else
  %table.icon-right-content-box
    %thead
      %tr
        %th.table-title{colspan: 2}= t('.header.stats')
    %tbody
      %tr
        %th.sub.width-150= t('galleries.list_section.times_used')
        %td.even= @times_used.to_s
      %tr
        %th.sub.width-150= t('galleries.list_section.posts_in')
        %td.even= @posts_used
