-# locals: ()

%span.time-loaded{style: 'font-size: 10px; position: absolute; top: 2px; right: 20px;'}= pretty_time(DateTime.now.in_time_zone)

%table
  %thead
    %tr
      %th.table-title{colspan: 7}
        Daily Report -
        = @day.strftime("%b %d, %Y")
        - if @day == Time.zone.today
          %em (Incomplete)
          - if logged_in?
            = link_to output_user_path(current_user), class: 'view-button-link' do
              .view-button
                = image_tag 'icons/book_open.png', class: 'list-view', alt: ''
                Your Output Today
        - if @new_today
          = link_to url_for(day: @day), class: 'view-button-link' do
            .view-button
              = image_tag "icons/list.png", class: 'list-view', alt: ''
              All Today
        - else
          = link_to url_for(day: @day, new_today: true), class: 'view-button-link' do
            .view-button
              = image_tag "icons/new.png", class: 'list-view', alt: 'New', title: 'New Today'
              Only New Today
    %tr
      %th.sub{colspan: 7}= render 'date_nav'
    - if @posts.present?
      %tr
        %th.subber.width-15
        %th.subber= link_to 'Thread', url_for(day: params[:day], sort: 'subject')
        %th.subber= link_to 'Continuity', url_for(day: params[:day], sort: 'continuity')
        %th.subber Authors
        %th.subber.width-70 Replies
        %th.subber.width-70 Today
        %th.subber.width-70
          = link_to 'Updated', url_for(day: params[:day], sort: 'updated')
          - if logged_in?
            |
            = link_to 'Unread', url_for(day: params[:day], sort: 'unread')
  - if @posts.present?
    %tbody
      - @posts.each do |post|
        %tr
          - klass = [cycle('even', 'odd')]
          - klass << 'post-ignored' if ignored?(post)
          %td.vtop.post-completed{class: klass.dup.push(post.complete? ? 'post-complete' : 'post-incomplete')}
            - if post.complete?
              = image_tag "icons/book.png", class: 'vmid', title: "Thread Complete", alt: 'Complete'
            - elsif post.on_hiatus?
              = image_tag "icons/hourglass.png", class: 'vmid', title: "Thread On Hiatus", alt: 'Hiatused'
            - elsif post.abandoned?
              = image_tag "icons/book_grey.png", class: 'vmid', title: "Thread Abandoned", alt: 'Abandoned'
            - if !current_user.try(:hide_warnings) && post.has_content_warnings?
              = image_tag "icons/exclamation.png", class: 'vmid', title: "Content Warning: " + post.content_warnings.pluck(:name).join(', '), alt: 'Has Warnings'
            - if post.created_at.beginning_of_day == @day.beginning_of_day
              = image_tag "icons/new.png", class: 'vmid', title: 'New Today', alt: 'New'
          %td.post-subject{class: klass}
            - if has_unread?(post)
              = link_to unread_path(post) do
                = image_tag unread_img, class: 'vmid mobile-target', title: 'First Unread'
            - if never_read?(post)
              %b= link_to post.subject, post_path(post)
            - else
              = link_to post.subject, post_path(post)
            - if post.description.present?
              %br
              %span.details= sanitize_simple_link_text(post.description)
          %td.vtop.post-board{class: klass}= link_to post.board_name, continuity_path(post.board_id)
          %td.vtop.post-authors{class: klass}= author_links(post, colored: true)
          %td.vtop.centered.post-replies{class: klass}= link_to post.reply_count, stats_post_path(post)
          %td.vtop.centered.post-replies{class: klass}= link_to @reply_counts[post.id].to_i, post_or_reply_mem_link(**@link_targets[post.id].except(:created_at))
          %td.vtop.centered.post-time{class: klass}= @link_targets[post.id][:created_at].strftime("%l:%M %p")
    %tfoot
      %tr
        %td{colspan: 7}= render 'posts/paginator', paginated: @posts
  - else
    %tr
      %td.centered.even{colspan: 7} — No posts yet —
