%span.time-loaded{style: 'font-size: 10px; position: absolute; top: 2px; right: 20px;'}= pretty_time(DateTime.now.in_time_zone)

%table
  %thead
    %tr
      %th{colspan: 7}
        Daily Report -
        = @day.strftime("%b %d, %Y")
        - if @day == Date.today
          %em (Incomplete)
    %tr
      %th.sub{colspan: 7}
        - if @day < Date.today
          = link_to url_for(day: @day + 1.day, sort: params[:sort]) do
            - style = 'font-style: italic;' if @day + 1.day >= Date.today
            .view-button{style: style} &raquo; Next Day
        = link_to url_for(day: @day - 1.day, sort: params[:sort]) do
          .view-button.float-none &laquo; Previous Day
  - posts = DailyReport.new(@day).posts(sort, page, per_page)
  - if posts.present?
    %tbody
      %tr
        %th.subber.width-15
        %th.subber= link_to 'Thread', url_for(day: params[:day], sort: 'subject')
        %th.subber= link_to 'Continuity', url_for(day: params[:day], sort: 'continuity')
        %th.subber Authors
        %th.subber.width-70 Replies
        %th.subber.width-70 Today
        %th.subber.width-70= link_to 'Updated', url_for(day: params[:day], sort: 'updated')
      - posts.each do |post|
        - next unless post.visible_to?(current_user)
        %tr
          - klass = [cycle('even', 'odd')]
          - klass << 'post-ignored' if ignored?(post)
          - replies_today = post.replies.where(created_at: @day.beginning_of_day .. @day.end_of_day).order('created_at asc')
          - linked = linked_for(@day, post, replies_today)
          %td.vtop.post-completed{class: klass.dup.push(post.completed? ? 'post-complete' : 'post-incomplete')}
            - if post.completed?
              = image_tag "/images/book.png", class: 'vmid', title: "Thread Complete"
            - if post.on_hiatus?
              = image_tag "/images/hourglass.png", class: 'vmid', title: "Thread On Hiatus"
            - if post.abandoned?
              = image_tag "/images/book_grey.png", class: 'vmid', title: "Thread Abandoned"
            - if !current_user.try(:hide_warnings) && post.has_content_warnings?
              = image_tag "/images/exclamation.png", class: 'vmid', title: "Content Warning: " + post.content_warnings.pluck(:name).join(', '), alt: '!'
            - if post.created_at.beginning_of_day == @day.beginning_of_day
              = image_tag "/images/new.png", class: 'vmid', title: 'New Today', alt: 'New'
          %td.post-subject{class: klass}
            - if has_unread?(post)
              = link_to unread_path(post) do
                = image_tag unread_img, class: 'vmid', title: 'First Unread'
            - if never_read?(post)
              %b= link_to post.subject, post_path(post)
            - else
              = link_to post.subject, post_path(post)
            - if post.description.present?
              %br
              %span.details= sanitize_post_description(post.description).html_safe
          %td.vtop.post-board{class: klass}= link_to post.board_name, board_path(post.board_id)
          %td.vtop.post-authors{class: klass}
            - authors = post.authors.sort_by { |author| author.username.downcase }
            - if authors.length < 4
              = authors.map { |author| link_to fun_name(author), user_path(author) }.join(', ').html_safe
            - else
              = link_to fun_name(post.user), user_path(post.user)
              and
              = link_to "#{authors.length-1} others", stats_post_path(post)
          %td.vtop.centered.post-replies{class: klass}= link_to post.reply_count, stats_post_path(post)
          %td.vtop.centered.post-replies{class: klass}= link_to replies_today.count, post_or_reply_link(linked)
          %td.vtop.centered.post-time{class: klass}= linked.created_at.strftime("%l:%M %p")
    %tfoot
      %tr
        %td{colspan: 7}= render partial: 'posts/paginator', locals: {paginated: posts}
  - else
    %tr
      %td.centered.even{colspan: 7} — No posts yet —
