- content_for :breadcrumbs do
  = link_to "Indexes", indexes_path
  &raquo;
  = link_to @index_post.index.name, @index_post.index
  &raquo;
  = link_to @index_post.post.subject, post_path(@index_post.post)

= form_for @index_post do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2} Edit Post In Index
    %tbody
      %tr
        %th.sub Index
        %td.even
          = link_to @index_post.index.name, @index_post.index
      - if @index_post.index_section.present?
        %tr
          %th.sub Index Section
          %td.odd
            = link_to @index_post.index_section.name, @index_post.index_section
      %tr
        %th.sub Post
        %td.even= link_to @index_post.post.subject, post_path(@index_post.post)
      %tr
        %th.sub.vtop= f.label :description
        %td.odd= f.text_area :description
      %tr
        %th.form-table-ender{colspan: 2}= submit_tag "Save", class: 'button'
