- content_for :breadcrumbs do
  = link_to "Indexes", indexes_path
  &raquo;
  = link_to @index_post.index.name, @index_post.index
  &raquo;
  %b Add Post


= form_for @index_post, url: index_posts_path, method: :post do |f|
  %table.form-table
    %thead
      %tr
        %th.editor-title{colspan: 2} Add Post to Index
    %tbody
      %tr
        %th.sub= f.label :index_id, 'Index'
        %td.even
          = f.hidden_field :index_id
          = link_to @index_post.index.name, @index_post.index
      - if @index_post.index_section.present?
        %tr
          %th.sub= f.label :index_section_id, 'Index Section'
          %td.odd
            = f.hidden_field :index_section_id
            = link_to @index_post.index_section.name, @index_post.index_section
      %tr
        %th.sub= f.label :post_id, 'Post'
        %td.even= f.select :post_id, options_from_collection_for_select([], :id, :subject, @index_post.post_id)
      %tr
        %th.sub.vtop= f.label :description
        %td.odd= f.text_area :description
    %tfoot
      %tr
        %th.form-table-ender{colspan: 2}= submit_tag "Save", class: 'button'
