!!!
%html
  %head
    %title Glowfic
    %meta{ :charset => "utf-8" }
    %link{ :href => "/stylesheets/style.css", :rel => "stylesheet", :type => "test/css", :media => "all" }
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = javascript_include_tag 'application'
  %body
    %table#wrapper
      %tr
        %td#header{:colspan=>3}
          =link_to root_path do
            = image_tag '/images/logo.png'
      %tr
        %td.navigation-mini
        %td#sidebar{:rowspan=>2 + flash.keys.size}
          .padding-top-3
            - if logged_in?
              = link_to icons_path do
                - if current_user.avatar
                  = image_tag current_user.avatar
                  %br
                - else
                  .empty-avatar Icon
              %b= current_user.username
              %ul
                %li Account Settings
                %li Inbox
                %li Notifications
                %li= link_to "Templates", templates_path
                %li= link_to "Characters", characters_path
                %li= link_to "Icons", icons_path
                %li= link_to "Galleries", galleries_path
              = link_to logout_path, :method => :delete do
                = button_tag "Log out"
            - else
              %h4 Log In
              = form_tag login_path, :method => :post do
                = text_field_tag :username, params[:username], :class => "text-input", :placeholder => "Username"
                = password_field_tag :password, params[:password], :class => "text-input", :placeholder => "Password"
                = submit_tag "Log in"
                %br
                %br
                = link_to "Sign up", new_user_path
        %td.navigation Navbar
      <tr>
      %td#content{:rowspan => 1 + flash.keys.size }
      - flash.keys.each do |key|
        %td{:class=>key}= flash[key]
        </tr><tr>
      %td#content
        .padding-20
          = yield
      </tr>
