!!!
%html
  %head
    %title Glowfic
    %meta{ :charset => "utf-8" }
    %link{ :href => "/stylesheets/style.css", :rel => "stylesheet", :type => "test/css", :media => "all" }
    = csrf_meta_tag
    = javascript_include_tag 'application'
  %body
    %table#wrapper
      %tr
        %td#header{:colspan=>2}
          Glowfic Forums
      %tr
        %td#sidebar
          .padding-top-3
            = image_tag "https://pbs.twimg.com/profile_images/482603626/avatar.png"
            %b Marri
            %ul
              %li Account Settings
              %li Inbox
              %li Notifications
            - if logged_in?
              = link_to "Log out", logout_path, :method => :delete
            - else
              = form_tag login_path, :method => :post do
                = text_field_tag :username
                %br
                = password_field_tag :password
                %br
                = submit_tag "Log in"

        %td#content
          .padding-10
            = yield